
@media screen {


    #tbl_diarios td {
        white-space: nowrap
    }

    .chart_div
    {
        width : 330pt;
        height : 200pt;
        background-color : red;
    }


    a :after {
        background-color: #d9d9d9;
        width: 100%;
    }



    img {
        fill: red;
    }

    a {
        text-decoration: none;
        color: #007aff;
    }

        a:hover {
            text-decoration: none;
            color: #007aff;
        }

        a:visited {
            text-decoration: none;
            color: #007aff;
        }


    input, label, select {
        width: 95%;
        padding: 2px 2px 2px 2px;
    }


    label {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 20%;
        flex-grow: 1;
        padding: .6rem;
        align-items: flex-end;
        /* align-self: flex-end; */
    }



    span {
        font-size: small;
    }

    body {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .rebaixado {
        padding-top: 44px;
        padding-bottom: 40;
    }

    tr {
        height: 25px;
    }


    td {
        border-bottom: 1px solid #f9f8f8;
        padding: 5px;
        padding-left: 10px;
    }


    body, form, div {
        font-family: Sans-serif;
    }

    form {
        line-height: 2em;
    }

    table {
        width: 100%;
        border-spacing: 0;
    }


    #novo {
        position: fixed;
        top: 5px;
        right: 10px;
        z-index: 1000;
    }

    #apagar {
        position: fixed;
        top: 5px;
        right: 10px;
        z-index: 1000;
    }

    #salvar {
        position: fixed;
        top: 5px;
        right: 10px;
        z-index: 1000;
    }

    #voltar {
        position: fixed;
        top: 5px;
        left: 10px;
        z-index: 1000;
    }

    #editar {
        position: fixed;
        top: 5px;
        left: 10px;
        z-index: 1000;
    }

    #cancelar {
        position: fixed;
        top: 5px;
        left: 10px;
        z-index: 1000;
    }

    #titulo {
        font-weight: bold;
        text-align: center;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto;
        margin-top: 5px;
    }

    #logo {
        background: url("/content/logo.png") no-repeat;
        display: block;
        width: 2em;
        height: 2em;
        background-size: 2em;
        margin: .2rem 0 0 .4rem;
    }




    #loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: gray;
        opacity: 0.9;
    }

    #img_loading {
        display: block;
        width: 160px;
        height: 160px;
        margin: auto;
    }


    .pnPax .titulo, .pnPaxVolta .titulo{
        margin: 0px 0px 0px 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        width : 100%;
        background-color : lightblue;
        text-align : center;
    }
    
    .pnPax, .pnPaxVolta, .pnTrip
    {
        border : 1px;
        border-style : solid;
        padding : 5px 5px 5px 5px;
        background-color : #f9f8f8;
    }


    .checkedlistbox {
        width: 100%;
        height: 300px;
        overflow-y: scroll;
        border-width: 1px;
        border-color: darkgrey;
        border-style: solid;
    }

    .checkedlistbox span {
        display: block;
    }

    .checkedlistbox input, label, select {
    width: 10%;
    padding : 2px 2px 2px 2px;
}


    .fixed_top_extendido {
        position: fixed;
        top: 44px;
        left: 0;
        width: 100%;
        height: 44px;
        z-index: 10;
        background: rgba(246,246,248,.85);
        margin: 0 auto;
        padding-left: 20px;
    }

    #buscar {
        position: absolute;
        margin: auto;
    }

    #dt_busca {
        width: 80%;
        margin-left: 10px;
        margin: auto;
    }

    .fixed_top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 44px;
        z-index: 10;
        background: rgba(246,246,248,.85);
    }


    .fixed_top h1 {
        margin: 0;
        padding-top: -10px;
        text-align: center;
        font-size: 18px;
        line-height: 35px;
    }

    svg {
        fill: rgb(21, 125, 251);
    }

    td:active {
        background-color: #d9d9d9;
    }

    tr:active {
        background-color: #d9d9d9;
    }

    td {
        top: 50%;
        right: 15px;
        width: 10px;
        background-size: 20px 20px;
        height: 44px;
    }

    .titulo_pagina {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }


    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    .round {
        position: relative;
    }

        .round label {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            height: 14px;
            left: 0px;
            top: 5px;
            position: absolute;
            width: 14px;
        }

            .round label:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 3px;
                left: 5px;
                opacity: 0;
                position: absolute;
                top: 5px;
                transform: rotate(-45deg);
                width: 6px;
            }

        .round input[type="checkbox"] {
            visibility: hidden;
        }

            .round input[type="checkbox"]:checked + label {
                background-color: #007aff;
                border-color: #007aff;
            }

                .round input[type="checkbox"]:checked + label:after {
                    opacity: 1;
                }
}

@media print {


.container
{
    display : none;
}

body
{
    font-family : arial
}

table {
    width : 100%;  
    font-size: 10pt;
    border-collapse: collapse;
} 

td, th {
    border: 0.5px solid black;
}

.mta
{
    text-align : center;
}

.align-center
{
    text-align : center;
}

#logo_emar
{
    width:51pt;
    height:24pt
}

}