.content {
  display: flex;
  margin-top: 55px;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-around;
}

.trabalhos {
  width: 90%;
}

.trabalhos>tbody>tr>td {
  text-align: center;
}

.info {
  display: flex;
  width: 90%;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.coordenadorObs {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.coordenadorObs>label:last-child {
  margin-top: 10px;
}

.coordenadorObs>label>input,
.coordenadorObs>label>textarea {
  width: 100%;
}

.coordenadorObs>label>textarea {
  height: 180px;
}

.info>label {
  width: 40%;
}

.info>label>textarea {
  height: 200px;
  width: 94%;
}

.excluir {
  background: #e4e4e4;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.btn-success {
  background-color: #1fce45;
}

.btn-email {
  margin-top: 15px;
  width: 100%;
  background-color: #cecece;
}

.error {
  border: solid 2px #ff6969;
}

#salvar {
  position: fixed;
  top: 5px;
  right: 25px;
  cursor: pointer;
  fill: #157dfb;
  z-index: 2;
}
