<app-loading *ngIf="loading"></app-loading>
<div class="content">

  <label for="data" style="width: 200px;display: flex;justify-content: center; flex-direction: column; margin-bottom: 15px;">
    Data:
    <input id="data" type="date" [(ngModel)]="dataEscalaTrabalho" (change)="onChangeDate()">
  </label>
  <button class="btn" (click)="newEscala()">Nova Escala</button>

  <table class="table trabalhos">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Matrícula</th>
        <th>Comandante</th>
        <th>1º Oficial</th>
        <th>Apresentação</th>
        <th>Lim. Refeição</th>
        <th>Base</th>
        <th>Cliente</th>
        <th>Observações</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trabalho of escalasAtivas()">
        <td>
          {{trabalho.Prefixo.TipoDeAeronave.Nome}}
          <label for="disponivel" style="display: flex;align-items: center;">
            <input type="checkbox" name="disponivel" id="disponivel" [(ngModel)]="trabalho.Disponibilidade">
            Disponível
          </label>
        </td>
        <td>
          <div *ngIf="!trabalho.novo">
            {{trabalho.Prefixo.PrefixoCompleto}}
          </div>
          <select name="prefixo" [(ngModel)]="trabalho.Prefixo" (change)="show()" *ngIf="trabalho.novo">
            <option value="">---</option>
            <option *ngFor="let prefixo of prefixos" [ngValue]="prefixo">{{prefixo.PrefixoCompleto}}</option>
          </select>
        </td>
        <td>
          <select name="comandate" [(ngModel)]="trabalho.Escalas[0].Tripulante.Id">
            <option value="">---</option>
            <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">{{tripulante.Trato}}</option>
          </select>
        </td>
        <td>
          <select name="oficial" [(ngModel)]="trabalho.Escalas[1].Tripulante.Id" *ngIf="trabalho.Prefixo.TipoDeAeronave.NumeroDeTripulantes === 2">
            <option value="">---</option>
            <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">{{tripulante.Trato}}</option>
          </select>
        </td>
        <td>
          <input type="time" name="apresentacao" [(ngModel)]="trabalho.HoraDaApresentacao" (change)="onChangeApresentacao(trabalho)">
        </td>
        <td>
          <input type="time" name="refeicao" readonly [(ngModel)]="trabalho.LimiteDeRefeicao">
        </td>
        <td>
          <select name="base" [(ngModel)]="trabalho.Localidade.Id">
            <option value="">---</option>
            <option *ngFor="let base of bases" value="{{base.Id}}">{{base.NomeICAO}}</option>
          </select>
        </td>
        <td>
          <select name="cliente" [(ngModel)]="trabalho.Cliente.Id">
            <option value="">---</option>
            <option *ngFor="let cliente of clientes" value="{{cliente.Id}}">{{cliente.Nome}}</option>
          </select>
        </td>
        <td>
          <textarea name="" id="" cols="" rows="" [(ngModel)]="trabalho.Observacao"></textarea>
        </td>
        <td>
          <button class="excluir" (click)="deleteEscala(trabalho)">
            <img src="assets/icons/trash-icon.svg" alt="Lixeira">
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="info">

    <div class="coordenadorObs">
      <label for="observacao">
        Observações:
        <textarea name="observacao" id="observacao" cols="65" [(ngModel)]="escala.Comentario"></textarea>
      </label>

      <label for="coordenador">
        Coordenador:
        <input type="text" name="coordenador" id="coordenador" [(ngModel)]="escala.Coordenador">
      </label>
    </div>

    <label for="listaDistribuicao">
      Lista de Distribuição:
      <textarea name="listaDistribuicao" id="listaDistribuicao" [(ngModel)]="escala.ListaDeEmails" cols="45"></textarea>
    </label>

  </div>

</div>
