<form [formGroup]="fg" class="mt-2">
    <div *ngIf="!completa">
        <button type="button" pButton pRipple label="Data"></button>
        <p-calendar formControlName="Data" dateFormat="dd/mm/yy"></p-calendar>
        <!-- <input pInputText type="text" formControlName="Data" (focus)="$event.target.select()"> -->
        <p-button icon="pi pi-search" iconPos="left" (click)="enviarForm()" class="p-ml-2"></p-button>
    </div>


    <div class="grid" *ngIf="completa">

        <div class="grid">
            <div class="col"></div>
            <div class="col"><button type="button" pButton pRipple label="Tripulantes"></button></div>
            <div class="col">
                <select formControlName="Tripulantes" id="Tripulantes" class="custom-select" size="11" multiple>
                    <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">
                        {{tripulante.Trato}}
                    </option>
                </select>
            </div>
            <div class="col-9"></div>
        </div>

        <div class="grid">
            <div class="col"></div>
            <div class="col"><button type="button" pButton pRipple label="Data Inicial"></button></div>
            <div class="col">
                <!-- <input type="date" class="form-control" formControlName="DataInicial"> -->
                <p-calendar formControlName="DataInicial" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="col-9"></div>
        </div>



        <div class="grid">
            <div class="col"></div>
            <div class="col">
                <button type="button" pButton pRipple label="Data Final"></button>
            </div>
            <div class="col">
                <!-- <input type="date" class="form-control" formControlName="DataFinal"> -->
                <p-calendar formControlName="DataFinal" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="col-9"></div>
        </div>



        <div class="grid">
            <div class="col"></div>
            <div class="col">
                <button type="button" pButton pRipple label="Níveis"></button>
            </div>
            <div class="col">
                <select formControlName="Niveis" id="Niveis" class="custom-select" size="5" multiple>
                    <option *ngFor="let nivel of niveis" value="{{nivel.Id}}">
                        {{nivel.Texto}}
                    </option>
                </select>
            </div>
            <div class="col-9"></div>
        </div>



        <div class="grid">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col-9"></div>
        </div>



        <div class="grid">
            <div class="col"></div>
            <div class="col-2"> <button type="button" pButton pRipple label="Pesquisa Avançada" (click)="enviarForm()"
                    icon="pi pi-search"></button></div>
            <div class="col-9"></div>
        </div>




    </div>

</form>