<app-titulo titulo="Escala Diária de Tripulantes" [carregando]="!tudoPronto"></app-titulo>


<div class="nao-imprimir">


    <div class="grid">
        <div class="col"></div>
        <div class="col">
            <button type="button" pButton pRipple label="Inicial"></button>
            <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
        </div>
        <div class="col">
            <button type="button" pButton pRipple label="Final"></button>
            <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
        </div>
        <div class="col"></div>
    </div>

    <div class="grid">
        <div class="col"></div>
        <div class="col">
            <button type="button" pButton pRipple label="Referência"></button>
            <p-calendar [(ngModel)]="dataReferencia" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
        </div>
        <div class="col">
            <button type="button" pButton pRipple label="Base"></button>
            <p-dropdown [options]="filtroBase" [(ngModel)]="baseDeOperacaoSelecionada" [filter]="true"
                filterBy="label,value.name" optionLabel="Nome"></p-dropdown>
        </div>
        <div class="col"><button pButton type="button" icon="pi pi-search" iconPos="left" (click)="rodarRelatorio()" class="ml-2"></button></div>
        <div class="col"></div>
    </div>
</div>

<table class="somente-impressora">
    <tr>
        <td class="c-20" rowspan="5">
            <img src="https://aeroleo.controledafadiga.com.br/assets/img/PETROBRAS.png" class="mt-2 mb-2" width="170px">
        </td>
        <td class="c-60" rowspan="5">
            <h3>ESCALA DIÁRIA DE TRIPULANTES</h3>
        </td>
        <td class="c-20">
            Início da Quinzena
        </td>
        <td>
            {{retInicio}}
        </td>
    </tr>
    <tr>
        <td>
            Fim da Quinzena
        </td>
        <td>
            {{retFim}}
        </td>
    </tr>
    <tr>
        <td>
            Empresa
        </td>
        <td>
            {{empresa}}
        </td>
    </tr>
    <tr>
        <td>
            Base
        </td>
        <td>
            {{ICAO}}
        </td>
    </tr>
    <tr>
        <td>
            Data de Referência
        </td>
        <td>
            {{retReferencia}}
        </td>
    </tr>
</table>

<p-table [value]="resultado">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th rowspan="2">PREFIXO</th>
            <th rowspan="2">MODELO</th>
            <th rowspan="2">TIPO ESCALA</th>
            <th rowspan="2">HORÁRIO APRESENTAÇÃO</th>
            <th rowspan="2">FUNÇÃO</th>
            <th rowspan="2">NOME</th>
            <th rowspan="2">ANAC</th>
            <th rowspan="2">SISPAT</th>
            <th rowspan="2">CPF</th>
            <th rowspan="2">VALIDADE ASO</th>
            <th rowspan="2">VALIDADE SIMULADOR</th>
            <th rowspan="2">VALIDADE HUET*</th>
            <th rowspan="2">VALIDADE MAT.PERIG.**</th>
            <th rowspan="2">VALIDADE CRM</th>
            <th colspan="2">Pouso Noturno***</th>
        </tr>
        <tr>
            <th>3 CICLOS / 90 DIAS (VALIDADE)</th>
            <th>2 CICLOS / 30 DIAS AEROMÉDICO</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td rowspan="3" *ngIf="rowData.Prefixo">
                {{rowData.Prefixo}}
            </td>
            <td rowspan="3" *ngIf="rowData.Prefixo">
                {{rowData.Modelo}}
            </td>
            <td rowspan="3" *ngIf="rowData.Prefixo">
                {{rowData.TipoDaEscala}}
            </td>
            <td rowspan="3" *ngIf="rowData.Prefixo">
                {{rowData.Apresentacao}}
            </td>
            <td>
                {{rowData.Funcao}}
            </td>
            <td>
                {{rowData.Nome}}
            </td>
            <td>
                {{rowData.ANAC}}
            </td>
            <td>
                {{rowData.SISPAT}}
            </td>
            <td>
                {{rowData.CPF}}
            </td>
            <td>
                <span [class.texto-vermelho]="rowData['VALIDADE.ASO.vencido']">{{rowData["VALIDADE ASO"]}}</span>
            </td>
            <td [class.texto-vermelho]="rowData['VALIDADE.SIMULADOR.vencido']">
                {{rowData["VALIDADE SIMULADOR"]}}
            </td>
            <td [class.texto-vermelho]="rowData['VALIDADE.HUET*.vencido']">
                {{rowData["VALIDADE HUET*"]}}
            </td>
            <td [class.texto-vermelho]="rowData['VALIDADE.MAT..PERIG.**.vencido']">
                {{rowData["VALIDADE MAT. PERIG.**"]}}
            </td>
            <td [class.texto-vermelho]="rowData['VALIDADE.CRM.vencido']">
                {{rowData["VALIDADE CRM"]}}
            </td>
            <td>
                {{rowData["3Ciclos90Dias"]}}
            </td>
            <td>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td colspan="16">
                <p>Instruções para preenchimento:</p>
                <p>* HUET: preencher validade de acordo com a exigência do contrato, que pode variar entre 2 e 4 anos;
                </p>
                <p>** Materiais Perigosos: considerar validade de 1 ano (conforme legislação);</p>
                <p>*** Pouso Noturno: </p>
                <ul>
                    <li>Coluna de 3 ciclos a cada 90 dias: preencher para escalas de transformers e aeromédicos que
                        poderão efetuar voos noturnos;</li>
                    <li>Coluna de 2 ciclos a cada 30 dias: preencher somente para escalas de aeromédicos que poderão
                        efetuar voos noturnos;</li>
                    <li>Só serão considerados treinamentos reais realizados com pouso em unidades marítimas, salvo
                        exceções em acordo com base operacional da PETROBRAS.</li>
                </ul>
                <p>Tripulantes que apresentarem qualquer requisito inválido/vencido não estão autorizados a voar pela
                    Petrobras, salvo exceção da RBAC 61.33.c, que permite voo com CHT vencida até 30 dias. </p>
                <p>Tripulantes autorizados para operação PETROBRAS para determinada aeronave/contrato estão autorizados
                    a efetuar voos de outras aeronaves/contratos de mesmo modelo, desde que a OPERADORA AÉREA se
                    responsabilize de que a tripulação atenda a todos os requisitos contratuais do outro contrato.</p>

            </td>
        </tr>
    </ng-template>
</p-table>