<div class="grid editar-tripulantes">    

    <div class="div-loading" [class.mostrar-loading]="mostrarLoading">
        <svg viewBox="25 25 50 50" class="p-progress-spinner-svg" style="animation-duration: 2s;"><circle cx="50" cy="50" r="20" stroke-miterlimit="10" class="p-progress-spinner-circle" fill="none" stroke-width="2"></circle></svg>
    </div>
    
    <button [disabled]="!liberarBotaoSalvar" (click)="salvar()" type="button" class="p-button-success salvar-tripulante" icon="pi pi-check" pButton pRipple label="Salvar"></button>

    <div class="col-3">        
        <button type="button" class="label-fixo" pButton pRipple label="STATUS"></button>            
    </div>
    <div class="col-3 div-checkbox">
        <input type="checkbox" [(ngModel)]="bolinhaCinza" (change)="marcarBolinhas('bolinhaCinza')">
        <div class="bolinha" ngClass="cinza"></div>

        <input type="checkbox" [(ngModel)]="bolinhaVermelha" (change)="marcarBolinhas('bolinhaVermelha')">
        <div class="bolinha" ngClass="vermelha"></div>

        <input type="checkbox" [(ngModel)]="bolinhaAmarela" (change)="marcarBolinhas('bolinhaAmarela')">
        <div class="bolinha" ngClass="amarela"></div>

        <input type="checkbox" [(ngModel)]="bolinhaVerde" (change)="marcarBolinhas('bolinhaVerde')">
        <div class="bolinha" ngClass="verde"></div>
    </div>
    <div class="col-6">
        <button type="button" class="label-justificativa" pButton pRipple label="Justificativa"></button>
        <textarea [(ngModel)]="tripulante.Justificativa"></textarea>
    </div>

    <div class="col-12">        
        <button type="button" class="label-fixo" pButton pRipple label="Nome Completo"></button>
        <input pInputText required type="text" class="input-fixo" [(ngModel)]="tripulante.NomeCompleto" (input)="validarValores()">            
    </div>

    <div class="col-12">        
        <button type="button" class="label-fixo" pButton pRipple label="E-Mail"></button>
        <input pInputText type="text" class="input-fixo" [(ngModel)]="tripulante.Email">                    
    </div>

    <div class="col-6">        
        <button type="button" class="label-fixo" pButton pRipple label="Trato"></button>
        <input pInputText required type="text" [(ngModel)]="tripulante.Trato" (input)="validarValores()">                    
    </div>
    <div class="col-6">        
        <button type="button" class="label-fixo-2" pButton pRipple label="Código ANAC"></button>
        <input pInputText type="text"[(ngModel)]="tripulante.CodigoANAC">                    
    </div>

    <div class="col-6">         
        <button type="button" class="label-fixo" pButton pRipple label="CPF"></button>        
        <p-inputMask inputId="input_cpf_mask" mask="999.999.999-99" [(ngModel)]="tripulante.CPF" (onComplete)="validarValorCPF()"></p-inputMask>                    
    </div>
    <div class="col-6">        
        <button type="button" class="label-fixo-2" pButton pRipple label="SISPAT"></button>
        <input pInputText type="text"[(ngModel)]="tripulante.CodigoPetrobras">                    
    </div>
    <div class="col-6">        
        <button type="button" class="label-fixo-2" pButton pRipple label="Matrícula (TOTVS)"></button>
        <input pInputText type="text"[(ngModel)]="tripulante.MatriculaInterna">                    
    </div>
    <div class="col-6">
        <button type="button" class="label-fixo-2" pButton pRipple label="Matrícula"></button>
        <input pInputText type="text"[(ngModel)]="tripulante.Matricula">
    </div>
    
    <div class="col-6">        
        <button type="button" class="label-fixo-2" pButton pRipple label="Licença"></button>
        <input pInputText type="text"[(ngModel)]="tripulante.Licenca">                    
    </div>
    <div class="col-6">        
        <button type="button" class="label-fixo" pButton pRipple label="Data Nascimento"></button>
        <p-calendar [inputStyle]="{'width':'162px'}" [(ngModel)]="dataNascimento" selectionMode="single" dateFormat="dd/mm/yy"
            showIcon="true"></p-calendar>                    
    </div>

    <div class="col-6">        
        <button type="button" class="label-fixo" pButton pRipple label="Data Admissão"></button>
        <p-calendar [inputStyle]="{'width':'162px'}" [(ngModel)]="dataAdmissao" selectionMode="single" dateFormat="dd/mm/yy"
            showIcon="true"></p-calendar>                    
    </div>
    <div class="col-6">        
        <button type="button" class="label-fixo-2" pButton pRipple label="Quinzena"></button>
        <input pInputText type="text"[(ngModel)]="tripulante.Quinzena">                    
    </div>

    <div class="col-6">        
        <button type="button" class="label-fixo" pButton pRipple label="Base Contratual"></button>
        <p-dropdown [options]="basesTripulante" dataKey="Id" placeholder="Selecione" optionLabel="Nome"
                    [showClear]="true" [(ngModel)]="tripulante.Base" [style]="{'width':'200px'}" ></p-dropdown>                   
    </div>
    <div class="col-6">        
        <button type="button" class="label-fixo-2" pButton pRipple label="Cargo"></button>
        <p-dropdown [options]="cargos" dataKey="Id" placeholder="Selecione" optionLabel="Nome"
                    [showClear]="true" [(ngModel)]="tripulante.Cargo" [style]="{'width':'200px'}" ></p-dropdown>                            
    </div>

    <div class="col-1">        
        <button type="button" pButton pRipple label="Peso"></button>                            
    </div>
    <div class="col-5">
        <input pInputText type="text" [style]="{'width':'86px', 'margin-left': '8px'}" [(ngModel)]="ultimoPesoLb" (input)="ajustarValorQuilos()">
        <button type="button" pButton pRipple label="Lb"></button>

        <input readonly="true" disabled="true" pInputText type="text" [style]="{'width':'86px', 'margin-left': '10px'}" [(ngModel)]="ultimoPesoKg">
        <button type="button" pButton pRipple label="Kg"></button>
    </div>


    <div class="col-6">        
        <button type="button" class="label-fixo-2" pButton pRipple label="Voo com Instrutor"></button>
        <input type="checkbox" [(ngModel)]="tripulante.SoVoaComInstrutor">
    </div>

    <div class="col-6"></div>

    

    <div class="col-6">        
        <button type="button" class="label-fixo" pButton pRipple label="Data Comando"></button>
        <p-calendar [inputStyle]="{'width':'162px'}" [(ngModel)]="tripulante.ComandanteEm" selectionMode="single" dateFormat="dd/mm/yy"
            showIcon="true"></p-calendar>                    
    </div>    

    <div class="col-6">        
        <button type="button" class="label-fixo" pButton pRipple label="Data Instrutor"></button>
        <p-calendar [inputStyle]="{'width':'162px'}" [(ngModel)]="tripulante.InstrutorEm" selectionMode="single" dateFormat="dd/mm/yy"
            showIcon="true"></p-calendar>                    
    </div>

</div>