<div class="content">
  <div class="form">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" [(ngModel)]="username">
  </div>

  <div class="form">
    <label for="password">Senha Atual:</label>
    <input type="password" name="password" id="password" [(ngModel)]="senhaAntiga">
  </div>

  <div class="form">
    <label for="password">Nova Senha:</label>
    <input type="password" name="password" id="password" [(ngModel)]="senhaNova">
  </div>

  <button (click)="saveNewPassword()">Trocar Senha</button>
</div>
