<div>
  <div class="form">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </div>

  <div class="form">
    <label for="password">Senha Atual:</label>
    <input type="password" name="password" id="password">
  </div>

  <div class="form">
    <label for="password">Nova Senha:</label>
    <input type="password" name="password" id="password">
  </div>


  <div class="form">
    <label for="password">Repetir Senha:</label>
    <input type="password" name="password" id="password">
  </div>

  <button>Trocar Senha</button>
</div>
