<app-loading *ngIf="loading"></app-loading>
<app-menssage></app-menssage>

<div class="content">
  <div class="form">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" [(ngModel)]="user.Username">
  </div>

  <div class="form">
    <label for="password">Senha Atual:</label>
    <input type="password" name="password" id="password" [(ngModel)]="user.Password">
  </div>

  <div class="form">
    <label for="password">Nova Senha:</label>
    <input type="password" name="password" id="password" [(ngModel)]="user.NewPassword">
  </div>

  <div class="form">
    <button class="btn btn-new" (click)="saveNewPassword()">Trocar Senha</button>
  </div>
</div>
