<div class="grid assinatura">    

    <div class="div-loading" [class.mostrar-loading]="mostrarLoading">
        <svg viewBox="25 25 50 50" class="p-progress-spinner-svg" style="animation-duration: 2s;"><circle cx="50" cy="50" r="20" stroke-miterlimit="10" class="p-progress-spinner-circle" fill="none" stroke-width="2"></circle></svg>
    </div>
    
    <button [disabled]="!liberarBotaoEnviarEmail" (click)="enviarEmail()" type="button" class="p-button-success enviar-email" icon="pi pi-id-card" pButton pRipple label="Enviar pedido por e-mail"></button>

    <div class="p-field col-12">
        <h2>Anexos para assinar</h2>
        <div class="p-field">
            
            <!-- Atenção: não pude reutilizar o componente app-arquivos pois há detalhes específicos aqui -->

            <p-fileUpload name="anexos[]" accept="application/pdf" customUpload="true" chooseLabel="Anexos"
                [auto]="true" (uploadHandler)="uploadAnexos($event)" maxFileSize="1000000000" multiple="multiple">

                <ng-template pTemplate="toolbar">
                </ng-template>
                <ng-template let-file pTemplate="file">
                </ng-template>

                <ng-template pTemplate="content">

                    <p-table [value]="DadosAssinatura.Assinatura.Arquivos" width="100%">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                        <th>Arquivo</th>
                        <th></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-file>
                        <tr>
                            <td (click)="abrirArquivo(file.Id)">
                                <i class="pi pi-file-pdf"></i>
                                {{file.FileName}}
                            </td>
                            <td style="width: 200px;">
                                <button pButton icon="pi pi-trash" class="p-button-danger" label="Apagar"
                                (click)="apagarAnexo(file.Id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>

                </ng-template>
                </p-fileUpload>

            <!--<app-anexos [listaArquivos]='DadosAssinatura.Assinatura.Arquivos' [callbackFunction]="uploadCompleto"></app-anexos>-->
        </div>
    </div>

</div>