<div class="grid assinatura">    

    <div class="div-loading" [class.mostrar-loading]="mostrarLoading">
        <svg viewBox="25 25 50 50" class="p-progress-spinner-svg" style="animation-duration: 2s;"><circle cx="50" cy="50" r="20" stroke-miterlimit="10" class="p-progress-spinner-circle" fill="none" stroke-width="2"></circle></svg>
    </div>
    
    <button [disabled]="!liberarBotaoEnviarEmail" (click)="enviarEmail()" type="button" class="p-button-success enviar-email" icon="pi pi-id-card" pButton pRipple label="Enviar pedido por e-mail"></button>

</div>