<div class="d-md-none">pequeno</div>
<div class="d-none d-md-block">grande</div>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-12">titulo1</div>
            </div>
            <div class="row">
                <div class="col-4">123</div>
                <div class="col-4">456</div>
                <div class="col-4">789</div>
            </div>
            <div class="row">
                <div class="col-4">123</div>
                <div class="col-4">456</div>
                <div class="col-4">789</div>
            </div>
            <div class="row">
                <div class="col-4">123</div>
                <div class="col-4">456</div>
                <div class="col-4">789</div>
            </div>
        </div>
        <div class="col-md-6 ml-auto">
            <div class="row">
                <div class="col-12">titulo1</div>
            </div>
            <div class="row">
                <div class="col-4">123</div>
                <div class="col-4">456</div>
                <div class="col-4">789</div>
            </div>
            <div class="row">
                <div class="col-4">123</div>
                <div class="col-4">456</div>
                <div class="col-4">789</div>
            </div>
            <div class="row">
                <div class="col-4">123</div>
                <div class="col-4">456</div>
                <div class="col-4">789</div>
            </div>
        </div>
    </div>
</div>