
.legenda{
  display: inline-block;
}

.tableFixHead {
    max-width: 100vw;
    max-height: 90vh;
    overflow: scroll;
    margin-top: 60px;
  }
  
  
  /* Use position: sticky to have it stick to the edge
   * and top, right, or left to choose which edge to stick to: */
  
  thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  
  tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
  }

  tbody td:first-child {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
  }
  
  
  /* To have the header in the first column stick to the left: */
  
  thead th:first-child {
    left: 0;
    z-index: 2;
  }