<app-titulo titulo="Status da Frota" [carregando]="!consulta_ok"></app-titulo>

<div class="nao-imprimir" *ngIf="consulta_ok">

    <div class="grid">
        <div class="col"></div>
        <div class="col"><button type="button" pButton pRipple label="Inicial"></button>
            <p-calendar [(ngModel)]="data" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
                [inputStyle]="{'width':'100px'}"></p-calendar>
        </div>
        <!-- <div class="col">
            <p-dropdown [options]="baseDeOperacao" [(ngModel)]="baseDeOperacaoSelecionada" [filter]="true"
                filterBy="Nome" optionValue="Id" optionLabel="Nome" appendTo="body"></p-dropdown>
        </div> -->
        <div class="col">
            <p-dropdown [options]="clientes" [(ngModel)]="clienteSelecionado" [filter]="true" filterBy="Nome"
                optionValue="Id" optionLabel="Nome" appendTo="body"></p-dropdown>
        </div>
        <div class="col"><button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar"
                (click)="rodarRelatorio()"></button></div>
        <div class="col"></div>
    </div>

</div>


<div *ngIf="consulta_ok">


    <p-toast></p-toast>

    <p-menubar [model]="botoes" class="nao-imprimir"></p-menubar>

    <app-cabecalho-impressao titulo="Status das Aeronaves Contratadas Pela {{cliente}}" class="d-print">
    </app-cabecalho-impressao>

    <p-table [value]="dados">
        <ng-template pTemplate="header" let-columns>

            <tr>
                <th style="width:50px"></th>
                <th style="width:30px">#</th>
                <th>Prefixo</th>
                <th>Modelo do Helicóptero</th>
                <th>Status<br>(Disponível, Indisponível)</th>
                <th>Horário da disponibilidade para voo</th>
                <th>Tipo da Operação</th>
                <th>Backup</th>
                <th>Posição do Helicóptero no Aeroporto</th>
                <!-- <th>Aeronave Substituta</th> -->
                <th>Base</th>
                <th>Observações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
            <tr>
                <td>
                    <p-checkbox [value]="rowData.Id" [(ngModel)]="valoresSelecionados" (click)="verBotoes()"
                        class="d-print-none"></p-checkbox>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.Ordem"
                                (change)="mudeiAqui($event, rowData)" (focus)="$event.target.select()">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Ordem}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn nowrap>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="prefixos" [(ngModel)]="rowData.Prefixo" [filter]="true"
                                filterBy="Nome" optionLabel="Nome" (onChange)="mudeiAqui($event, rowData)"
                                appendTo="body">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Prefixo.Nome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    {{rowData.Prefixo.Tipo}}
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="disponibilidade" [(ngModel)]="rowData.Disponibilidade"
                                [style]="{'width':'100%'}" optionLabel="Nome" (onChange)="mudeiAqui($event, rowData)"
                                appendTo="body">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Disponibilidade.Nome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.HorarioDisponibilidade"
                                (change)="mudeiAqui($event, rowData)" (focus)="$event.target.select()">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.HorarioDisponibilidade}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="tiposDeOperacao" [(ngModel)]="rowData.TipoDeOperacao"
                                [style]="{'width':'100%'}" (onChange)="mudeiAqui($event, rowData)" optionLabel="Nome"
                                appendTo="body">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.TipoDeOperacao.Nome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="prefixos" [(ngModel)]="rowData.Backup" [filter]="true"
                                filterBy="Nome" optionLabel="Nome" (onChange)="mudeiAqui($event, rowData)"
                                placeholder="Backup" [showClear]="true" appendTo="body">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="rowData.Backup">{{rowData.Backup.Nome}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.Posicao"
                                (change)="mudeiAqui($event, rowData)" (focus)="$event.target.select()">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Posicao}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="baseDeOperacao" [(ngModel)]="rowData.Base" [filter]="true" dataKey="Id"
                                filterBy="Nome" optionLabel="Nome" (onChange)="mudeiAqui($event, rowData)"
                                placeholder="Base" [showClear]="true" appendTo="body">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="rowData.Base">{{rowData.Base.Nome}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.Observacoes"
                                (change)="mudeiAqui($event, rowData)" (focus)="$event.target.select()">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Observacoes}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="footer">
            <tr>
                <td colspan="11" class="text-center"><b>AERÓLEO TAXI AÉREO S.A.</b></td>
            </tr>
        </ng-template> -->
    </p-table>

</div>