<app-titulo titulo="Status da Frota" [carregando]="(!consulta_ok || !tela_ok)"></app-titulo>

<div class="container d-print-none" *ngIf="tela_ok">

    <div class="row ml-1">
        <div class="col-sm-6 col-lg-4">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">Inicial</span>
                </div>
                <p-calendar [(ngModel)]="data" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                    showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
            </div>
        </div>


        <div class="col-sm">
            <p-dropdown [options]="filtroBase" [(ngModel)]="baseDeOperacaoSelecionada" [filter]="true"
                filterBy="label,value.name"></p-dropdown>

            <!-- <button pButton type="button" icon="pi pi-search" iconPos="left" (click)="rodarRelatorio()"></button> -->
        </div>

        <div class="col-sm-6 col-lg-2">
            <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar"
                (click)="rodarRelatorio()"></button>
        </div>



    </div>


</div>


<div *ngIf="consulta_ok">


    <p-toast></p-toast>

    <p-menubar [model]="botoes" class="d-print-none"></p-menubar>

    <app-cabecalho-impressao titulo="Status das Aeronaves Contratadas Pela Petrobras"class="d-print"></app-cabecalho-impressao>

    <p-table [value]="dados">
        <ng-template pTemplate="header" let-columns>

            <tr>
                <th style="width:50px"></th>
                <th style="width:30px">#</th>
                <th>Prefixo</th>
                <th>Modelo do Helicóptero</th>
                <th>Status<br>(Disponível, Indisponível)</th>
                <th>Horário da disponibilidade para voo</th>
                <th>Tipo da Operação</th>
                <th>Backup</th>
                <th>Posição do Helicóptero no Aeroporto</th>
                <th>Aeronave Substituta</th>
                <th>Observações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
            <tr>
                <td >
                    <p-checkbox [value]="rowData.Id" [(ngModel)]="valoresSelecionados" (click)="verBotoes()" class="d-print-none"></p-checkbox>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.Ordem"
                                (change)="mudeiAqui($event, rowData)" (focus)="$event.target.select()">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Ordem}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="prefixos" [(ngModel)]="rowData.Prefixo.value" [filter]="true"
                filterBy="label,value.name"></p-dropdown>
                            <!-- <p-listbox [options]="prefixos" [(ngModel)]="rowData.Prefixo.value" checkbox="checkbox" filter="filter" [listStyle]="{'max-height':'250px'}" [style]="{'width':'100%'}"
                                (onChange)="mudeiAqui($event, rowData)">
                            </p-listbox> -->
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Prefixo.value.label}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    {{rowData.Prefixo.value.tipo}}
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="disponibilidade" [(ngModel)]="rowData.Disponibilidade.value" [style]="{'width':'100%'}"
                                (onChange)="mudeiAqui($event, rowData)">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Disponibilidade.value.label}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.HorarioDisponibilidade"
                                (change)="mudeiAqui($event, rowData)" (focus)="$event.target.select()">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.HorarioDisponibilidade}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="tiposDeOperacao" [(ngModel)]="rowData.TipoDeOperacao.value" [style]="{'width':'100%'}"
                                (onChange)="mudeiAqui($event, rowData)">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.TipoDeOperacao.value.label}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="prefixos" [(ngModel)]="rowData.Backup.value" [style]="{'width':'100%'}"
                                (onChange)="mudeiAqui($event, rowData)">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Backup.value.label}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.Posicao"
                                (change)="mudeiAqui($event, rowData)" (focus)="$event.target.select()">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Posicao}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td></td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.Observacoes"
                                (change)="mudeiAqui($event, rowData)" (focus)="$event.target.select()">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.Observacoes}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="11" class="text-center"><b>AERÓLEO TAXI AÉREO S.A.</b></td>
            </tr>
        </ng-template>
    </p-table>

</div>