.cards {
    display: flex;
    margin-bottom: 15px;
}

.card {
    margin: 10px;
    width: 348px;
    height: 100%;
}

.cards a {
    text-decoration: none;
    color: black;
}

.card:hover {
    background-color: #dfdfdf;
}

.first-line {
    padding-top: 10px;
    justify-content: end;
}

.title-mes {
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

.btn-remove-turma {
    position: absolute;
    top: 20px; 
    right: 20px;
}

.card-title.card-text.d-flex.justify-content-between.align-items-center {
    margin-right: 45px;
    word-wrap: break-word;
    word-break: break-word;
}