<!-- <app-titulo titulo="Calendário de Treinamentos" [loading]="false"></app-titulo> -->

<p-card>
    <div class="msg-calendario-turma" *ngIf="calendario[0].label == ''">{{mensagem}}</div>
    <div class="p-d-flex p-flex-wrap calendario-turma" *ngIf="calendario[0].label != ''">
        <div *ngFor="let c of calendario" class="p-d-flex p-flex-wrap">
            <span class="mes">{{c.label}}</span>
            <div *ngFor="let turma of c.turmas; let i = index" class="p-mr-2 p-mb-2" [ngClass]="{'first': i==0}">
                <span class="data">{{turma.dataFormatada}}</span>
                <span class="titulo">{{turma.Treinamento.Nome}}</span>
                <span *ngIf="turma.Local != ''" class="local">
                    <i class="pi pi-map-marker"></i>
                    {{turma.Local}}
                </span>
                <span *ngIf="turma.Local == ''" class="local">
                    <i class="pi pi-map-marker"></i>
                    Não informado                
                </span>
                <span *ngIf="usuarioLogado.ehAdministrador || usuarioLogado.ehInstrutor" class="status">
                    <app-turma-status [indexStatus]="turma.indexStatus" *ngIf="turma.Carregada" [turma]="turma"></app-turma-status>                
                </span>                
            </div>
        </div>
    </div>
</p-card>