.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#novo {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  cursor: pointer;
  fill: #157dfb;
  z-index: 5;
}

.btn-search {
  background-color: #84c4ff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-search>img {
  width: 80%;
  height: 80%;
}

.search {
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  line-height: 40px;
  justify-content: center;
  background-color: #f7f7f9;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.result div {
  width: 90%;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
  background: #ececec;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.result div:nth-child(2n) {
  background: #f3f3f3;
}

.search input {
  width: 50%;
}

.search label,
.search input {
  margin: 0 5px;
}

@media (max-width: 580px) {

  .result div {
    width: 90%;
  }
}
