<app-titulo titulo="Erros de Preenchimento de RDV" [carregando]="!tudoPronto"></app-titulo>


<div class="grid">    
    <div class="col"></div>
    <div class="col">
        <button type="button" pButton pRipple label="Inicial"></button>

        <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" 
            showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>

        <button type="button" pButton pRipple label="Final"></button>
        
        <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" 
            showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
    </div>
    <div>
        <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar"
            (click)="rodarRelatorio()"></button>
    </div>
    <div class="col"></div>

</div>

<p-table [columns]="cols" [value]="dados" *ngIf="dados" selectionMode="single">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let coluna of cols">{{coluna.header}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let coluna of columns">{{rowData[coluna.field]}}</td>
        </tr>
    </ng-template>
</p-table>