.p-picklist-source-controls {
    display: none !important;
}

/* .amarelo{
    background-color: burlywood;
} */

.negrito {
    font-weight: bolder;
    font-style: italic;
}

.escala_de_voo {
    background-color: rgba(9, 255, 0, 0.1);
}

.folga {
    background-color: rgba(0, 174, 255, 0.1);
}

.destaque {
    font-weight: bolder;
    background-color: red;
}

.texto-pequeno {
    font-weight: bold;
    font-size: xx-small;
    vertical-align: bottom;
}

body {
    font-size: small;
}

td, th {
    border: 1px solid;
    padding: 5px;
    /* background: white; */
    text-align: center;
    font-size: small;
    min-width: 50px;
    height: 50px;
}

table {
    border-collapse: collapse;
    font-family: helvetica;
    caption-side: top;
    text-transform: capitalize;
}

caption {
    text-align: left;
    position: fixed;
    left: 0;
    top: 0
}

th {
    border: 1px solid black;
    height: 50px;
}

.table-container {
    position: relative;
    width: 97vw;
    height: 75vh;
    overflow: scroll;
    margin-left: 0vw;
    margin-right: 1vw;
}

thead th, tfoot th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #0D89EC;
    color: white;
    /* background: hsl(20, 50%, 70%); */
}

thead th:first-child, tfoot th:first-child {
    left: 0;
    z-index: 3;
}

tfoot {
    position: -webkit-sticky;
    bottom: 0;
    z-index: 2;
}

tfoot th {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: #0D89EC;
    color: white;
}

tfoot td:first-child {
    z-index: 3;
}

tbody {
    overflow: scroll;
    height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */

tr> :first-child {
    border: 1px solid black;
    position: -webkit-sticky;
    position: sticky;
    background: #0D89EC;
    color: white;
    left: 0;
}

ul, li {
    font-family: helvetica;
}

/* don't do this */

/* tr> :first-child {
    box-shadow: inset 0px 1px black;
} */
