<app-cabecalho-impressao titulo="CONTROLE DE TRIPULANTES"></app-cabecalho-impressao>

<app-titulo titulo="CONTROLE DE TRIPULANTES" [carregando]="carregando"></app-titulo>

<div class=" d-print-none">
    <div class="grid">
        <div class="col"></div>
        <div class="col"><button type="button" pButton pRipple label="Inicial"></button>
            <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
        </div>
        <div class="col p-ml-1">
            <button type="button" pButton pRipple label="Final"></button>
            <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
        </div>
        <div class="col"><button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar"
                (click)="rodarRelatorio()"></button>
            <button class="p-ml-2" pButton type="button" icon="pi pi-file-excel" iconPos="right" label="Excel"
                (click)="gerarExcel()"></button>
        </div>
        <div class="col"></div>
    </div>
</div>




<p-table [columns]="cols" [value]="dados" *ngIf="!carregando">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col [style.width]="largura_padrao">
            <col [style.width]="largura_padrao">
            <col [style.width]="largura_padrao">
            <col *ngFor="let col of columns" [style.width]="col.width">
            <col [style.width]="largura_estreita">
            <col [style.width]="largura_estreita">
            <col [style.width]="largura_padrao">
            <col [style.width]="largura_padrao">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th rowspan="2">Data</th>
            <th rowspan="2">Tripulante</th>
            <th rowspan="2">Apres</th>
            <th rowspan="2" *ngFor="let col of columns" width="{{col.width}}" wrap>
                {{col.header}}
            </th>
            <th colspan="2">Refeição</th>
            <th rowspan="2">Saída</th>
            <th rowspan="2">Jornada</th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td>{{rowData.Data}}</td>
            <td>{{rowData.Tripulante}}</td>
            <td>{{rowData.Apresentacao}}</td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>{{rowData.Refeicao1}}</td>
            <td>{{rowData.Refeicao2}}</td>
            <td>{{rowData.Saida}}</td>
            <td>{{rowData.Jornada}}</td>
        </tr>
    </ng-template>
</p-table>