.content {
  display: flex;
  margin-top: 55px;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-around;
}

.label1 {
  width: 70%;
  margin: 5px 5%;
}

.label2 {
  width: 33%;
  margin: 5px 2%;
}

#salvar {
  position: fixed;
  top: 5px;
  right: 25px;
  cursor: pointer;
  fill: #157dfb;
  z-index: 2;
}

.label1>input,
.label2>input,
.label1>select,
.label2>select {
  box-sizing: content-box;
  width: 100%;
}
