<app-titulo titulo="Horas Voadas" [carregando]="!tudoPronto"></app-titulo>

<div class="row p-mt-1">
  <div class="col"></div>
  <div class="col">
    <button type="button" pButton pRipple label="Inicial"></button>
    <p-calendar
      [(ngModel)]="dataInicio"
      selectionMode="single"
      dateFormat="dd/mm/yy"
      [locale]="locale_pt"
      showIcon="true"
      [inputStyle]="{ width: '100px' }"
    ></p-calendar>

    <button type="button" pButton pRipple label="Final" class="p-ml-2"></button>
    <p-calendar
      [(ngModel)]="dataFim"
      selectionMode="single"
      dateFormat="dd/mm/yy"
      [locale]="locale_pt"
      showIcon="true"
      [inputStyle]="{ width: '100px' }"
    ></p-calendar>
  </div>
  <div class="col">
    <button
      type="button"
      pButton
      pRipple
      label="Tripulantes"
      class="p-ml-2"
    ></button>
    <p-dropdown
      [options]="tripulantes"
      [(ngModel)]="tripulanteSelecionado"
      [filter]="true"
      filterBy="Nome"
      optionLabel="Nome"
    ></p-dropdown>

    <button
      pButton
      type="button"
      icon="pi pi-search"
      iconPos="left"
      (click)="rodarRelatorio()"
      class="p-ml-2"
    ></button>
  </div>
  <div class="col">
    <button
      type="button"
      label="Exportar"
      pButton
      pRipple
      icon="pi pi-file-excel"
      (click)="exportExcel()"
      class="botao-excel p-button-success mr-2"
      pTooltip="XLS"
      tooltipPosition="bottom"
    ></button>
  </div>
</div>

<div *ngIf="filtroRetorno">
  <div id="dataTable">
    <p-table>
      <ng-template id="title" pTemplate="caption">
        Horas Voadas no Tripulante
      </ng-template>
    </p-table>

    <p-table>
      <ng-template id="subtitle" pTemplate="caption">
        Periodo de: {{ filtroRetorno.dataInicio | date: "dd/MM/yyyy" }} até
        {{ filtroRetorno.dataFim | date: "dd/MM/yyyy" }}
      </ng-template>
    </p-table>

    <div *ngIf="tabelaVisivel">
      <p-table [columns]="cols" [value]="dados" *ngIf="dados">
        <ng-template id="trato" pTemplate="caption">
          {{ trato }}
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr *ngIf="rowData['Prefixo']">
            <td>
              {{ rowData["Data"] | date: "dd/MM/yyyy" }}
            </td>
            <td>
              {{ rowData["FuncaoBordo"].Sigla }}
            </td>
            <td>
              {{ rowData["Equipamento"] }}
            </td>
            <td>
              {{ rowData["Prefixo"] }}
            </td>
            <td>
              {{ rowData["FolhaDoDiario"] }}
            </td>
            <td>
              {{ rowData["Simulador"] }}
            </td>
            <td>
              {{ rowData["Noturno"] }}
            </td>
            <td>
              {{ rowData["Diurno"] }}
            </td>
            <td>
              {{ rowData["VFR"] }}
            </td>
            <td>
              {{ rowData["IFR"] }}
            </td>
            <td>
              {{ rowData["Total"] }}
            </td>
          </tr>

          <tr *ngIf="!rowData['Prefixo'] && rowData['Equipamento']">
            <td colspan="5">
              <b>Total do Equipamento: {{ rowData["Equipamento"] }}</b>
            </td>
            <td>
              {{ rowData["Simulador"] }}
            </td>
            <td>
              {{ rowData["Noturno"] }}
            </td>
            <td>
              {{ rowData["Diurno"] }}
            </td>
            <td>
              {{ rowData["VFR"] }}
            </td>
            <td>
              {{ rowData["IFR"] }}
            </td>
            <td>
              {{ rowData["Total"] }}
            </td>
          </tr>

          <tr *ngIf="!rowData['Prefixo'] && rowData['FuncaoBordo']">
            <td colspan="5">
              Total na Função: {{ rowData["FuncaoBordo"].Nome }}
            </td>
            <td>
              {{ rowData["Simulador"] }}
            </td>
            <td>
              {{ rowData["Noturno"] }}
            </td>
            <td>
              {{ rowData["Diurno"] }}
            </td>
            <td>
              {{ rowData["VFR"] }}
            </td>
            <td>
              {{ rowData["IFR"] }}
            </td>
            <td>
              {{ rowData["Total"] }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
          <tr class="d-print-none">
            <td *ngFor="let col of columns">
              {{ col.header }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
