<app-titulo titulo="Vencimentos" [carregando]="!valores"></app-titulo>
<div class="tabela" *ngIf="valores">
    <p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="valores" [scrollable]="true"
        scrollHeight="70vh" id="" frozenWidth="280px" frozenHeight="200px" class="tabela"
        (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" class="coluna">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th [pSortableColumn]="col.field" *ngFor="let col of columns; let i = index" class="coluna">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">



                    <div *ngIf="ehObjeto(rowData[col.field]) && rowData[col.field].Certificado.Readonly"
                        [ngClass]="rowData[col.field].Cor"
                        (click)="exibirVoos($event, rowData[col.field]);op.toggle($event)">
                        {{rowData[col.field].ValorExibido}}
                    </div>



                    <div [id]="rowData[col.field].Id"
                        *ngIf="ehObjeto(rowData[col.field]) && !rowData[col.field].Certificado.Readonly"
                        [ngClass]="rowData[col.field].Cor" (mouseup)="exibir($event, rowData[col.field])">
                        {{rowData[col.field].ValorExibido}}
                    </div>

                    <div *ngIf="rowData[col.field].Display && !rowData[col.field].Certificado.Readonly && podeEditar">
                        <p-dialog [header]="col.field" [(visible)]="rowData[col.field].Display" [modal]="true"
                            [baseZIndex]="10000">

                            <app-editar-vencimento [dados]="rowData[col.field]" (retorno)="retornoCarteira($event)">
                            </app-editar-vencimento>

                        </p-dialog>
                    </div>


                    <div *ngIf="!ehObjeto(rowData[col.field])">{{rowData[col.field]}}</div>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>




<div class="row text-center font-weight-bold">
    <div class="col-3" style="background-color: #bdd6ee">60 dias</div>
    <div class="col-3" style="background-color: #ffff00">30 dias</div>
    <div class="col-3" style="background-color: #f7caac">15 dias</div>
    <div class="col-3 text-white" style="background-color: #ff0000">Vencidos</div>
</div>


<p-overlayPanel #op>
    <div #myDiv></div>
</p-overlayPanel>