<app-titulo titulo="Vencimentos" [carregando]="!valores"></app-titulo>
<p-toast position="top-center" key="tc"></p-toast>
<div class="tabela" *ngIf="valores">



    <table>
        <tr>
            <th *ngFor="let col of columns">{{col}}</th>
        </tr>
        <tr *ngFor="let item of valores">
            <td *ngFor="let col of columns; let i = index"
                (click)="i == 0 ? null : editarValor($event, item[col])"
                [class]="item[col].CorNaTela">{{item[col].ValorExibido}}
            </td>
        </tr>
    </table>


    <p-dialog *ngIf="valorEditado" [(visible)]="valorEditado" [modal]="true" [baseZIndex]="10000">

        <app-editar-vencimento [dados]="valorEditado" (retorno)="retornoCarteira($event)">
        </app-editar-vencimento>

    </p-dialog>

    <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
        <ng-template pTemplate>
            <ul>
                <li *ngFor="let item of ultimosVoos">{{item.Data| date: 'dd/MM/yyyy'}} - {{item.NumeroDoDiario}} - {{item.NumeroDaFolha}}</li>
            </ul>
        </ng-template>
    </p-overlayPanel>

    <!-- <p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="valores" [scrollable]="true"
        scrollHeight="88vh" id="" frozenWidth="280px" frozenHeight="200px tabela"
        (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns coluna">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th [pSortableColumn]="col.field" *ngFor="let col of columns; let i = index coluna">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">



                    <div *ngIf="ehObjeto(rowData[col.field]) && rowData[col.field].Certificado.Readonly"
                        [class]="rowData[col.field].CorNaTela"
                        (click)="exibirVoos($event, rowData[col.field]);op.toggle($event)">
                        {{rowData[col.field].ValorExibido}}
                    </div>



                    <div [id]="rowData[col.field].Id"
                        *ngIf="ehObjeto(rowData[col.field]) && !rowData[col.field].Certificado.Readonly"
                        [class]="rowData[col.field].CorNaTela" (mouseup)="exibir($event, rowData[col.field])">
                        {{rowData[col.field].ValorExibido}}
                    </div>

                    <div *ngIf="rowData[col.field].Display && !rowData[col.field].Certificado.Readonly && podeEditar">
                        <p-dialog [header]="col.field" [(visible)]="rowData[col.field].Display" [modal]="true"
                            [baseZIndex]="10000">

                            <app-editar-vencimento [dados]="rowData[col.field]" (retorno)="retornoCarteira($event)">
                            </app-editar-vencimento>

                        </p-dialog>
                    </div>


                    <div *ngIf="!ehObjeto(rowData[col.field])">{{rowData[col.field]}}</div>
                </td>
            </tr>
        </ng-template>
    </p-table> -->

</div>

<div class="grid text-center font-weight-bold barra_de_cores">
    <div class="col-3 azul">60 dias</div>
    <div class="col-3 amarelo">30 dias</div>
    <div class="col-3 laranja">15 dias</div>
    <div class="col-3 vermelho">Vencidos</div>
</div>

<p-overlayPanel #op>
    <div #myDiv></div>
</p-overlayPanel>