tr {
    height: 120px;
}

th {
    text-align: center;
    font-size: small;
}

.coluna {
    width: 130px;
}

td {
    font-size: small;
}

.azul {
    background-color: #bdd6ee;
    padding: 5px;
}

.amarelo {
    background-color: #ffff00;
    padding: 5px;
}

.laranja {
    background-color: #f7caac;
    padding: 5px;
}

.vermelho {
    background-color: crimson;
    color: white;
    font-weight: bolder;
    padding: 5px;
}

div {
    text-align: center;
}

.barra_de_cores{
    position: absolute;
    width: 95vw;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}