<app-titulo titulo="Horas da Quinzena para Pagamento" [carregando]="!tudoPronto"></app-titulo>

<p-toolbar class=" d-print-none">

  <div>

    <button type="button" pButton pRipple label="Inicial"></button>
    <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
      [inputStyle]="{ width: '100px' }" class="mr-2"></p-calendar>

    <button type="button" pButton pRipple label="Final"></button>
    <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
      [inputStyle]="{ width: '100px' }" class="mr-2"></p-calendar>
      
    <button pButton type="button" icon="pi pi-search" iconPos="left" (click)="rodarRelatorio()" class="mr-4"></button>

    <button type="button" label="Exportar" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
      class="botao-excel p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>

    <button type="button" label="Relatório" pButton pRipple icon="pi pi-file" (click)="gerarTXT()"
      class="botao-excel p-button-success mr-2" pTooltip="TXT" tooltipPosition="bottom" class="mr-2"></button>


    <button type="button" label="Relatório/Memória" pButton pRipple icon="pi pi-file"
      (click)="exibirMemoria = !exibirMemoria" class="botao-excel p-button-warning" pTooltip="TXT"
      tooltipPosition="bottom"></button>
  </div>



</p-toolbar>

<!-- {{hyphenated | timespanvalti }} -->

<div id="dataTable" *ngIf="!exibirMemoria && filtroRetorno">
  <p-table>
    <ng-template pTemplate="caption"> Horas Voadas no Período </ng-template>
  </p-table>

  <p-table>
    <ng-template pTemplate="caption">
      Periodo de: {{ filtroRetorno.dataInicio | date: "dd/MM/yyyy" }} até
      {{ filtroRetorno.dataFim | date: "dd/MM/yyyy" }}
    </ng-template>
  </p-table>

  <table>
    <thead>
      <tr>
        <th *ngFor="let coluna of colunas">{{coluna.Header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let linha of dados">
        <td *ngFor="let coluna of colunas" nowrap>
          {{linha[coluna.Value]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="memoria" *ngIf="exibirMemoria">

  <table>
    <thead>
      <tr>
        <th *ngFor="let coluna of memoriaDeCalculo.colunas">{{coluna}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let linha of memoriaDeCalculo.dados">
        <td *ngFor="let coluna of memoriaDeCalculo.colunas" nowrap>
          {{linha[coluna]}}
        </td>
      </tr>
    </tbody>
  </table>

</div>