<app-titulo titulo="Horas da Quinzena para Pagamento" [carregando]="!tudoPronto"></app-titulo>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-toolbar class=" d-print-none">

  <div>

    <button type="button" pButton pRipple label="Inicial"></button>
    <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
      [inputStyle]="{ width: '100px' }" class="mr-2"></p-calendar>

    <button type="button" pButton pRipple label="Final"></button>
    <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
      [inputStyle]="{ width: '100px' }" class="mr-2"></p-calendar>


    <p-multiSelect [options]="tripulantes" [(ngModel)]="selectedValues" defaultLabel="Todos os Tripulantes"
      optionLabel="Trato" optionValue="Id" display="chip"></p-multiSelect>

    <button pButton type="button" icon="pi pi-search" iconPos="left" (click)="rodarRelatorio(false, false)" class="mr-4"
      [disabled]="!tudoPronto"></button>

    <button type="button" label="Exportar" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
      class="botao-excel p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom" [disabled]="!dados"></button>

    <button type="button" label="Relatório" pButton pRipple icon="pi pi-file" (click)="gerarTXT()"
      class="botao-excel p-button-success mr-2" pTooltip="TXT" tooltipPosition="bottom" class="mr-2"
      [disabled]="!dados"></button>

    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Visualizar emails"
      (click)="rodarRelatorio(true, false)" class="ml-2 mr-3 p-button-success" [disabled]="!tudoPronto"></button>

  </div>
  <div class="p-toolbar-group-right">
    <button pButton type="button" icon="pi pi-send" iconPos="right" label="Enviar emails" (click)="precisaConfirmar()"
      class="ml-3 p-button-warning" [disabled]="!tudoPronto"></button>
  </div>

</p-toolbar>

<p-toolbar *ngIf="!dados && !html" class="m-4">
  Selecione o período e clique em PESQUISAR.
</p-toolbar>

<!-- <div id="dataTable" *ngIf="!exibirMemoria && dados"> -->
<!-- <p-table>
    <ng-template pTemplate="caption"> Horas Voadas no Período </ng-template>
  </p-table> -->
<div class="tabela" *ngIf="dados">
  <table id="dataTable">
    <tr>
      <th *ngFor="let coluna of colunas">{{coluna.Header}}</th>
    </tr>

    <tr *ngFor="let linha of dados">
      <td *ngFor="let coluna of colunas" nowrap>
        <b *ngIf="coluna.Bold">{{linha[coluna.Value]}}</b>
        <span *ngIf="!coluna.Bold">{{linha[coluna.Value]}}</span>
      </td>
    </tr>
  </table>
</div>




<div *ngIf="html" [innerHTML]="html | safeHtml"></div>

<!-- <p-table>
    <ng-template pTemplate="caption">
      Periodo de: {{ filtroRetorno.dataInicio | date: "dd/MM/yyyy" }} até
      {{ filtroRetorno.dataFim | date: "dd/MM/yyyy" }}
    </ng-template>
  </p-table>

  <table>
    <thead>
      <tr>
        <th *ngFor="let coluna of colunas">{{coluna.Header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let linha of dados">
        <td *ngFor="let coluna of colunas" nowrap>
          {{linha[coluna.Value]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="memoria" *ngIf="exibirMemoria">

  <table>
    <thead>
      <tr>
        <th *ngFor="let coluna of memoriaDeCalculo.colunas">{{coluna}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let linha of memoriaDeCalculo.dados">
        <td *ngFor="let coluna of memoriaDeCalculo.colunas" nowrap>
          {{linha[coluna]}}
        </td>
      </tr>
    </tbody>
  </table> -->

<!-- </div> -->