<app-titulo titulo="Treinamentos" [carregando]="loading"></app-titulo>

<span class="p-buttonset botoes_salvar" *ngIf="!editando && !loading">
    <button pButton type="button" label="Novo" (click)="novo()" icon="pi pi-plus-circle"
        class="p-button-raised p-button-rounded"></button>
    <button pButton type="button" label="Ordenar" [routerLink]="'/ordenar-certificado'" icon="pi pi-sort-amount-up-alt"
        class="p-button-raised p-button-rounded p-button-warning"></button>
    <button pButton type="button" label="Excluir" (click)="excluir()" icon="pi pi-trash"
        [disabled]="valoresSelecionados.length == 0" class="p-button-raised p-button-rounded p-button-danger"></button>
</span>

<p-table [columns]="cols" [value]="treinamentos" *ngIf="!editando">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th></th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-treino>
        <tr>
            <td><p-checkbox [value]="treino.Id" [(ngModel)]="valoresSelecionados" class="d-print-none"></p-checkbox>
            </td>
            <td (click)="editar(treino.Id)">{{treino.Nome}}</td>
            <td (click)="editar(treino.Id)">
                <span *ngIf="treino.PagaInstrutor">SIM</span>
                <span *ngIf="!treino.PagaInstrutor">NÃO</span>
            </td>
            <td (click)="editar(treino.Id)">
                <span *ngIf="treino.PagaAluno">SIM</span>
                <span *ngIf="!treino.PagaAluno">NÃO</span>
            </td>
            <td (click)="editar(treino.Id)">
                <span *ngIf="treino.NaoControlado">SIM</span>
                <span *ngIf="!treino.NaoControlado">NÃO</span>
            </td>
            <td (click)="editar(treino.Id)">
                <span *ngIf="treino.NaoVence">SIM</span>
                <span *ngIf="!treino.NaoVence">NÃO</span>
            </td>
            <td (click)="editar(treino.Id)">
                <span *ngIf="!treino.NaoControlado">
                    {{treino.Validade}}
                </span>
                <span *ngIf="treino.NaoControlado">N/A</span>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-editar-treinamento [treinamento]="treinamentoEditado" (retorno)="salvar($event)" *ngIf="editando"
    [tipos]="listaDeTiposDeTreinamento" [equipamentos]="listaDeEquipamentos"
    [instrutores]="listaDeInstrutores"></app-editar-treinamento>