html,
body {
  margin-top: 20px;
  scroll-margin-top: 20px;
  padding: 0;
}

.p-button-warning {
  color: white;
}
.botao-novo {
  position: absolute;
  right: 130px;
  top: 25px;
  z-index: 2;
}

.botao-excel {
  position: absolute;
  right: 245px;
  top: 25px;
  z-index: 2;
}

.controle-acesso {
  display: block;
  /* position: sticky; */
  top: 0px;
  z-index: 1;
}
th,
td {
  padding: 1rem;
}
table {
  width: 100%;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
}
th {
  background: #f8f9fa;
  color: #495057;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 600;
}
thead {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  /* position: sticky; */
  top: 70px;
}
.striped:nth-of-type(even) > * {
  background-color: #f8f9fa;
}
