<app-loading *ngIf="loading"></app-loading>
<app-menssage></app-menssage>
<div class="content">

  <svg id="salvar" width="32px" height="32px" viewBox="0 0 512 512" (click)="saveTripulante()">
    <g>
      <rect x="248" y="352" width="16" height="96"></rect>
      <path d="M399.3,183.6c0-1.2,0.2-2.4,0.2-3.6c0-64.3-52.8-116.4-116.8-116.4c-46.1,0-85.8,27.1-104.4,66.3
            c-8.1-4.1-17.1-6.4-26.8-6.4c-29.6,0-54.1,23.6-58.9,52C57.4,187.6,32,222.2,32,261.8c0,49.7,40.1,90.2,89.6,90.2H182h31h35V205.8
            l-54.7,54.5l-11.6-11.6l74.5-74.3l74.5,74.3l-11.8,11.6L264,205.8V352h134c45,0,82-37.3,82-82.8C480,223.7,444.5,183.7,399.3,183.6
            z"></path>
    </g>
  </svg>

  <label class="label1" for="nome-completo">
    Nome Completo:
    <input type="text" id="nome-completo" name="nome-completo" [(ngModel)]="tripulante.NomeCompleto">
  </label>

  <label class="label2" for="anac">
    Código ANAC:
    <input type="text" id="anac" name="anac" [(ngModel)]="tripulante.CodigoANAC">
  </label>

  <label class="label2" for="trato">
    Trato:
    <input type="text" id="trato" name="trato" [(ngModel)]="tripulante.Trato">
  </label>

  <label class="label2" for="identidade">
    Identidade:
    <input type="text" id="identidade" name="identidade" [(ngModel)]="tripulante.Identidade">
  </label>

  <label class="label2" for="cpf">
    CPF:
    <input type="text" id="cpf" name="cpf" [(ngModel)]="tripulante.CPF">
  </label>

  <label class="label2" for="data-nascimento">
    Data de Nascimento:
    <input type="date" id="data-nascimento" name="data-nascimento" [(ngModel)]="tripulante.Nascimento">
  </label>

  <label class="label2" for="licenca">
    Licença:
    <input type="text" id="licenca" name="licenca" [(ngModel)]="tripulante.Licenca">
  </label>

  <label class="label2" for="endereco">
    Endereço:
    <input type="text" id="endereco" name="endereco" [(ngModel)]="tripulante.Endereco">
  </label>

  <label class="label2" for="email">
    Email:
    <input type="email" id="email" name="email" [(ngModel)]="tripulante.Email">
  </label>

  <label class="label2" for="idioma">
    Idioma:
    <input type="text" id="idioma" name="idioma" [(ngModel)]="tripulante.Idioma">
  </label>

  <label class="label2" for="data-admissao">
    Data de Admissão:
    <input type="date" id="data-admissao" name="data-admissao" [(ngModel)]="tripulante.Admissao">
  </label>

  <label class="label2" for="base">
    Base Contratual:
    <select name="base" id="base" [(ngModel)]="tripulante.Base.Id">
      <option value="">---</option>
      <option *ngFor="let base of bases" value="{{base.Id}}">{{base.Nome}}</option>
    </select>
  </label>

  <label class="label2" for="cargo">
    Cargo:
    <select name="cargo" id="cargo" [(ngModel)]="tripulante.Cargo.Id">
      <option value="">---</option>
      <option *ngFor="let cargo of cargos" value="{{cargo.Id}}">{{cargo.Nome}}</option>
    </select>
  </label>

  <label class="label2" for="pesoLb">
    Peso (Lb):
    <input type="number" name="pesoLb" min="0" step=".01" [(ngModel)]="tripulante.UltimoPeso" (change)="changePesoLb()">
  </label>

  <label class="label2" for="pesoKg">
    Peso (Kg):
    <input type="number" name="pesoKg" min="0" step=".01" [(ngModel)]="pesoKg" (change)="changePesoKg()">
  </label>

  <table class="table" style="margin-top: 15px;">
    <thead>
      <tr>
        <th>Tipo de Operação</th>
        <th>Data de Início</th>
        <th>Data de Fim</th>
        <th>
          <button class="btn sucess" (click)="onClickNovaOperacao()">+</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operacao of filterObjAtivo(tripulante.Operacao)">
        <td>
          <select name="tipoOperacao" [(ngModel)]="operacao.TipoDeOperacao.Id">
            <option value="">---</option>
            <option *ngFor="let tipoOperacao of tipoOperacoes" [ngValue]="tipoOperacao.Id">{{tipoOperacao.Nome}}</option>
          </select>
        </td>
        <td>
          <input type="date" name="data-inicio" [(ngModel)]="operacao.DataDeInicio">
        </td>
        <td>
          <input type="date" name="data-fim" [(ngModel)]="operacao.DataDeFim">
        </td>
        <td>
          <button class="btn error" (click)="onClickDelete(operacao)">
            <img alt="Lixeira" src="assets/icons/trash-icon.svg">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
