<div class="content">
  <div class="tripulante">
    <!-- <div class="nivel" [ngClass]="{'nivel1': i === 0, 'nivel2': i % 2, 'nivel3': i % 3}"> -->
    <div class="nivel" [ngClass]="{'nivel1': true}">
      Nivel 1:
    </div>
    <div class="user">
      <span>
        {{tripulante.Pessoa.Nome}}
      </span>
      <span>
        75 pontos
      </span>
      <br>
      {{formatData(tripulante.Atualizacao)}}
    </div>
  </div>

  <div class="sono">
    <div>
      Oportunidade de Sono - h 10:30
    </div>
    <div>
      Qualidade de Sono - Bom
    </div>
  </div>

  <div class="sono">
    <div>
      Tempo de Sono Efetivo - h 08:00
    </div>
    <div>
      Potuação do sono - 30 / 30
    </div>
  </div>

  <div class="title">Como você se sente nesse momento?</div>
  <table class="table">
    <thead>
      <tr>
        <th>Questão</th>
        <th>Resposta</th>
        <th>Resposta Positiva</th>
        <th>Resposta Negativa</th>
        <th>Pontuação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estado of estadoAtual; index as i; first as isFirst">
        <td>{{estado.questao}}</td>
        <td>{{estado.resposta}}</td>
        <td>{{estado.positivo}}</td>
        <td>{{estado.negativo}}</td>
        <td *ngIf="i === 0" [attr.rowspan]="estadoAtual.length"> {{i}} / {{estadoAtual.length}}</td>
      </tr>
    </tbody>
  </table>


  <div class="title">Escala de Sonolência EPWORTH</div>
  <table class="table">
    <thead>
      <tr>
        <th>Questão</th>
        <th>Resposta</th>
        <th>Resposta Positiva</th>
        <th>Resposta Negativa</th>
        <th>Pontuação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estado of sonolencia; index as i; first as isFirst">
        <td>{{estado.questao}}</td>
        <td>{{estado.resposta}}</td>
        <td>Nenhuma chance de cochilar</td>
        <td>Alta chance de cochilar</td>
        <td *ngIf="i === 0" [attr.rowspan]="sonolencia.length"> {{i}} / {{sonolencia.length}}</td>
      </tr>
    </tbody>
  </table>

  <div class="navegacao">
    <a class="btn" routerLink="/gerencia/status-tripulante">VOLTAR</a>
    <button class="btn">VALIDAR</button>
  </div>
</div>
