<app-titulo titulo="Decolagens e Pousos Por Aeronave e Aeródromo" [carregando]="carregando"></app-titulo>


<div class="container d-print-none" *ngIf="prefixos">

    <div class="row ml-1">
        <div class="col-sm-6 col-lg-2">

            <p-listbox [options]="localidades" [(ngModel)]="localidadesSelecionados" multiple="multiple"
                checkbox="checkbox" filter="filter" [listStyle]="{'max-height':'250px'}">
                <p-header>
                    Localidades
                </p-header>
            </p-listbox>

        </div>
        <div class="col-sm-6 col-lg-2">

            <p-listbox [options]="prefixos" [(ngModel)]="prefixosSelecionados" multiple="multiple" checkbox="checkbox"
                filter="filter" [listStyle]="{'max-height':'250px'}">
                <p-header>
                    Prefixos
                </p-header>
            </p-listbox>

        </div>
        <div class="col-sm-6 col-lg-2">

            <p-listbox [options]="clientes" [(ngModel)]="clientesSelecionados" multiple="multiple" checkbox="checkbox"
                filter="filter" [listStyle]="{'max-height':'250px'}">
                <p-header>
                    Clientes
                </p-header>
            </p-listbox>

        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">Inicial</span>
                </div>
                <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                    showIcon="true"></p-calendar>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">Final</span>
                    </div>
                    <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                        showIcon="true"></p-calendar>
                </div>


            </div>
        </div>


        <div class="col-sm-6 col-lg-2">
            <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar"
                (click)="rodarRelatorio()"></button>
        </div>



    </div>


</div>

<p-table [columns]="colunasSelecionadas" [value]="valores" *ngIf="!carregando">
    <ng-template pTemplate="caption">
        Decolagens
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<br>

<p-table [columns]="colunasSelecionadasP" [value]="valoresP" *ngIf="!carregando">
    <ng-template pTemplate="caption">
        Pousos
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>