.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
}

.login input {
  margin-bottom: 15px;
}

.login .btn {
  background-color: #59adf1;
  text-transform: uppercase;
  font-weight: bold;
}

.login .error {
  background-color: #fd9292;
  color: #353535;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}
