<app-loading *ngIf="loading"></app-loading>
<app-message></app-message>
<div class="content">

  <svg id="salvar" width="32px" height="32px" viewBox="0 0 512 512" (click)="saveUsuario()">
    <g>
      <rect x="248" y="352" width="16" height="96"></rect>
      <path d="M399.3,183.6c0-1.2,0.2-2.4,0.2-3.6c0-64.3-52.8-116.4-116.8-116.4c-46.1,0-85.8,27.1-104.4,66.3
        c-8.1-4.1-17.1-6.4-26.8-6.4c-29.6,0-54.1,23.6-58.9,52C57.4,187.6,32,222.2,32,261.8c0,49.7,40.1,90.2,89.6,90.2H182h31h35V205.8
        l-54.7,54.5l-11.6-11.6l74.5-74.3l74.5,74.3l-11.8,11.6L264,205.8V352h134c45,0,82-37.3,82-82.8C480,223.7,444.5,183.7,399.3,183.6
        z"></path>
    </g>
  </svg>

  <div class="search">
    <label for="trato">
      Nome do Usuário:
      <input type="text" id="trato" [(ngModel)]="trato">
    </label>

    <button class="btn btn-search" (click)="search()">
      <img src="assets/icons/search.svg" alt="Search">
    </button>

    <button class="btn btn-new" (click)="novoUsuario()">
      +
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Excluir?</th>
        <th>Nome</th>
        <th>Atualização</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>
          <input type="checkbox" name="{{usuario.Id}}" id="excluir" style="margin: 0 auto;" (change)="excluirUsuario($event)">
        </td>
        <td>
          <a routerLink="/usuario/{{usuario.Id}}" style="text-decoration: underline; color:black; ">
            {{usuario.Username}}
          </a>
        </td>
        <td>
          {{usuario.Atualizacao | date:'dd/MM/yyyy hh:mm:ss'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
