div {
    display: inline;
    width: 48%;
}

img {
    width: 70%; /* you can use % */
    height: auto;
}

body {
    font-size: 12pt;
    font-family: Calibri;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    display: inline-block;
    float: left;
    margin: 0px 10px 0px 10px;
}


th {
    border: 0px solid black;
}

tr {
}

td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

.espelho {
    display: none;
}

.assinatura {
    font-size: 8pt;
    font-family: Calibri;
    text-align: left;
    vertical-align: top;
    height: 30px;
}

@media print {


    #tabela {
        display: none;
    }

    body {
        font-size: 8pt;
        font-family: Calibri;
        padding: 10px;
        margin: auto;
    }

    td {
        border: 1px solid black;
        padding: 1px;
        text-align: center;
    }

    .assinatura {
        font-size: 6pt;
        font-family: Calibri;
        text-align: left;
        vertical-align: top;
        height: 30px;
    }

    .espelho {
        display: inline;
    }
}
