.content {
  display: flex;
  margin-top: 55px;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 25px;
}

.dados-pessoas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.dados-pessoas>.table {
  min-width: 40%;
}

.template {
  width: 100%;
  overflow: auto;
}

.table {
  margin: 0 auto;
  margin-bottom: 30px;
}

.label1 {
  width: 70%;
  margin: 5px 5%;
}

.label2 {
  width: 33%;
  margin: 5px 2%;
}

.label1>input,
.label2>input,
.label1>select,
.label2>select {
  box-sizing: content-box;
  width: 100%;
}

.nav-tabs>li>b.active,
.nav-tabs>li>b.active:focus,
.nav-tabs>li>b.active:hover,
.nav-tabs>li>div>b.active,
.nav-tabs>li>div>b.active:focus,
.nav-tabs>li>div>b.active:hover {
  cursor: default;
  background-color: #e0e0e0;
  border: 1px solid #ddd;
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-color: transparent;
}

.nav-tabs>li>b,
.nav-tabs>li>div>b {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  text-decoration: none;
  color: #555;
  cursor: pointer;
}

.nav-tabs>li>div>b {
  width: 48%;
  text-align: center;
}

.nav-tabs>li>b:hover,
.nav-tabs>li>div>b:hover {
  background-color: #dee2e6;
  border-color: #dadfe4 #dadfe4 #dadfe4;
}

.nav>li>b {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #555;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

input[type="number"] {
  width: 70px;
}

option {
  text-align: center;
}

.nav>li {
  position: relative;
  display: block;
}

.sucess {
  background-color: #1fce45;
  font-weight: bold;
  width: 40px;
  height: 35px;
}

.error {
  background-color: #e5bfb9;
  width: 40px;
  height: 35px;
  line-height: 0;
}


#salvar {
  position: fixed;
  top: 5px;
  right: 25px;
  cursor: pointer;
  fill: #157dfb;
  z-index: 2;
}
