<app-loading *ngIf="loading"></app-loading>
<app-menssage></app-menssage>

<svg id="salvar" width="32px" height="32px" viewBox="0 0 512 512" (click)="onClickSave()">
  <g>
    <rect x="248" y="352" width="16" height="96"></rect>
    <path d="M399.3,183.6c0-1.2,0.2-2.4,0.2-3.6c0-64.3-52.8-116.4-116.8-116.4c-46.1,0-85.8,27.1-104.4,66.3
    c-8.1-4.1-17.1-6.4-26.8-6.4c-29.6,0-54.1,23.6-58.9,52C57.4,187.6,32,222.2,32,261.8c0,49.7,40.1,90.2,89.6,90.2H182h31h35V205.8
    l-54.7,54.5l-11.6-11.6l74.5-74.3l74.5,74.3l-11.8,11.6L264,205.8V352h134c45,0,82-37.3,82-82.8C480,223.7,444.5,183.7,399.3,183.6
    z"></path>
  </g>
</svg>

<div class="content">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <b class="nav-link" (click)="onClickTabs('dados-pessoais')" [ngClass]="{'active': template === 'dados-pessoais'}"
        href="#">
        Dados Pessoais
      </b>
    </li>
    <li class="nav-item">
      <b class="nav-link" (click)="onClickTabs('experiencia')" [ngClass]="{'active': template === 'experiencia'}" href="#">Experiência</b>
    </li>
    <li class="nav-item">
      <b class="nav-link" (click)="onClickTabs('especializacao')" [ngClass]="{'active': template === 'especializacao'}"
        href="#">Especialização</b>
    </li>
    <li class="nav-item">
      <b class="nav-link" (click)="onClickTabs('informacoes-academicas')" [ngClass]="{'active': template === 'informacoes-academicas'}"
        href="#">Informações Acadêmicas</b>
    </li>
    <li class="nav-item">
      Cursos e Treinamentos Relativos a Função
      <div style="display: flex;justify-content: space-around;">
        <b class="nav-link" (click)="onClickTabs('cursos-treinamentos-geral')" [ngClass]="{'active': template === 'cursos-treinamentos-geral'}"
          href="#">GERAL</b>
        <b class="nav-link" (click)="onClickTabs('cursos-treinamentos-emar')" [ngClass]="{'active': template === 'cursos-treinamentos-emar'}"
          href="#">EMAR</b>
      </div>
    </li>
  </ul>

  <div class="dados-pessoas" *ngIf="template === 'dados-pessoais'">
    <label class="label1" for="nome-completo">
      Nome Completo:
      <input type="text" id="nome-completo" name="nome-completo" [(ngModel)]="tripulante.NomeCompleto">
    </label>

    <label class="label2" for="anac">
      Código ANAC:
      <input type="text" id="anac" name="anac" [(ngModel)]="tripulante.CodigoANAC">
    </label>

    <label class="label2" for="trato">
      Trato:
      <input type="text" id="trato" name="trato" [(ngModel)]="tripulante.Trato">
    </label>

    <label class="label2" for="identidade">
      Identidade:
      <input type="text" id="identidade" name="identidade" [(ngModel)]="tripulante.Identidade">
    </label>

    <label class="label2" for="cpf">
      CPF:
      <input type="text" id="cpf" name="cpf" [(ngModel)]="tripulante.CPF">
    </label>

    <label class="label2" for="data-nascimento">
      Data de Nascimento:
      <input type="date" id="data-nascimento" name="data-nascimento" [(ngModel)]="tripulante.Nascimento">
    </label>

    <label class="label2" for="licenca">
      Licença:
      <input type="text" id="licenca" name="licenca" [(ngModel)]="tripulante.Licenca">
    </label>

    <label class="label2" for="endereco">
      Endereço:
      <input type="text" id="endereco" name="endereco" [(ngModel)]="tripulante.Endereco">
    </label>

    <label class="label2" for="email">
      Email:
      <input type="email" id="email" name="email" [(ngModel)]="tripulante.Email">
    </label>

    <label class="label2" for="idioma">
      Idioma:
      <input type="text" id="idioma" name="idioma" [(ngModel)]="tripulante.Idioma">
    </label>

    <label class="label2" for="data-admissao">
      Data de Admissão:
      <input type="date" id="data-admissao" name="data-admissao" [(ngModel)]="tripulante.Admissao">
    </label>

    <label class="label2" for="base">
      Base Contratual:
      <select name="base" id="base" [(ngModel)]="tripulante.Base.Id">
        <option value="">---</option>
        <option *ngFor="let base of bases" value="{{base.Id}}">{{base.Nome}}</option>
      </select>
    </label>

    <label class="label2" for="cargo">
      Cargo:
      <select name="cargo" id="cargo" [(ngModel)]="tripulante.Cargo.Id">
        <option value="">---</option>
        <option *ngFor="let cargo of cargos" value="{{cargo.Id}}">{{cargo.Nome}}</option>
      </select>
    </label>

    <table class="table" style="margin-top: 15px">
      <thead>
        <tr>
          <th>Tipo de Operação</th>
          <th>Data de Início</th>
          <th>Data de Fim</th>
          <th>
            <button class="btn sucess" (click)="onClickNovaOperacao()">+</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operacao of filterObjAtivo(tripulante.Operacao)">
          <td>
            <select name="tipoOperacao" [compareWith]="compareFn" [(ngModel)]="operacao.TipoDeOperacao">
              <option value="">---</option>
              <option *ngFor="let tipoOperacao of tipoOperacoes" [ngValue]="tipoOperacao">{{tipoOperacao.Nome}}</option>
            </select>
          </td>
          <td>
            <input type="date" name="data-inicio" [(ngModel)]="operacao.DataDeInicio">
          </td>
          <td>
            <input type="date" name="data-fim" [(ngModel)]="operacao.DataDeFim">
          </td>
          <td>
            <button class="btn error" (click)="onClickDelete(operacao)">
              <img alt="Lixeira" src="assets/icons/trash-icon.svg">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="template" *ngIf="template === 'experiencia'">
    <table class="table">
      <thead>
        <tr>
          <th>Tipo de Aeronave</th>
          <th>Tipo de Operação</th>
          <th>Cargo</th>
          <th>Empresa</th>
          <th>Data de Início</th>
          <th>Data de Fim</th>
          <th>Total de Horas</th>
          <th>Total de Horas IFR</th>
          <th>Total de Horas Noturno</th>
          <th>
            <button class="btn sucess" (click)="onClickNovaExperiencia()">
              +
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let experiencia of filterObjAtivo(tripulante.Experiencia)">
          <td>
            <select name="tipo-aeronave" [(ngModel)]="experiencia.TipoDeAeronave.Id">
              <option value="">---</option>
              <option *ngFor="let aeronave of tipoAeronaveis" value="{{aeronave.Id}}">{{aeronave.Nome}}</option>
            </select>
          </td>
          <td>
            <select name="tipo-operacao" [(ngModel)]="experiencia.TipoDeOperacao.Id">
              <option value="">---</option>
              <option *ngFor="let operacao of tipoOperacoes" value="{{operacao.Id}}">{{operacao.Nome}}</option>
            </select>
          </td>
          <td>
            <select name="tipo-cargo" [(ngModel)]="experiencia.Cargo.Id">
              <option value="">---</option>
              <option *ngFor="let cargo of cargos" value="{{cargo.Id}}">{{cargo.Nome}}</option>
            </select>
          </td>
          <td>
            <input type="text" name="empresa" [(ngModel)]="experiencia.Empresa">
          </td>
          <td>
            <input type="date" name="data-inicio" [(ngModel)]="experiencia.DataDeInicio">
          </td>

          <td>
            <input type="date" name="data-fim" [(ngModel)]="experiencia.DataDeFim">
          </td>

          <td>
            <input type="number" min="0" step="0.1" name="totalDeHoras" [(ngModel)]="experiencia.TotalDeHoras">
          </td>
          <td>
            <input type="number" min="0" step="0.1" name="totalDeHorasIFR" [(ngModel)]="experiencia.TotalDeHorasIFR">
          </td>
          <td>
            <input type="number" min="0" step="0.1" name="totalDeHorasNoturno" [(ngModel)]="experiencia.TotalDeHorasNoturno">
          </td>
          <td>
            <button class="btn error" (click)="onClickDelete(experiencia)">
              <img alt="Lixeira" src="assets/icons/trash-icon.svg">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="template" *ngIf="template === 'especializacao'">
    <table class="table">
      <thead>
        <tr>
          <th>Tipo de Operação</th>
          <th>Carga Horaria</th>
          <th>Empresa</th>
          <th>Data de Início</th>
          <th>Data de Fim</th>
          <th>
            <button class="btn sucess" (click)="onClickNovaEspecializacao()">
              +
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let exp of filterObjAtivo(tripulante.Especializacoes)">
          <td>
            <select name="tipoOperacao" [(ngModel)]="exp.TipoDeOperacao.Id">
              <option value="">---</option>
              <option *ngFor="let tipoOperacao of tipoOperacoes" value="{{tipoOperacao.Id}}">
                {{tipoOperacao.Nome}}
              </option>
            </select>
          </td>
          <td>
            <input type="number" name="cargaHoraria" [(ngModel)]="exp.CargaHoraria">
          </td>
          <td>
            <input type="text" name="empresa" [(ngModel)]="exp.Empresa">
          </td>
          <td>
            <input type="date" name="dataInicio" [(ngModel)]="exp.DataDeInicio">
          </td>
          <td>
            <input type="date" name="dataFim" [(ngModel)]="exp.DataDeFim">
          </td>
          <td>
            <button class="btn error" (click)="onClickDelete(exp)">
              <img alt="Lixeira" src="assets/icons/trash-icon.svg">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="template" *ngIf="template === 'informacoes-academicas'">
    <table class="table">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Instituição</th>
          <th>Data de Início</th>
          <th>Data de Fim</th>
          <th>
            <button class="btn sucess" (click)="onClickNovaInformacaoAcademica()">
              +
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let academica of filterObjAtivo(tripulante.InformacoesAcademicas)">
          <td>
            <input type="text" name="curso" [(ngModel)]="academica.Curso">
          </td>
          <td>
            <input type="text" name="instituicao" [(ngModel)]="academica.Instituicao">
          </td>
          <td>
            <input type="date" name="dataInicio" [(ngModel)]="academica.DataDeInicio">
          </td>
          <td>
            <input type="date" name="dataFim" [(ngModel)]="academica.DataDeFim">
          </td>
          <td>
            <button class="btn error" (click)="onClickDelete(academica)">
              <img alt="Lixeira" src="assets/icons/trash-icon.svg">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="template" *ngIf="template === 'cursos-treinamentos-geral'">
    <table class="table">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Instituição</th>
          <th>Ano</th>
          <th>Carga Horária</th>
          <th>
            <button class="btn sucess" (click)="onClickNovoRelativoFuncaoGeral()">
              +
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let geral of filterObjAtivo(tripulante.RelativoFuncaoGeral)">
          <td>
            <input type="text" name="curso" [(ngModel)]="geral.Curso">
          </td>
          <td>
            <input type="text" name="instituicao" [(ngModel)]="geral.Instituicao">
          </td>
          <td>
            <input type="number" name="ano" min="0" [(ngModel)]="geral.Ano">
          </td>
          <td>
            <input type="number" name="cargaHoraria" min="0" [(ngModel)]="geral.CargaHoraria">
          </td>
          <td>
            <button class="btn error" (click)="onClickDelete(geral)">
              <img alt="Lixeira" src="assets/icons/trash-icon.svg">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="template" *ngIf="template === 'cursos-treinamentos-emar'">
    <table class="table">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Instituição</th>
          <th>Inicial</th>
          <th>Data de Fim</th>
          <th>Validade</th>
          <th>Carga Horária</th>
          <th>
            <button class="btn sucess" (click)="onClickNovoRelativoFuncaoEmpresa()">
              +
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let emar of filterObjAtivo(tripulante.RelativoFuncaoEmpresa)">
          <td>
            <select name="curso" [(ngModel)]="emar.Curso.Id">
              <option value="">---</option>
              <option *ngFor="let curso of cursos" value="{{curso.Id}}">{{curso.Nome}}</option>
            </select>
          </td>
          <td>
            <input type="text" name="instituicao" [(ngModel)]="emar.Instituicao">
          </td>
          <td>
            <input type="checkbox" name="inicial" [(ngModel)]="emar.Inicial" style="display: inline;">
          </td>
          <td>
            <input type="date" name="dataFim" [(ngModel)]="emar.DataDeFim">
          </td>
          <td>
            <input type="date" name="validade" [(ngModel)]="emar.Validade">
          </td>
          <td>
            <input type="number" name="cagaHoraria" [(ngModel)]="emar.CargaHoraria">
          </td>
          <td>
            <button class="btn error" (click)="onClickDelete(emar)">
              <img alt="Lixeira" src="assets/icons/trash-icon.svg">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
