.content {
  display: flex;
  margin-top: 55px;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 15px;
}

table,
tr,
td {
  border: 1px solid #d8d8d8;
  padding: 10px;
}

table tr:nth-child(2n) {
  background-color: #ececec;
}

@media (max-width: 580px) {

  table {
    width: 90%;
  }
}
