<div id="tela">
    <app-titulo titulo="Duplas" [carregando]="!(listasOK)"></app-titulo>

    <p-toast position="center"></p-toast>

    <span class="p-buttonset botoes_salvar">
        <button pButton type="button" label="Novo" (click)="novaLinha()" icon="pi pi-file"
            class="p-button-raised p-button-rounded p-button-success" [disabled]="!(listasOK && listasOK)"></button>
        <button pButton type="button" label="Salvar" (click)="salvar()" icon="pi pi-check"
            class="p-button-raised p-button-rounded" [disabled]="!(listasOK && listasOK)"></button>
        <button pButton type="button" label="Cancelar" icon="pi pi-times"
            class="p-button-raised p-button-rounded p-button-warning" [disabled]="!(listasOK && listasOK)"></button>
        <button pButton type="button" label="Excluir" icon="pi pi-trash" (click)="delete()"
            class="p-button-raised p-button-rounded p-button-danger"
            [disabled]="linhasSelecionadas.length == 0 || !(listasOK && listasOK)"></button>
    </span>

    <p-card class="mt-1">

        <button type="button" pButton pRipple label="Inicial"></button>
        <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
            (onSelect)="mudarDataInicio()"></p-calendar>
        <button type="button" pButton pRipple label="Final" class="ml-2"></button>
        <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>

        <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
            class="ml-2"></button>

    </p-card>

    <p-button *ngFor="let item of datas" class="p-ml-2" (click)="filtrar(item)">
        {{item | date:'dd/MM/yyyy'}}
    </p-button>


    <p-table [value]="cursos" styleClass="p-datatable-striped p-mt-2">

        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th colspan="5">Treinamentos</th>
            </tr>
            <tr>
                <th>Nome</th>
                <th>Local</th>
                <th>Instrutor</th>
                <th>Alunos</th>
                <th>Datas</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-linha let-editing="editing" let-ri="rowIndex">
            <tr *ngIf="linha.Exibir">
                <td>
                    {{linha.Nome}}
                </td>
                <td>
                    {{linha.Local}}
                </td>
                <td>
                    <div *ngIf="linha.InstrutorExterno">Externo</div>
                    <div *ngIf="!linha.InstrutorExterno">{{linha.Instrutor}}</div>
                </td>
                <td>
                    {{linha.AlunosStr}}
                </td>
                <td>
                    {{linha.DatasStr}}
                </td>
            </tr>
        </ng-template>


    </p-table>


    <p-table [value]="duplas" dataKey="Id" editMode="row" styleClass="p-datatable-striped p-mt-2">

        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:5%">
                <col style="width:15%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:20%">
                <col style="width:15%">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th colspan="7">Duplas</th>
            </tr>
            <tr>
                <th></th>
                <th>Data</th>
                <th>Base</th>
                <th>PIC</th>
                <th>SIC</th>
                <th>Prefixo</th>
                <th>Observação</th>
                <th>Repete Até</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-linha let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="linha" *ngIf="linha.Exibir">
                <td>
                    <p-checkbox [value]="linha.Id" [(ngModel)]="linhasSelecionadas"></p-checkbox>
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-calendar [(ngModel)]="linha.Data" selectionMode="single" dateFormat="dd/mm/yy"
                                showIcon="true" (onInput)="mudeiAqui($event, linha)"
                                (onSelect)="mudeiAqui($event, linha)">
                            </p-calendar>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{linha.Data | date:'dd/MM/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="bases" [(ngModel)]="linha.Base" dataKey="Id" optionLabel="Nome"
                                [showClear]="true" placeholder="Base" [style]="{'width': '130px'}"
                                (onChange)="mudeiAqui($event, linha)" [filter]="true">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="linha.Base">{{linha.Base.Nome}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="tripulantes" [(ngModel)]="linha.PIC" dataKey="Id" optionLabel="Trato"
                                [showClear]="true" placeholder="PIC" [style]="{'width': '150px'}"
                                (onChange)="mudeiAqui($event, linha)" [filter]="true">
                                <ng-template let-trip pTemplate="item">
                                    <div>
                                        <div class="grid">
                                            <div class="col-2"><div class="bolinha" ngClass="{{trip.Bolinha}}"><span *ngIf="trip.PIC">P</span><span *ngIf="!trip.PIC">S</span></div></div>
                                            <div class="col-8 ml-2">{{trip.Trato}}</div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="linha.PIC">{{linha.PIC.Trato}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="tripulantes" [(ngModel)]="linha.SIC" dataKey="Id" optionLabel="Trato"
                                [showClear]="true" placeholder="SIC" [style]="{'width': '150px'}"
                                (onChange)="mudeiAqui($event, linha)" [filter]="true">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="linha.SIC">{{linha.SIC.Trato}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="prefixos" [(ngModel)]="linha.Prefixo" dataKey="Id"
                                optionLabel="PrefixoCompleto" [showClear]="true" placeholder="Prefixo"
                                [style]="{'width': '130px'}" (onChange)="mudeiAqui($event, linha)" [filter]="true">
                            </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="linha.Prefixo">{{linha.Prefixo.PrefixoCompleto}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" pInputText [(ngModel)]="linha.Observacao"
                                (keyup)="mudeiAqui($event, linha)" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{linha.Observacao}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-calendar [(ngModel)]="linha.RepeteAte" selectionMode="single" dateFormat="dd/mm/yy"
                                showIcon="true" (onSelect)="mudeiAqui($event, linha)">
                            </p-calendar>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{linha.RepeteAte | date:'dd/MM/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>


            </tr>
        </ng-template>


    </p-table>
</div>