.botao_pesquisar{

        position: fixed;
        left: 150px;
        top: 20px;
        width: 500px;
        z-index: 10000;

}

tr {
    margin: 0%;
    border: 0%;
    padding: 0%;
}
td {
    margin: 0%;
    border: 0%;
    padding: 0%;
}
.element {
    margin: 0%;
    border: 0%;
    padding: 0%;
}

div.bolinha {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

div.cinza {
    background-color: gray;
}

div.vermelha {
    background-color: red;
    color: white;
}

div.amarela {
    background-color: yellow;
}

div.verde {
    background-color: green;
    color: white;
}

li.vermelho {
    background-color: red;
    color: white;
    list-style-type: none;
    padding: 5px;
}

li.amarelo {
    background-color: yellow;
    color: black;
    list-style-type: none;
    padding: 5px;
}

li.verde {
    background-color: green;
    color: white;
    list-style-type: none;
    padding: 5px;
}