.content {
  margin-top: 44px;
  min-height: auto !important;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.search>div>input {
  text-align: center;
}

.resultado {
  width: 100%;
  min-height: 50%;
}

.descricao {
  font-size: 14px;
  color: #ccc;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tripulante {
  margin: 10px 0;
  color: black;
  flex: auto;
  display: flex;
  width: 100%;
}

.tripulante:nth-child(2n+1) {
  background-color: #f1f1f1;
}

.tripulante:nth-child(2n) {
  background-color: #f7f7f7;
}

.nivel {
  padding: 10px 0;
  flex-grow: 2;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  font-size: 1.4em;
}

.nivel1 {
  background-image: -webkit-linear-gradient(135deg, transparent 15%, #00CE89 10%);
}

.nivel2 {
  background-image: -webkit-linear-gradient(135deg, transparent 15%, #FFDD3A 10%);
}

.nivel3 {
  background-image: -webkit-linear-gradient(135deg, transparent 15%, #FF5E5E 10%);
}

.user {
  padding: 10px 0;
  flex-grow: 3;
  line-height: 2em;
}
