<div class="content">

  <div class="search">
    <div>
      <label for="dataInicio">CNAE</label>
      <input type="number" name="cnae" [(ngModel)]="cnae" max="6">
    </div>
    <div>
      <label for="data">Data</label>
      <input type="date" name="data" id="data" [(ngModel)]="data">
    </div>
    <div>
      <label for="dataInicio">Data Inicial</label>
      <input type="date" name="dataInicio" id="dataInicio" [(ngModel)]="dataInicio">
    </div>
    <div>
      <label for="dataFinal">Data Final</label>
      <input type="date" name="dataFinal" id="dataFinal" [(ngModel)]="dataFinal">
    </div>
  </div>
  <div class="search">
    <button class="btn" (click)="onBuscarTripulante()">Buscar</button>
  </div>

  <div class="resultado" [ngClass]="{'flex': tripulantes}">
    <p class="descricao" *ngIf="!tripulantes">
      CNAE: Busca pelo CNAE do tripulante
    </p>
    <p class="descricao" *ngIf="!tripulantes">
      Data: Avaliações daquela data
    </p>
    <p class="descricao" *ngIf="!tripulantes">
      Data Inicial e Data Final: Avaliações daquela intervalo de tempo
    </p>

    <div style="border-bottom: 1px solid #eee; width:100%; margin: 0 10px;" *ngFor="let tripulante of tripulantes; index as i; first as isFirst">
      <div class="tripulante" (click)="showInfoTripulante(tripulante)">
        <div class="nivel" [ngClass]="{'nivel1': i === 0, 'nivel2': i % 2, 'nivel3': i % 3}">
          Nivel 1:
        </div>
        <div class="user">
          {{i+1}} / {{tripulantes.length}} - {{tripulante.Pessoa.Nome}}
        </div>
      </div>
    </div>

  </div>

</div>
