<div class="grid assinatura">    

    <p-toast position="center"></p-toast>

    <div class="div-loading" [class.mostrar-loading]="mostrarLoading">
        <svg viewBox="25 25 50 50" class="p-progress-spinner-svg" style="animation-duration: 2s;"><circle cx="50" cy="50" r="20" stroke-miterlimit="10" class="p-progress-spinner-circle" fill="none" stroke-width="2"></circle></svg>
    </div>
    
    <!--<button *ngIf="passo == 1" (click)="enviarEmail()" type="button" class="p-button-success enviar-email" icon="pi pi-id-card" pButton pRipple label="Enviar relatório para assinar"></button>-->
    <button *ngIf="passo == 4" (click)="enviarManifesto()" type="button" class="p-button-success enviar-email" icon="pi pi-id-card" pButton pRipple label="Enviar Manifestos de Voos"></button>    

    <div class="p-field col-12">
        <h2>Etapas para enviar o Relatório Boca</h2>
        <div class="container-passos">
            <span class="passos">
                <h5>PASSO 1</h5>
                Gerar PDFs de todos os RDVs listados nos botões <i>Acessar RDV</i>
            </span>
            <span class="passos">
                <h5>PASSO 2</h5>
                Clique no botão <i>Verificar RDVs</i>
            </span>
            <span class="passos">
                <h5>PASSO 3</h5>
                Confirme o e-mail origem (que enviará o relatório)                
            </span>
            <span class="passos">
                <h5>PASSO 4</h5>
                Confirme os e-mails destino e clique em <i>Enviar Manifestos de Voos</i>
            </span>
        </div>
    </div>

    <div class="p-field col-12">        
        <button type="button" style="box-sizing: border-box; width: 25%;" class="label-fixo-2" pButton pRipple label="E-mail Origem"></button>
        <input [disabled]="passo != 1" [readonly]="passo != 1" pInputText style="box-sizing: border-box; width: 75%;" type="email" [(ngModel)]="EmailAssinante">                    
    </div>

    <div class="p-field col-12">        
        <button class="p-button-raised p-button-text p-button-secondary" style="box-sizing: border-box; width: 40%;" type="button" icon="pi pi-file-pdf" pButton pRipple label="Status dos PDFs Gerados"></button>
        <button *ngIf="passo == 5" icon="pi pi-check-square" class="p-button-success" style="box-sizing: border-box; width: 60%;" type="button" pButton pRipple label="{{obterStatusAssinatura()}}"></button>
        <button *ngIf="passo != 5" icon="pi pi-file-excel" class="p-button-warning" style="box-sizing: border-box; width: 60%;" type="button" pButton pRipple label="{{obterStatusAssinatura()}}"></button>
    </div>    

    <div class="p-field lista-status col-12">        
        <button type="button" class="label-fixo-2 item-lista-status" style="box-sizing: border-box; width: 70%;" pButton pRipple label="Verificar PDFs dos RDVs"></button>        
        <button [disabled]="passo > 3" (click)="verificarStatusRDVs()" type="button" class="p-button-success botao-lista-status" [ngClass]="{'botao-cinza': passo > 3}" icon="pi pi-sync" style="box-sizing: border-box; width: 27%;" pButton pRipple label="Verificar RDVs"></button>        
    </div>

    <div class="p-field lista-status col-12" *ngFor="let assinatura of assinaturasRDVs">
        <button class="p-button-raised p-button-text p-button-secondary item-lista-status" type="button" style="box-sizing: border-box; width: 60%;" pButton pRipple label="Folha: {{assinatura.NumeroDaFolha}} - Voos: {{assinatura.Voos}} - Status:"></button>
        <button *ngIf="assinatura.Assinado" icon="pi pi-check-square" class="p-button-success item-lista-status" style="box-sizing: border-box; width: 10%;" type="button" pButton pRipple></button>
        <button *ngIf="!assinatura.Assinado" icon="pi pi-file-excel" class="p-button-warning status-item-lista-status" style="box-sizing: border-box; width: 10%;" type="button" pButton pRipple></button>                        
        <button [disabled]="assinatura.Assinado" (click)="abrirLinkRDV(assinatura.NumeroDaFolha)" type="button" class="p-button-success botao-lista-status" style="box-sizing: border-box; width: 27%;" [ngClass]="{'botao-cinza': assinatura.Assinado}" icon="pi pi-key" pButton pRipple label="Acessar RDV"></button>    
    </div>

    <div class="p-field col-12">        
        <button type="button" class="col-12 label-fixo-2" pButton pRipple label="E-mails que vão receber os Manifestos de Voos"></button>
        <br>                            
        <p-chips (onAdd)="validarEmailChips($event)" [allowDuplicate]="false" [disabled]="passo > 4" [(ngModel)]="EmailsDestino" name="EmailsDestinoChips" ngDefaultControl></p-chips>
    </div>

    <div class="p-field col-12" style="display: none;">
        <h2>Arquivos para assinar</h2>
        <div class="p-field">
            
            <p-fileUpload [disabled]="true" name="anexos[]" accept="application/pdf" customUpload="true" chooseLabel="Anexos"
                [auto]="true" (uploadHandler)="uploadAnexos($event)" maxFileSize="1000000000" multiple="multiple">

                <ng-template pTemplate="toolbar">
                </ng-template>
                <ng-template let-file pTemplate="file">
                </ng-template>

                <ng-template pTemplate="content">

                    <p-table [value]="DadosAssinatura.Assinatura.Arquivos" width="100%">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                        <th>Arquivo</th>
                        <th></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-file>
                        <tr>
                            <td (click)="abrirArquivo(file.Id)">
                                <i class="pi pi-file-pdf"></i>
                                {{file.FileName}}
                            </td>
                            <td style="width: 200px;">
                                <button [disabled]="true" pButton icon="pi pi-trash" class="p-button-danger botao-cinza" label="Apagar"
                                (click)="apagarAnexo(file.Id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>

                </ng-template>
                </p-fileUpload>            
        </div>
    </div>

</div>