<p-card *ngIf="fg && fg2 && fg3">


    <form [formGroup]="fg" class="mt-2">


        <div class="p-grid ui-fluid">
            <div class="p-col-10 p-md-4">
                <span class="ui-float-label mt-4">
                    <p-inputSwitch id="ehOcorrencia" formControlName="EhOcorrencia"></p-inputSwitch>
                    <label for="ehOcorrencia">Esta indisponibilidade é ocorrência?</label>
                </span>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Contrato</span>
                    <p-dropdown [options]="contrato" formControlName="Contrato" placeholder="Selecione um contrato"
                        optionLabel="Nome" [showClear]="true"></p-dropdown>
                </div>
                <span class="ui-float-label mt-4">
                    <textarea id="float-input" rows="5" cols="100" pInputTextarea
                        formControlName="DescricaoDoMotivo"></textarea>
                    <label for="float-input">Descrição do Motivo</label>
                </span>
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Início</span>
                    <p-inputMask formControlName="Inicio" mask="99/99/9999 99:99"></p-inputMask>
                    <span class="ui-inputgroup-addon">Término</span>
                    <p-inputMask formControlName="Fim" mask="99/99/9999 99:99"></p-inputMask>
                </div>
            </div>
        </div>



    </form>

    <form [formGroup]="fg2">
        <p-table [value]="tbIndisponibilidades.controls" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="5">Detalhes</th>
                    <th style="width: 50px;">
                        <button pButton type="button" icon="pi pi-plus" class="ui-button mr-2"
                            (click)="addNewRow('tbIndisponibilidades')"></button>
                    </th>
                </tr>
                <tr>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Penaliza</th>
                    <th>Substituto</th>
                    <th>Base</th>
                    <th style="width: 50px;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <ng-container formArrayName="tbIndisponibilidades">
                    <tr [formGroupName]="rowIndex">
                        <td>
                            <p-inputMask formControlName="Inicio" mask="99/99/9999 99:99"></p-inputMask>
                            <!-- <input type="text" class="form-control form-control-sm" formControlName="Inicio" /> -->
                        </td>
                        <td>
                            <p-inputMask formControlName="Termino" mask="99/99/9999 99:99"></p-inputMask>
                            <!-- <input type="text" class="form-control form-control-sm" formControlName="Termino" /> -->
                        </td>
                        <td>
                            <p-inputSwitch formControlName="Penaliza"></p-inputSwitch>
                        </td>
                        <td>
                            <p-dropdown [options]="prefixo" formControlName="Substituto" placeholder="Prefixo"
                                optionLabel="Nome" [showClear]="true" [filter]="true">
                            </p-dropdown>
                        </td>
                        <td>
                            <p-dropdown [options]="base" formControlName="BaseDeOperacao" placeholder="Base"
                                optionLabel="Nome" [showClear]="true">
                            </p-dropdown>
                        </td>
                        <td>
                            <button pButton type="button" class="btn btn-danger" title="Delete"
                                (click)="onDeleteRow('tbIndisponibilidades', rowIndex)" icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </form>

    <br />

    <form [formGroup]="fg3">
        <p-table [value]="tbObs.controls" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="3">Histórico</th>
                    <th style="width: 50px;">
                        <button pButton type="button" icon="pi pi-plus" class="ui-button mr-2"
                            (click)="addNewRow('tbObs')"></button>
                    </th>
                </tr>
                <tr>
                    <th>Data</th>
                    <th>Motivo</th>
                    <th style="width: max-content;">Detalhe</th>
                    <th style="width: 50px;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <ng-container formArrayName="tbObs">
                    <tr [formGroupName]="rowIndex">
                        <td>
                            <input type="text" formControlName="Atualizacao" readonly />
                        </td>
                        <td>
                            <p-dropdown [options]="motivosIndisponibilidade" formControlName="Motivo"
                                placeholder="Motivo" optionLabel="Nome" [style]="{'width':'400px'}">
                            </p-dropdown>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" formControlName="Observacoes" />
                        </td>
                        <td>
                            <button pButton type="button" class="btn btn-danger" title="Delete"
                                (click)="onDeleteRow('tbObs', rowIndex)" icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </p-table>
    </form>

    <p-footer class=" d-flex justify-content-end">
        <button pButton type="button" label="Excluir" class="ui-button-danger mr-2" (click)="excluir()"></button>
        <button pButton type="button" label="Cancelar" class="ui-button-warning mr-2" (click)="cancelar()"></button>
        <button pButton type="button" label="Salvar" class="ui-button-success" (click)="salvar(false)"></button>
    </p-footer>
</p-card>