<app-titulo titulo="Dados de Medição" [carregando]="!tudoPronto"></app-titulo>


<p-toolbar class=" d-print-none">

    <div>

        <button type="button" pButton pRipple label="Mês"></button>
        <p-calendar [(ngModel)]="dataSelecionada" view="month" selectionMode="single" dateFormat="mm/yy" showIcon="true"
            [inputStyle]="{'width':'100px'}"></p-calendar>

        <button type="button" pButton pRipple label="Base" class="ml-2"></button>
        <p-dropdown [options]="filtroBase" [(ngModel)]="baseDeOperacaoSelecionada" [filter]="true" optionValue="Id"
            filterBy="label,value.name" optionLabel="Nome"></p-dropdown>

        <button type="button" pButton pRipple label="Cliente" class="ml-2"></button>
        <p-dropdown [options]="filtroClientes" [(ngModel)]="clienteSelecionado" [filter]="true" filterBy="Nome"
            optionValue="Id" optionLabel="Nome" appendTo="body"></p-dropdown>
        <button pButton type="button" icon="pi pi-search" iconPos="left" (click)="rodarRelatorio()"
            class="ml-2"></button>
    </div>



</p-toolbar>

<p-tabView *ngIf="prefixos && tudoPronto" (onChange)="definirAbaSelecionada($event)">
    <p-tabPanel [header]="prefixo.Prefixo" *ngFor="let prefixo of prefixos; let i = index" [selected]="i == 0">
        <table *ngIf="exibirPrefixos">
            <thead>
                <tr>
                    <th><img id="logo" src="/assets/imgs/bristow.png" alt="image"></th>
                    <th colspan="10">DADOS DE MEDIÇÃO</th>
                    <th>
                        H-008<br>
                        Revisão: 01<br>
                        Data: 02/08/2021
                    </th>
                </tr>
                <tr>
                    <th id="contrato" colspan="12">
                        Período de {{prefixo.Inicio | date: "dd/MM/yyyy"}} à {{prefixo.Fim | date: "dd/MM/yyyy"}}<br>
                        Contrato: {{prefixo.Contrato}}<br>
                        Base: {{prefixo.Base}}
                    </th>
                </tr>
                <tr>
                    <th id="titular">Titular/{{prefixo.PrefixoCompleto}}</th>
                </tr>
                <tr>
                    <th>Data</th>
                    <th>Nº Folha Bordo</th>
                    <th>Back Up</th>
                    <th>Base</th>
                    <th>Tempo FB</th>
                    <th>Consumido FB</th>
                    <th>Tempo<br>Glosado</th>
                    <th>QAV<br>Abastecido (Lt)</th>
                    <th>Tempo<br>Faturado</th>
                    <th>OBSERVAÇÃO</th>
                    <th>Período<br>Indisponibilidade</th>
                    <th>Indisponibilidade<br>Diária</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dia of prefixo.Dias;">
                    <td>{{dia.Data | date: "dd/MM/yyyy"}}</td>
                    <td>{{dia.FolhaDeBordo}}</td>
                    <td>{{dia.Backup}}</td>
                    <td>{{dia.Base}}</td>
                    <td>{{dia.Tempo}}</td>
                    <td>{{dia.CombustivelConsumido}}</td>
                    <td>{{dia.TempoGlosada}}</td>
                    <td>{{dia.CombustivelAbastecido}}</td>
                    <td>{{dia.TempoFaturado}}</td>
                    <td>{{dia.Observacao}}</td>
                    <td>{{dia.Periodo}}</td>
                    <td>{{dia.IndisponibilidadeDiaria}}</td>
                </tr>
            </tbody>
        </table>

        <table class="disponibilidade" *ngIf="!exibirPrefixos">
            <thead>
                <tr>
                    <th>Contrato</th>
                    <th>Estado</th>
                    <th>Início</th>
                    <th>Fim</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let linha of indisponibilidade;">
                    <td>{{linha.Contrato}}</td>
                    <td>{{linha.Estado}}</td>
                    <td>{{linha.Inicio | date: "dd/MM/yyyy HH:mm"}}</td>
                    <td>{{linha.Fim | date: "dd/MM/yyyy HH:mm"}}</td>
                </tr>
            </tbody>
        </table>
    </p-tabPanel>
</p-tabView>

<p-card *ngIf="exibirPrefixos && tudoPronto" class="resumo">
    <label class="negrito">Total Tempo FB: </label>{{prefixoSelecionado.TotalTempoFB | timespan:"HH:mm:ss"}}<br>
    <label class="negrito">Total Back Up: </label>{{prefixoSelecionado.TotalBackUp | timespan:"HH:mm:ss"}}<br>
    <label class="negrito">Total Consumo FB: </label>{{prefixoSelecionado.TotalConsumoFB}} Libras<br>
    <label class="negrito vermelho">Total Dowtime: </label><label class="vermelho">{{prefixoSelecionado.TotalDowtime |
        timespan:"HH:mm:ss"}}</label><br>
    <label class="negrito">Total Tempo Glosado: </label>{{prefixoSelecionado.TotalTempoGlosado |
    timespan:"HH:mm:ss"}}<br>
    <label class="negrito">Tempo Total Faturado: </label>{{prefixoSelecionado.TempoTotalFaturado | timespan:"HH:mm:ss"}}
</p-card>