<app-titulo titulo="Trilho" [carregando]="!tudoPronto"></app-titulo>



<p-toast position="center"></p-toast>


<p-card>
    <button type="button" pButton pRipple label="Inicio"></button>
    <p-calendar [(ngModel)]="dataIni" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt" showIcon="true"
        [inputStyle]="{'width':'150px'}"></p-calendar>
    <button type="button" pButton pRipple label="Fim" class="p-ml-2"></button>
    <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt" showIcon="true"
        [inputStyle]="{'width':'150px'}"></p-calendar>
    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
        class="p-ml-2"></button>
</p-card>

<span class="p-buttonset botoes_salvar">
    <button pButton type="button" label="Novo" (click)="novaLinha()" icon="pi pi-file"
        class="p-button-raised p-button-rounded p-button-success" [disabled]="!tudoPronto"></button>
    <button pButton type="button" label="Salvar" (click)="salvar()" icon="pi pi-check"
        class="p-button-raised p-button-rounded" [disabled]="!tudoPronto"></button>
    <button pButton type="button" label="Cancelar" icon="pi pi-times"
        class="p-button-raised p-button-rounded p-button-warning" [disabled]="!tudoPronto"></button>
    <button pButton type="button" label="Excluir" icon="pi pi-trash" (click)="delete()"
        class="p-button-raised p-button-rounded p-button-danger"
        [disabled]="linhasSelecionadas.length == 0 || !tudoPronto"></button>
</span>

<div class="card">
    <p-table #dt [value]="trilhos" dataKey="Id" editMode="row">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:5%">
                <col style="width:12%">
                <col style="width:12%">
                <col style="width:12%">
                <col style="width:12%">
                <col style="width:56%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:15%">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Partida</th>
                <th>Pouso</th>
                <th>Rota</th>
                <th>Prefixo</th>
                <th>PIC</th>
                <th>SIC</th>
                <th>Inverte Cardeira</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-linha let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="linha">
                <td>
                    <p-checkbox [value]="linha.Id" [(ngModel)]="linhasSelecionadas"></p-checkbox>
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-calendar [(ngModel)]="linha.Data" selectionMode="single" dateFormat="dd/mm/yy"
                                [locale]="locale_pt" showIcon="true" (onInput)="mudeiAqui($event, linha)"
                                (onSelect)="mudeiAqui($event, linha)"></p-calendar>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{linha.Data | date:'dd/MM/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-autoComplete [(ngModel)]="linha.Cliente" [suggestions]="resultsCliente"
                                (completeMethod)="searchCliente($event)" field="Nome" autoHighlight="true"
                                [inputStyle]="{'width': '120px'}">
                            </p-autoComplete>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{linha.Cliente.Nome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputMask mask="99:99" [(ngModel)]="linha.HoraDoVoo" [style]="{'width': '80px'}">
                            </p-inputMask>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{linha.HoraDoVoo}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pInitEditableRow>
                    {{linha.Pouso}}
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-autoComplete [(ngModel)]="linha.Rota" [suggestions]="resultsLocal"
                                (completeMethod)="searchLocal($event)" [multiple]="true" field="Nome"
                                [autoHighlight]="true" [unique]="false" [inputStyle]="{'min-width': '120px'}">
                            </p-autoComplete>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngFor="let item of linha.Rota">{{item.Nome}} </span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-autoComplete [(ngModel)]="linha.Prefixo" [suggestions]="resultsPrefixo"
                                (completeMethod)="searchPrefixo($event)" field="PrefixoCompleto" autoHighlight="true"
                                [inputStyle]="{'width': '90px'}">
                            </p-autoComplete>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{linha.Prefixo.PrefixoCompleto}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-autoComplete [(ngModel)]="linha.PIC" [suggestions]="resultsTrip"
                                (completeMethod)="searchTrip($event)" field="Trato" autoHighlight="true"
                                [inputStyle]="{'width': '90px'}">
                            </p-autoComplete>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="linha.PIC">
                                {{linha.PIC.Trato}}
                            </span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-autoComplete [(ngModel)]="linha.SIC" [suggestions]="resultsTrip"
                                (completeMethod)="searchTrip($event)" field="Trato" autoHighlight="true"
                                [inputStyle]="{'width': '90px'}">
                            </p-autoComplete>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="linha.SIC">
                                {{linha.SIC.Trato}}
                            </span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pInitEditableRow>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputSwitch [(ngModel)]="linha.InverteCadeira"></p-inputSwitch>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{linha.InverteCadeira ? "SIM" : "NÃO"}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>