
<app-titulo titulo="Troca Senha"></app-titulo>

<div class="vertical-center" *ngIf="!exibirMensagem">
  <div class="container">
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text">Usuário</span>
      </div>
      <input type="text" class="form-control" name="username" id="username" [(ngModel)]="user.Username">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text">Senha Atual</span>
      </div>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.Password">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text">Nova Senha</span>
      </div>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.NewPassword">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text">Nova Senha</span>
      </div>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.NewPassword2">
    </div>

    <div class="form">
      <button class="btn btn-primary btn-lg btn-block" (click)="saveNewPassword()" [disabled]="user.NewPassword != user.NewPassword2">Trocar Senha</button>
    </div>
  </div>
</div>

<app-confirmacao [mensagem]="mensagem" (retorno)="retornoDoDialogo($event)" *ngIf="exibirMensagem"></app-confirmacao>