#salvar {
  position: fixed;
  right: 5px;
  cursor: pointer;
  z-index: 5;
  top: 5px;
}

.legenda .flex-row {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.legenda .color {
  width: 50px;
  height: 15px;
  margin: 0 15px;
}

.table-response{
  margin-top : 40px;
}

.table-response table {
  display: inline-block;  
}

#trato {
  position: sticky;
  left: 65px;
  top: 300px;
  margin: 0;
}

#trato.table>tbody {
  background-color: #FFFFFF;
}

.ultimo-voo {
  position: absolute;
  background: #ccc;
  padding: 25px;
  border-radius: 5px;
  display: none;
}
