<app-loading *ngIf="loading"></app-loading>

<svg id="salvar" (click)="exportExcel()" height="32px" width="32px" viewBox="0 0 50 50">
  <path d="  M32,35c0,0,8.312,0,9.098,0C45.463,35,49,31.463,49,27.099s-3.537-7.902-7.902-7.902c-0.02,0-0.038,0.003-0.058,0.003  c0.061-0.494,0.103-0.994,0.103-1.504c0-6.71-5.439-12.15-12.15-12.15c-5.229,0-9.672,3.309-11.386,7.941  c-1.087-1.089-2.591-1.764-4.251-1.764c-3.319,0-6.009,2.69-6.009,6.008c0,0.085,0.01,0.167,0.013,0.251  C3.695,18.995,1,22.344,1,26.331C1,31.119,4.881,35,9.67,35c0.827,0,8.33,0,8.33,0" fill="none" stroke="#157dfb" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"/>
  <polyline fill="none" points="30,41 25,46 20,41   " stroke="#157dfb" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
  <line fill="none" stroke="#157dfb" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3" x1="25" x2="25" y1="26" y2="45.668"/>
</svg>

<div class="table-response">    

  <table id="trato" class="table">
    <thead>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>Trato</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tripulante of tripulantes; index as i; first as isFirst">
        <td>{{tripulante.Trato}}</td>
      </tr>
    </tbody>
  </table>

  <table id="pessoas" class="table">
    <thead>
      <tr>
        <td colspan="4">Dados Pessoais</td>
      </tr>
      <tr>
        <td>Tripulante</td>
        <td>Cód. Anac</td>
        <td>Tipo de Operação</td>
        <td>Cargo</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tripulante of tripulantes; index as i; first as isFirst" id="{{tripulante.Id}}">
        <td nowrap>{{tripulante.NomeCompleto}}</td>
        <td>{{tripulante.CodigoANAC}}</td>
        <td nowrap>{{tripulante.OperacaoStr}}</td>
        <td nowrap>{{tripulante.CargoStr}}</td>
      </tr>
    </tbody>
  </table>

  <!--<div id="cursos" (click)="showPopUp($event)">-->

    <table *ngFor="let certificado of certificados" [attr.id]="certificado.Grupo.split(' ')[0]" class="table" (click)="showPopUp($event)">
      <thead>
        <tr>
          <td [attr.colspan]="certificado.Titles.length">{{certificado.Grupo}}</td>
        </tr>
        <tr>
          <td *ngFor="let title of certificado.Titles">{{title.Nome}}</td>
        </tr>
      </thead>
      <tbody *ngIf="ultimosVoos">
        <tr *ngFor="let tripulante of tripulantes">
          <td nowrap *ngFor="let title of certificado.Titles" [attr.data-tripulante-id]="tripulante.Id"
            [attr.data-vencimento-id]="title.Id" [style.background-color]="colorBackgroundVencimento(tripulante.Id, title.Id)">
            {{ultimosVoos[tripulante.Id + title.Id].Data | formataData}}
            <div *ngIf="ultimosVoos[tripulante.Id + title.Id].Voo.length">
              <div class="ultimo-voo">
                <ng-template ngFor let-voo [ngForOf]="ultimosVoos[tripulante.Id + title.Id].Voo" let-i="index">
                  <div (click)="onClickDiario(voo)">
                  Data do Voo: {{voo.Data | formataData }}<br>
                  Prefixo: {{voo.Prefixo}}<br>
                  Numero do DB: {{voo.NumeroDoDiario}}<br>
                  Folha do DB: {{voo.NumeroDaFolha}}<br>
                  Ocorrência: {{voo.Quantidade}}<br>
                  <br *ngIf="i !== ultimosVoos[tripulante.Id+title.Id].Voo.length - 1">
                  <hr *ngIf="i !== ultimosVoos[tripulante.Id+title.Id].Voo.length - 1">
                  <br *ngIf="i !== ultimosVoos[tripulante.Id+title.Id].Voo.length - 1">
                </div>
                </ng-template>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  <!--</div>-->
</div>


<div class="legenda">
    <div class="flex-row">
      <div class="color" style="background-color: #bdd6ee"></div>60 (Dias)
    </div>
    <div class="flex-row">
      <div class="color" style="background-color: #ffff00"></div>30 (Dias)
    </div>
    <div class="flex-row">
      <div class="color" style="background-color: #f7caac"></div>15 (Dias)
    </div>
    <div class="flex-row">
      <div class="color" style="background-color: #ff0000"></div>Vencidos
    </div>
  </div>
