#hamburguer {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 20000;
}

#menu {
    padding-top: 60px;
    float: left;
    width: 300px;
}

#conteudo {
    padding-top: 60px;
    float: left;
}

.div-vertical {
    height: 95vh;
    position: relative;
}

.div-horizontal {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}