<!-- <div class="spinner-border">
    <span class="sr-only">Loading...</span>
</div> -->


<div>


    <div *ngIf="jornada">

        <!-- <button *ngIf="gerente" pButton type="button" label="Confirmar"
            (click)="confirmarJornada(true, jornada.Id)"></button> -->

        <button *ngIf="analista" pButton type="button" label="Confirmar"
            (click)="confirmarJornada(false, jornada.Id)"></button>
    </div>

    <div id="normal">
        <h3>{{jornada.Tripulante.NomeCompleto}}</h3>


        <p-table [value]="jornada.EscalasRealizadas" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="2">Data</th>
                    <th rowspan="2">Apresentação</th>
                    <th colspan="2">Refeição 1</th>
                    <th colspan="2">Refeição 2</th>
                    <th rowspan="2">Fim da Jornada</th>
                    <th colspan="2">Horas de Voo</th>
                    <th rowspan="2">Alertas</th>
                </tr>

                <tr>
                    <th>Refeição</th>
                    <th>Fim da Refeição</th>
                    <th>Refeição</th>
                    <th>Fim da Refeição</th>
                    <th>Total do Dia</th>
                    <th>Total Últ. 30 dias</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <!-- <tr *ngIf="item.Data == 'Total'">
                    <td colspan="9">{{item.Data}}</td>
                    <td>{{item.HorasDeVooVFR}}</td>
                    <td>{{item.HorasDeVooIFR}}</td>
                    <td>{{item.HorasDeVooNot}}</td>
                    <td>{{item.HorasDeVooDia}}</td>
                    <td>-</td>
                </tr> -->
                <tr *ngIf="!item.Total">
                    <td>{{item.Data | date:'dd/MM/yyyy'}}</td>
                    <td>{{item.Apresentacao | date:'HH:mm'}}</td>
                    <td><span *ngIf="item.Almoco">{{item.Almoco | date:'HH:mm'}}</span></td>
                    <td><span *ngIf="item.FimAlmoco">{{item.FimAlmoco | date:'HH:mm'}}</span></td>
                    <td><span *ngIf="item.Almoco2">{{item.Almoco2 | date:'HH:mm'}}</span></td>
                    <td><span *ngIf="item.FimAlmoco2">{{item.FimAlmoco2 | date:'HH:mm'}}</span></td>
                    <td><span *ngIf="item.FimDaJornada">{{item.FimDaJornada | date:'HH:mm'}}</span></td>
                    <td>{{item.HorasDeVooDia}}</td>
                    <td>{{item.Tempo30Dias}}</td>
                    <td>{{item.Alertas}}</td>                 
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>