<app-titulo titulo="Escala Do Dia" [carregando]="!tudoPronto"></app-titulo>


<p-toast position="center"></p-toast>


<p-card class="nao-imprimir">
    <button type="button" pButton pRipple label="Data"></button>
    <p-calendar [(ngModel)]="data" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt" showIcon="true"
        [inputStyle]="{'width':'150px'}"></p-calendar>
    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
        class="p-ml-2"></button>
    <button pButton type="button" icon="pi pi-save" iconPos="right" label="Salvar" (click)="salvar()"
        class="p-ml-2 p-button-success"></button>
    <button pButton type="button" icon="pi pi-send" iconPos="right" label="Enviar por Email" (click)="email()"
        class="p-ml-2"></button>
</p-card>



<p-card class="nao-imprimir" *ngIf="extras">


    <div class="p-grid">
        <div class="p-col-2">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="extras.Elaborado">
                <label for="float-input">Elaborado por:</label>
            </span>
        </div>
        <div class="p-col-2">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="extras.Divulgado">
                <label for="float-input">Divulgado por:</label>
            </span>
        </div>
    </div>
    <br />
    <div class="p-grid">
        <div class="p-col-4">
            <span class="p-float-label">
                <textarea id="float-input" [(ngModel)]="extras.Observacoes" rows="5" cols="100"
                    pInputTextarea></textarea>
                <label for="float-input">Observações</label>
            </span>
        </div>
    </div>
    <br />
    <div class="p-grid">
        <div class="p-col-4">
            <span class="p-float-label">
                <textarea id="float-input" [(ngModel)]="extras.Distribuicao" rows="5" cols="100"
                    pInputTextarea></textarea>
                <label for="float-input">Lista de Distribuição</label>
            </span>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-field p-col-4">
            <h2>Anexos da Escala</h2>
            <div class="p-field">
                <app-anexos [listaArquivos]='extras.Anexos'></app-anexos>
            </div>
        </div>
    </div>

</p-card>

<p-card *ngFor="let item of relatorio">
    <h5>{{item.Name}}</h5>
    <ul>
        <li *ngFor="let evento of item.Events">{{evento.Descricao}} <span
                *ngIf="evento.Crew.PIC">{{evento.Crew.PIC.Trato}}</span>&nbsp;<span
                *ngIf="evento.Crew.SIC">{{evento.Crew.SIC.Trato}}</span></li>
    </ul>
</p-card>

<table class="nao-imprimir">
    <tr>
        <th>Cliente</th>
        <th>Partida</th>
        <th>Pouso</th>
        <th>Rota</th>
        <th>Prefixo</th>
        <th>Atendido</th>
    </tr>
    <tr *ngFor="let trilho of todosOsTrilhos">
        <td>{{trilho.Cliente}}</td>
        <td>{{trilho.HoraDoVoo}}</td>
        <td>{{trilho.Pouso}}</td>
        <td>{{trilho.Rota}}</td>
        <td>{{trilho.Prefixo}}</td>
        <td>{{trilho.Atendido}}</td>
    </tr>
</table>

<table class="nao-imprimir">
    <tr>
        <th>Turma</th>
        <th>Instrutor</th>
        <th>Alunos</th>
        <th>tIPO</th>
    </tr>
    <tr *ngFor="let turma of turmas">
        <td>{{turma.Treinamento.Nome}}</td>
        <td><span *ngIf="turma.Instrutor">{{turma.Instrutor.Trato}}</span><span *ngIf="!turma.Instrutor">EXTERNO</span>
        </td>
        <td>{{turma.AlunosStr}}</td>
        <td>{{turma.TipoDeTreinamento}}</td>
    </tr>
</table>

<object [innerHTML]="escalaDoDia"></object>

<!-- <table #escala>
    <tr>
        <th [attr.colspan]="valorColspan">
            <img [src]="urlLogo" [alt]="urlLogo" style="max-height: 50px;"><span class="fonte-titulo">Atualização de
                Escala
                do dia {{data | date:'dd/MM/yyyy'}}</span>
        </th>
    </tr>

    <tr>
        <td>Nome</td>
        <td>Base</td>
        <td>Prefixo</td>
        <td>Apres.</td>
        <td>Obs.</td>
        <td *ngFor="let coluna of colunas">&nbsp;</td>
        <td>Saída</td>
        <td>Limite Jornada</td>
    </tr>
    <tr *ngFor="let crew of tripulacoes">
        <td>{{crew.Trato}}</td>
        <td>{{crew.Base}}</td>
        <td>{{crew.Prefixo}}</td>
        <td>{{crew.Apresentacao}}</td>
        <td>{{crew.Observacao}}</td>
        <td *ngFor="let evento of crew.Eventos">
            <span *ngIf="evento.Tipo == 'Voo'">Prefixo: {{evento.Prefixo}}<br />
                <span>PIC: {{evento.PIC}} / SIC: {{evento.SIC}}</span>
                <br />
            </span>
            {{evento.Descricao}}
            <span *ngIf="evento.Tipo == 'Voo'"><br /><b>{{getPosicao(crew.Trato, evento)}}</b></span>
            <span *ngIf="evento.Tipo == 'Treinamento'"><br />Início: {{evento.Inicio}} / Fim: {{evento.Fim}}</span>
        </td>
        <td>{{crew.LimiteDeCorte}}</td>
        <td>{{crew.LimiteDeJornada}}</td>
    </tr>
</table>

-->

<div class="formatted somente-impressora" *ngIf="extras">
    <b>Previsão de escala. Alterações poderão ocorrer devido às nossas operações serem não regulares e/ou por demanda
        dos contratantes</b>
    Elaborado por: {{extras.Elaborado}}
    <br />
    Divulgado por: {{extras.Divulgado}}
    <br /><br />
    Observações: <br /> {{extras.Observacoes}}
</div>