td, th {
    border: 1px solid;
    padding: 2px;
    /* background: white; */
    text-align: center;
    font-size: x-small;
    min-width: 30px;
    height: 50px;
}

table {
    border-collapse: collapse;
    font-family: helvetica;
    caption-side: top;
    text-transform: capitalize;
}

.formatted {
    white-space: pre-wrap;
    font-family: helvetica;
}

.fonte-titulo{
    font-size: 20px;
}

@media print {
    @page {
        size: portrait;
    }
    th {
        font-size: 12px;
        text-align: center;
    }
    td {
        font-size: 12px;
        text-align: center;
    }
    span {
        font-size: 10px;
        white-space: nowrap;
    }

    .fonte-titulo{
        font-size: 20px;
    }
}