.content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f7f7f9;
  padding-bottom: 10px;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prefixo {
  height: 80px;
  overflow-y: auto;
  width: 150px;
}

.prefixo select {
  height: 100%;
  width: 100%;
}

.table {
  width: 95%;
  margin: 20px auto;
  cursor: pointer;
}

#novo {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  cursor: pointer;
  fill: #157dfb;
  z-index: 5;
}

input {
  display: block;
  height: 25px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-search {
  background-color: #84c4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
}
