<app-loading *ngIf="loading"></app-loading>
<app-menssage></app-menssage>
<svg id="novo" width="40px" height="40px" viewBox="0 0 512 512" (click)="novoRelatorioVoo()">
  <g>
    <polygon points="256,320 192,320 192,256 320,128 64,128 64,432 384,432 384,192 	"></polygon>
    <polygon points="387.927,91.74 208,271.651 208,304 240.216,304 420.261,124.016 	"></polygon>
    <path d="M444.213,80.312l-12.465-12.466C429.084,65.467,425.556,64,421.746,64c-3.812,0-7.304,1.468-9.929,3.85L399.666,80
          l0.08,0.08l11.293,11.293l21.02,21.02l12.15-12.15c2.383-2.625,3.791-6.117,3.791-9.929C448,86.504,446.592,82.975,444.213,80.312z"></path>
  </g>
</svg>
<div class="home">
  <div class="content">
    <div class="prefixo">
      <select [(ngModel)]="plataforma" name="plataforma" multiple>
        <option *ngFor="let prefixo of prefixos"
          value="{{prefixo.PrefixoCompleto}}">
          {{prefixo.PrefixoCompleto}}
        </option>
      </select>
    </div>
    <div class="datas">
      <label for="dataInicio" style="margin-bottom: 10px">
        Data de Início
        <input type="date" name="dataInicio" id="dataInicio" style="margin-left: 10px" [(ngModel)]="dataInicio">
      </label>
      <label for="dataInicio">
        Data de Fim
        <input type="date" name="dataInicio" id="dataInicio" style="margin-left: 10px" [(ngModel)]="dataFim">
      </label>
    </div>
    <div class="fechadoBtn">
      <label for="fechado">
        Fechado
        <input type="checkbox" name="fechado" id="fechado" [(ngModel)]="fechado">
      </label>

      <button class="btn btn-search" (click)="pesquisar()">
        <img alt="Search" src="assets/icons/search.svg">
      </button>
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
        <th>Prefixo</th>
        <th>Número do Diário</th>
        <th>Número da Folha</th>
        <th>Data do diário</th>
        <th>Tripulante 1</th>
        <th>Tripulante 2</th>
        <th>Fechado</th>
        <th>Cancelado</th>
      </thead>
      <tr *ngFor="let relatorio of relatorios">
        <td>{{relatorio.Prefixo.PrefixoCompleto}}</td>
        <td>{{relatorio.NumeroDoDiario}}</td>
        <td>{{relatorio.NumeroDaFolha}}</td>
        <td>{{relatorio.DataDoDiario | date:'dd/MM/yyyy'}}</td>
        <td>{{(relatorio.Trip1 == null) ? '' :  relatorio.Trip1.Trato}}</td>
        <td>{{(relatorio.Trip2 == null) ? '' :  relatorio.Trip2.Trato}}</td>
        <td>{{relatorio.Fechado ? 'Sim' : 'Não'}}</td>
        <td>{{relatorio.Cancelada ? 'Sim' : 'Não'}}</td>
      </tr>
    </table>
  </div>
</div>
