.caixa_dialogo{
    height: 100%;
    display: flex;
    justify-content: center;
}

.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.login > input {
    width: 300px;
    text-align: center;
}

a:last-child {
    background-color: #00ce89;
}

p {
    font-size: 1.5em;
}