<div class="content">
  <div class="login">
    <div [ngClass]="{'hidden': !anac, 'visible': anac}" style="display: flex; flex-direction:column;">
      <label for="anac">
        Digite o número ANAC:
      </label>
      <input type="tel" id="anac" name="anac" placeholder="Número ANAC" (keyup)="onChange($event)" maxlength="6" size="6">
    </div>
    <div style="width: 300px">
      <p [ngClass]="{'hidden': !user, 'visible': user}" *ngIf="user">Você é {{user.Trato}} ?</p>
      <div class="navegacao">
        <button class="btn" [ngClass]="{'hidden': !user, 'visible': user}" (click)="onClickNao()"> NÃO </button>
        <a class="btn" routerLink="/"> INÍCIO </a>
        <button class="btn" [ngClass]="{'hidden': !user, 'visible': user}" (click)="onClickSim()">SIM</button>
      </div>
    </div>
  </div>
</div>