@media print {
    @page {
        size: portrait
    }
    /* table{
        transform: scale(0.5);
    } */
    #mobile{
        display: none;
    }
    
}

#normal{
    padding-top: 60px;
}

.spinner-border{
    padding-top: 60px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}
th, td {
    border: 1px solid black;
    font-size: x-small;
    text-align: center;
    vertical-align: middle;
}

.c-20{
    width: 20%;
}

#mobile{
    display: none;
}

@media only screen and (max-width: 600px) {
    #normal{
        display:none;
    }
    #mobile{
        display: inline;
    }
  }