td, th {
    border: 1px solid;
    padding: 2px;
    /* background: white; */
    text-align: center;
    font-size: small;
    min-width: 30px;
    height: 50px;
}

table {
    border-collapse: collapse;
    font-family: helvetica;
    caption-side: top;
    text-transform: capitalize;
}

.formatted {
    white-space: pre-wrap;
    font-family: helvetica;
}

.fonte-titulo {
    font-size: 20px;
}

@media print {
    @page {
        size: landscape;
        transform: scale(.5);
    }
    
    body {transform: scale(.5);}
    th {
        font-size: 10px;
        text-align: center;
    }
    td {
        font-size: 8px;
        text-align: center;
    }
    .fonte-titulo {
        font-size: 20px;
    }
}