<app-titulo titulo="Escala Semanal" [carregando]="!tudoPronto"></app-titulo>

<p-toast position="center"></p-toast>

<p-card class="nao-imprimir">
    <button type="button" pButton pRipple label="Data"></button>
    <p-calendar [(ngModel)]="data" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt" showIcon="true"
        [inputStyle]="{'width':'150px'}"></p-calendar>
    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
        class="p-ml-2"></button>
        <button pButton type="button" icon="pi pi-send" iconPos="right" label="Enviar por Email" (click)="email()"
            class="p-ml-2"></button>
</p-card>

<p-card class="nao-imprimir" *ngIf="extras">
    <div class="grid">
        <div class="col-4">
            <span class="p-float-label">
                <textarea id="float-input" [(ngModel)]="extras.Distribuicao" rows="5" cols="100"
                    pInputTextarea></textarea>
                <label for="float-input">Lista de Distribuição</label>
            </span>
        </div>
    </div>
</p-card>


<div class="_html" *ngIf="tudoPronto" [innerHTML]="htmlContent"></div>