.resultado {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultado > h2{
    margin: 0;
}

.resultado > h1{
    padding: 5px;
    width: 400px;
    text-align: center;
    background-color: #dfdfdf;
    text-transform: uppercase;
}