<app-titulo titulo="DAILY FLIGHT TIME CONTROL" [carregando]="(!consulta_ok)"></app-titulo>

<div class="container d-print-none">

    <div class="row ml-1">
        <div class="col-sm-6 col-lg-4">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">Data</span>
                </div>
                <p-calendar [(ngModel)]="data" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                    showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar"
                (click)="rodarRelatorio()"></button>
            <button pButton type="button" icon="pi pi-print" iconPos="right" label="Imprimir"
                (click)="imprimir()"></button>
        </div>



    </div>
</div>




<div *ngIf="consulta_ok">

    <table>
        <tr>
            <td>
                <h4>DAILY FLIGHT TIME CONTROL</h4>
            </td>
            <td>FORM CDV 012<br>Revisão: 00<br />Data: 16/04/12<br /><b>{{data | date:'MM-dd-yyyy'}}</b></td>
        </tr>
    </table>

    <!-- <app-cabecalho-impressao titulo="" form="" data="16/04/2012" revisao="00" class="d-print"></app-cabecalho-impressao> -->

    <table>
        <tr>
            <th colspan="14" class="titulo">
                <B>Customer - Revenue - {{data | date:'MM-dd-yyyy'}}</B>
            </th>
        </tr>
        <tr>
            <th class="titulo" rowspan="2" colspan="2"> Customer (Contract)</th>
            <th class="titulo" rowspan="2">A/C Model</th>
            <th class="titulo" rowspan="2">Tail #</th>
            <th class="titulo" rowspan="2">Base of Operation</th>
            <th class="titulo" rowspan="2">A/C Status</th>
            <th colspan="2" class="contrato">Flight time - contract</th>
            <th colspan="2" class="spot">Flight time - spot</th>
            <th colspan="2" class="indisponivel">Unavailable Time</th>
            <th colspan="2" class="indisponivel-month-to-date">UNAVAILABILITY</th>
        </tr>
        <tr>
            <th class="contrato">DAY</th>
            <th class="contrato">UP TO DATE</th>
            <th class="spot">DAY</th>
            <th class="spot">UP TO DATE</th>
            <th class="indisponivel">DAY</th>
            <th class="indisponivel">UP TO DATE</th>
            <th class="indisponivel-month-to-date">MONTH TO DATE (%)</th>
            <th class="indisponivel-month">MONTH (%)</th>
        </tr>

        <ng-container *ngFor="let rowData of dadosCliente; let rowIndex = index ">
            <tr *ngIf="rowData.Cliente == 'TOTAL'">
                <th colspan="6" class="total">
                    {{rowData.Cliente}}
                </th>
                <th class="total">
                    {{rowData.VooContratoHoje}}
                </th>

                <th class="total">
                    {{rowData.VooContratoAteHoje}}
                </th>

                <th class="total">
                    {{rowData.VooSPOTHoje}}
                </th>
                <th class="total">
                    {{rowData.VooSPOTAteHoje}}
                </th>
                <th class="total">
                    {{rowData.IndispDoDia}}

                </th>
                <th class="total">
                    {{rowData.IndispAcumulada}}

                </th>
                <th class="total">
                    {{rowData.PercIndispAteData}}%

                </th>
                <th class="total">
                    {{rowData.PercIndispMes}}%

                </th>

            </tr>

            <tr *ngIf="rowData.Posicao == 'SUBTOTAL'">
                <th colspan="5" class="total">
                    {{rowData.Posicao}}
                </th>
                <td class="total">
                    {{rowData.VooContratoHoje}}
                </td>

                <td class="total">

                    {{rowData.VooContratoAteHoje}}
                </td>

                <td class="total">
                    {{rowData.VooSPOTHoje}}
                </td>
                <td class="total">
                    {{rowData.VooSPOTAteHoje}}
                </td>
                <td class="total">
                    {{rowData.IndispDoDia}}

                </td>
                <td class="total">
                    {{rowData.IndispAcumulada}}

                </td>
                <td class="total">
                    {{rowData.PercIndispAteData}}%
                </td>

                <td class="total">
                    {{rowData.PercIndispMes}}%
                </td>
            </tr>

            <tr *ngIf="rowData.Cliente != 'TOTAL' && rowData.Posicao != 'SUBTOTAL'">
                <td *ngIf="rowGroupMetadata[rowData.Cliente].index === rowIndex"
                    [attr.rowspan]="rowGroupMetadata[rowData.Cliente].size">
                    {{rowData.Cliente}}
                </td>

                <td>
                    {{rowData.Posicao}}
                </td>

                <td>
                    {{rowData.Prefixo.TipoDeAeronave.Nome}}
                </td>

                <td nowrap>
                    {{rowData.Prefixo.PrefixoCompleto}}
                </td>

                <td>
                    {{rowData.Base}}
                </td>

                <td>
                    {{rowData.Situacao}}
                </td>

                <td>
                    {{rowData.VooContratoHoje}}
                </td>

                <td>

                    {{rowData.VooContratoAteHoje}}
                </td>

                <td>
                    {{rowData.VooSPOTHoje}}
                </td>
                <td>
                    {{rowData.VooSPOTAteHoje}}
                </td>
                <td class="indisponivel">
                    {{rowData.IndispDoDia}}

                </td>
                <td class="indisponivel">
                    {{rowData.IndispAcumulada}}

                </td>
                <td class="indisponivel-month-to-date">
                    {{rowData.PercIndispAteData}}%

                </td>
                <td class="indisponivel-month">
                    {{rowData.PercIndispMes}}%

                </td>

            </tr>
        </ng-container>


    </table>



    <table>
        <tr>
            <td colspan="21" class="titulo">
                <B>Bristow totals - Flight hours</B>
            </td>
        </tr>
        <tr>
            <th class="titulo" rowspan="2">A/C Model</th>
            <th class="titulo" rowspan="2">Tail #</th>
            <th class="titulo" rowspan="2">Base of Operation</th>
            <th class="titulo" rowspan="2">A/C Status</th>
            <th colspan="2" class="contrato">Overall Flight time - Eng. Start to Eng. Off</th>
            <th colspan="2" class="indisponivel">Overall Unavailable Time</th>

            <th colspan="2" class="indisponivel-month-to-date">OVERALL UNAVAILABILITY</th>
            <th colspan="4" class="company">Flight Time - Company - Day</th>
            <th colspan="4" class="company">Flight Time - Company - Month</th>
        </tr>
        <tr>
            <th class="contrato">DAY</th>
            <th class="contrato">UP TO DATE</th>
            <th class="indisponivel">DAY</th>
            <th class="indisponivel">UP TO DATE</th>
            <th class="indisponivel-month-to-date">MONTH TO DATE (%)</th>
            <th class="indisponivel-month">MONTH (%)</th>
            <th class="company">MNT</th>
            <th class="company">INST</th>
            <th class="company">FERRY</th>
            <th class="company">NON REVENUE</th>
            <th class="company">MNT</th>
            <th class="company">INST</th>
            <th class="company">FERRY</th>
            <th class="company">NON REVENUE</th>
        </tr>

        <ng-container *ngFor="let rowData of dadosInterno; let rowIndex = index ">
            <tr *ngIf="rowData.Cliente == 'TOTAL'">

                <th colspan="4" class="total">
                    TOTAL
                </th>

                <th class="total">
                    {{rowData.VooContratoHoje}}
                </th>

                <th class="total">

                    {{rowData.VooContratoAteHoje}}
                </th>

                <th class="total">
                    {{rowData.IndispDoDia}}

                </th>
                <th class="total">
                    {{rowData.IndispAcumulada}}

                </th>
                <th class="total">
                    {{rowData.PercIndispAteData}}%

                </th>
                <th class="total">
                    {{rowData.PercIndispMes}}%

                </th>
                <th class="total">
                    {{rowData.VooMNTHoje}}

                </th>
                <th class="total">
                    {{rowData.VooInstHoje}}

                </th>
                <th class="total">
                    {{rowData.VooTransladoHoje}}

                </th>
                <th class="total">
                    {{rowData.VooPrivadoHoje}}

                </th>
                <th class="total">
                    {{rowData.VooMNTAteHoje}}

                </th>
                <th class="total">
                    {{rowData.VooInstAteHoje}}

                </th>
                <th class="total">
                    {{rowData.VooTransladoAteHoje}}
                </th>
                <th class="total">
                    {{rowData.VooPrivadoAteHoje}}
                </th>

            </tr>

            <tr *ngIf="rowData.Cliente != 'TOTAL'">

                <td>
                    {{rowData.Prefixo.TipoDeAeronave.Nome}}
                </td>

                <td nowrap>
                    {{rowData.Prefixo.PrefixoCompleto}}
                </td>

                <td>
                    {{rowData.Base}}
                </td>

                <td>
                    {{rowData.Situacao}}
                </td>

                <td>
                    {{rowData.VooContratoHoje}}
                </td>

                <td>
                    {{rowData.VooContratoAteHoje}}
                </td>

                <td class="indisponivel">
                    {{rowData.IndispDoDia}}

                </td>
                <td class="indisponivel">
                    {{rowData.IndispAcumulada}}

                </td>
                <td class="indisponivel-month-to-date">
                    {{rowData.PercIndispAteData}}%

                </td>
                <td class="indisponivel-month">
                    {{rowData.PercIndispMes}}%

                </td>
                <td>
                    {{rowData.VooMNTHoje}}

                </td>
                <td>
                    {{rowData.VooInstHoje}}

                </td>
                <td>
                    {{rowData.VooTransladoHoje}}

                </td>
                <td>
                    {{rowData.VooPrivadoHoje}}

                </td>
                <td>
                    {{rowData.VooMNTAteHoje}}

                </td>
                <td>
                    {{rowData.VooInstAteHoje}}

                </td>
                <td>
                    {{rowData.VooTransladoAteHoje}}

                </td>
                <td>
                    {{rowData.VooPrivadoAteHoje}}
                </td>

            </tr>
        </ng-container>


    </table>

    <table>
        <tr>
            <td class="titulo">TAKE-OFF DELAY (day/up to date)</td>
            <td>{{resultado.Atrasos}}</td>
            <td class="titulo">UNUSUAL EVENTS (day/up to date)</td>
            <td>{{resultado.OcorrenciasPetrobras}}</td>
            <td class="titulo">EQUINOR. UNUSUAL EVENTS (day/up to date)</td>
            <td>{{resultado.OcorrenciasEquinor}}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td class="titulo">PETROBRAS REPRESENTATIVE CHECKING (day/up to date)</td>
            <td>{{resultado.AuditoriasPetrobras}}</td>
            <td class="titulo">INTER / RIG REPRESENTATIVE CHECKING (day/up to date)</td>
            <td>{{resultado.AuditoriasEquinor}}</td>
        </tr>
    </table>

    <table *ngIf="observacaoIndisponibilidade">
        <tr *ngFor="let item of observacaoIndisponibilidade;let i = index">
            <td class="titulo" [rowSpan]="observacaoIndisponibilidade.length" *ngIf="i == 0"><b>UNAVAILABILITY</b></td>
            <td>{{item.PrefixoCompleto}}</td>
            <td>{{item.Motivo}}</td>
            <td>{{item.Observacoes}}</td>
            <td>{{item.Atualizacao | date: 'MM-dd-yyyy'}}</td>
        </tr>
    </table>

</div>