<table>
    <tr>
        <td class="c-20">
            <img [src]="logo" class="mt-2 mb-2" width="170px">
            <p *ngIf="registro"><b>{{registro}}</b></p>
        </td>
        <td>
            <h3>{{titulo}}</h3>
        </td>
        <td class="c-20" *ngIf="ExibirRevisao">
            <p *ngIf="form"><b>{{form}}</b></p>
            <p *ngIf="revisao"><b>Revisão:</b> {{revisao}}</p>
            <p *ngIf="data"><b>Data:</b> {{data}}</p>
        </td>
        <td class="c-20" *ngIf="dataConsulta != undefined">
            <h4>DATA</h4>
            <h5>{{dataConsulta}}</h5>
        </td>
    </tr>
</table>