<app-titulo titulo="RDV" [carregando]="!tudoPronto"></app-titulo>

<div *ngIf="tudoPronto">

    <table *ngIf="rdv" id="titulo">
        <tr>
            <td rowspan="3">
                <img [src]="urlLogo" [alt]="urlLogo" style="max-height: 100px;">
            </td>
            <th rowspan="3">RELATÓRIO DE VOO</th>
            <th>MODELO</th>
            <th>PREFIXO</th>
            <th>Nº EQUIP SAP</th>
            <th>BASE</th>
            <th>DATA</th>
            <th>REL Nº</th>
            <td>{{rdv.NumeroDaFolha}}</td>
        </tr>
        <tr>
            <td rowspan="2">{{rdv.TipoDaAeronave}}</td>
            <td rowspan="2">{{rdv.Prefixo}}</td>
            <td rowspan="2">{{rdv.IdentificadorCliente}}</td>
            <td rowspan="2">{{rdv.Base}}</td>
            <td rowspan="2">{{rdv.DataDoDiario |date:'dd/MM/yyyy'}}</td>
            <th>Nº VOO</th>
            <td>{{rdv.NumeroDoVoo}}</td>

        </tr>
        <tr>
            <th>CLIENTE</th>
            <td>{{rdv.Cliente}}</td>
        </tr>
    </table>

    <br>

    <table *ngIf="rdv">
        <tr>
            <th rowspan="2">ETAPA</th>
            <th colspan="2">LOCAL</th>
            <th colspan="5">HORÁRIOS</th>
            <th rowspan="2">Nº POUSOS</th>
            <th colspan="4">HORAS DE VOO</th>
            <th rowspan="2">Nº PAX</th>
            <th rowspan="2">CARGA</th>
            <th colspan="2">COMBUSTÍVEL</th>
        </tr>
        <tr>
            <th>ORIGEM</th>
            <th>DESTINO</th>
            <th>PARTIDA</th>
            <th>DECOLAGEM</th>
            <th>POUSO</th>
            <th>CORTE</th>
            <th>DEC/POU</th>
            <th>VFR</th>
            <th>IFR</th>
            <th>NOT</th>
            <th>TOT</th>
            <th>PARTIDA</th>
            <th>CHEGADA</th>
        </tr>
        <tr *ngFor="let item of rdv.Linhas; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.Origem}}</td>
            <td>{{item.Destino}}</td>
            <td>{{item.Partida | date: 'HH:mm'}}</td>
            <td>{{item.Decolagem | date: 'HH:mm'}}</td>
            <td>{{item.Pouso | date: 'HH:mm'}}</td>
            <td>{{item.Corte | date: 'HH:mm'}}</td>
            <td>{{item.DecAtePou| slice:0:5}}</td>
            <td>{{item.Pousos}}</td>
            <td>{{item.VFR| slice:0:5}}</td>
            <td>{{item.IFR| slice:0:5}}</td>
            <td>{{item.Noturno| slice:0:5}}</td>
            <td>{{item.Total| slice:0:5}}</td>
            <td>{{item.Pax}}</td>
            <td>{{item.Carga}}</td>
            <td>{{item.FuelDec}}</td>
            <td>{{item.FuelPou}}</td>
        </tr>
        <tr>
            <th colspan="3">TOTAIS</th>
            <td>{{rdv.Partidas}}</td>
            <th colspan="4">Pri Dec/Ulti Pou: {{rdv.HorasDepArr}}</th>
            <td>{{rdv.Pousos}}</td>
            <td>{{rdv.VFR| slice:0:5}}</td>
            <td>{{rdv.IFR| slice:0:5}}</td>
            <td>{{rdv.Noturno| slice:0:5}}</td>
            <td>{{rdv.Total| slice:0:5}}</td>
            <td>{{rdv.Pax}}</td>
            <td>---</td>
            <th>CONSUMO:</th>
            <td>{{rdv.Consumo | number}}</td>
        </tr>
    </table>

    <div *ngIf="rdv.Linhas.length < 8">
        <br *ngFor="let item of [].constructor(8 - rdv.Linhas.length)">
    </div>

    <br>

    <div *ngIf="rdv" class="row">
        <div class="col-3">
            <table>
                <tr>
                    <th>LOCAL</th>
                    <th>CIA</th>
                    <th>Nº DA NOTA(CE)</th>
                    <th>VOLUME</th>
                </tr>
                <tr *ngFor="let item of rdv.Abastecimento">
                    <td>{{item.Local}}</td>
                    <td>{{item.Abastecedora.Nome}}</td>
                    <td>{{item.Nota}}</td>
                    <td>{{item.QuantidadeAbastecida | number}}</td>
                </tr>
            </table>
        </div>

        <div class="col-9">
            <table>
                <tr>
                    <th colspan="5">TRIPULAÇÃO</th>
                </tr>
                <tr>
                    <th>CATEGORIA</th>
                    <th>NOME</th>
                    <th>ANAC</th>
                    <th>SISPAT</th>
                    <th>RUBRICAS</th>
                </tr>
                <tr>
                    <td>{{rdv.FuncaoPIC}}({{rdv.SiglaPIC}})</td>
                    <td>{{rdv.PIC}}</td>
                    <td>{{rdv.PICANAC}}</td>
                    <td>{{rdv.PICCLIENTE}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{rdv.FuncaoSIC}}({{rdv.SiglaSIC}})</td>
                    <td>{{rdv.SIC}}</td>
                    <td>{{rdv.SICANAC}}</td>
                    <td>{{rdv.SICCLIENTE}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="2">ASSINATURA DO REPRESENTANTE<BR>DO CLIENTE E CARIMBO</th>
                    <td colspan="3"></td>
                </tr>
            </table>
        </div>
    </div>

    <br>

    <table *ngIf="rdv">
        <tr>
            <th>OBSERVAÇÕES</th>
        </tr>
        <tr>
            <td style="text-align: left;" [innerHTML]="rdv.Observacoes">
            </td>
        </tr> 
        <tr>
            <th>ROTA:</th>
        </tr>
        <tr>
            <td style="text-align: left;">voo.Rota
            </td>
        </tr>
    </table>
</div>