<app-titulo titulo="Indisponibilidade" [carregando]="carregandoMenu || carregandoRelatorio"></app-titulo>

<div class="container d-print-none" *ngIf="!carregandoMenu" >

    <div class="row ml-1">
        <div class="col-sm-6 col-lg-2">

            <p-listbox [options]="clientes" [(ngModel)]="clientesSelecionados" multiple="multiple" checkbox="checkbox"
                filter="filter" [listStyle]="{'max-height':'110px'}" optionLabel="Nome">
                <p-header>
                    Clientes
                </p-header>
            </p-listbox>

        </div>
        <div class="col-sm-6 col-lg-2">

            <p-listbox [options]="prefixos" [(ngModel)]="prefixosSelecionados" multiple="multiple" checkbox="checkbox"
                filter="filter" [listStyle]="{'max-height':'110px'}" optionLabel="Nome">
                <p-header>
                    Prefixos
                </p-header>
            </p-listbox>

        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">Inicial</span>
                </div>
                <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy"
                    [locale]="locale_pt" showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">Final</span>
                    </div>
                    <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy"
                        [locale]="locale_pt" showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">Penaliza</span>
                    </div>
                    <p-inputSwitch [(ngModel)]="penaliza">
                    </p-inputSwitch>
                </div>
                

            </div>
        </div>


        <div class="col-sm-6 col-lg-2">
            <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"></button>
        </div>



    </div>


</div>


<app-cabecalho-impressao titulo="TABELA DE INDISPONIBILIDADES" class="d-print"></app-cabecalho-impressao>

<div *ngIf="dados">
    <p-table [columns]="cols" [value]="dados">
        <ng-template pTemplate="caption">
            Período de {{dataIniciof | date: 'dd/MM/yyyy'}} até {{dataFimf | date: 'dd/MM/yyyy'}}
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Data</th>
                <th>Prefixo</th>
                <th>Início</th>
                <th>Fim</th>
                <th>Tempo</th>
                <th>Motivo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{car.Data | date: 'dd/MM/yyyy'}}</td>
                <td>{{car.PrefixoCompleto}}</td>
                <td>{{car.Inicio}}</td>
                <td>{{car.Termino}}</td>
                <td>{{car.Indisponibilidade}}</td>
                <td>{{car.DescricaoDoMotivo}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>