<app-titulo
  titulo="Indisponibilidade"
  [carregando]="carregandoMenu || carregandoRelatorio"
></app-titulo>

<div class="container d-print-none" *ngIf="!carregandoMenu">
  <div class="p-grid">
    <div class="p-col"></div>
    <div class="p-col">
      <p-listbox
        [options]="clientes"
        [(ngModel)]="clientesSelecionados"
        multiple="multiple"
        checkbox="checkbox"
        filter="filter"
        [listStyle]="{ 'max-height': '110px' }"
        optionLabel="Nome"
      >
        <p-header> Clientes </p-header>
      </p-listbox>
    </div>
    <div class="p-col">
      <p-listbox
        [options]="prefixos"
        [(ngModel)]="prefixosSelecionados"
        multiple="multiple"
        checkbox="checkbox"
        filter="filter"
        [listStyle]="{ 'max-height': '110px' }"
        optionLabel="Nome"
      >
        <p-header> Prefixos </p-header>
      </p-listbox>
    </div>
    <div class="p-col">
      <button type="button" pButton pRipple label="Inicial"></button>
      <p-calendar
        [(ngModel)]="dataInicio"
        selectionMode="single"
        dateFormat="dd/mm/yy"
        [locale]="locale_pt"
        showIcon="true"
        [inputStyle]="{ width: '100px' }"
      ></p-calendar>
    </div>
    <div class="p-col">
      <button type="button" pButton pRipple label="Final"></button>
      <p-calendar
        [(ngModel)]="dataFim"
        selectionMode="single"
        dateFormat="dd/mm/yy"
        [locale]="locale_pt"
        showIcon="true"
        [inputStyle]="{ width: '100px' }"
      ></p-calendar>
    </div>
    <div class="p-col">
      <button type="button" pButton pRipple label="Penaliza"></button>
      <p-inputSwitch [(ngModel)]="penaliza"> </p-inputSwitch>
    </div>
    <div class="p-col">
      <button
        pButton
        type="button"
        icon="pi pi-search"
        iconPos="right"
        label="Perquisar"
        (click)="rodarRelatorio()"
      ></button>
    </div>
    <div class="p-col">
      <button
        type="button"
        label="Exportar"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="botao-excel p-button-success mr-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button>
    </div>
  </div>
</div>

<app-cabecalho-impressao
  titulo="TABELA DE INDISPONIBILIDADES"
  class="d-print"
></app-cabecalho-impressao>

<div id="dataTable" *ngIf="dados">
  <p-table [columns]="cols" [value]="dados">
    <ng-template pTemplate="caption">
      Período de {{ dataIniciof | date: "dd/MM/yyyy" }} até
      {{ dataFimf | date: "dd/MM/yyyy" }}
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width]="col.width" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Data</th>
        <th>Prefixo</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Tempo</th>
        <th>Motivo</th>
        <th>Penaliza</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.Data | date: "dd/MM/yyyy" }}</td>
        <td>{{ item.PrefixoCompleto }}</td>
        <td>{{ item.Inicio | date: "dd/MM/yyyy HH:mm" }}</td>
        <td>{{ item.Termino | date: "dd/MM/yyyy HH:mm" }}</td>
        <td>{{ item.Indisponibilidade }}</td>
        <td>{{ item.DescricaoDoMotivo }}</td>
        <td>{{ item.Penaliza }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
