<div class="content">

  <div class="search">
    <label class="radio" for="grau">
      <input type="radio" id="grau" name="tipoSearch" [(ngModel)]="formatoLocalidade" (change)="onChangeFormato()"
        value="GMS">
      Gruas, minutos e segundos
    </label>

    <label class="radio" for="decimalMinuto">
      <input type="radio" id="decimalMinuto" name="tipoSearch" [(ngModel)]="formatoLocalidade" (change)="onChangeFormato()"
        value="DM">
      Decimal de Minutos
    </label>

    <label class="radio" for="decimalGrau">
      <input type="radio" id="decimalGrau" name="tipoSearch" [(ngModel)]="formatoLocalidade" (change)="onChangeFormato()"
        value="DG">
      Decimal de Graus
    </label>
  </div>

  <div class="search">
    <label for="nome">
      Nome:
      <input type="text" name="nome" id="nome" [(ngModel)]="search.Nome">
    </label>

    <label for="icao">
      ICAO:
      <input type="text" name="icao" id="icao" [(ngModel)]="search.ICAO">
    </label>

    <label for="tipo">
      Tipo:
      <select name="tipo" id="tipo" [(ngModel)]="search.Tipo">
        <option value="">---</option>
        <option *ngFor="let tipolocal of listaLocalidade" value="{{tipolocal.Id}}">{{tipolocal.Nome}}</option>
      </select>
    </label>

    <button class="btn btn-search" (click)="onSearchLocalidade()">
      <img alt="Search" src="assets/icons/search.svg">
    </button>

    <button class="btn btn-new">
      +
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Excluir</th>
        <th>Nome</th>
        <th>NomeICAO</th>
        <th>Tipo de Localidade</th>
        <th>Latitude</th>
        <th>-</th>
        <th>Longitude</th>
        <th>-</th>
        <th>Altitude Pressão</th>
        <th>Resistência</th>
        <th>Altura</th>
        <th>Classe</th>
        <th>Atualização</th>
        <th>Frequencia Rádio</th>
        <th>Max ACFT</th>
        <th>Declinação Magnetica</th>
        <th>Favoritar</th>
        <th>Revisado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let localidade of localidades" [ngClass]="{'excluir': !localidade.Ativo}">
        <td>
          <input type="checkbox" name="excluir" (change)="onRemoveLocalidade(localidade)">
        </td>
        <td>
          <input type="text" name="nome" [(ngModel)]="localidade.Nome">
        </td>
        <td>
          <input type="text" name="nome" [(ngModel)]="localidade.NomeICAO">
        </td>
        <td>
          <select name="tipoLocalidade" [(ngModel)]="localidade.TipoDeLocalidade.Id">
            <option value="">---</option>
            <option *ngFor="let tipolocal of listaLocalidade" value="{{tipolocal.Id}}">{{tipolocal.Nome}}</option>
          </select>
        </td>
        <td>{{localidade.LatitudeStr}}</td>
        <td>{{localidade.LatitudeH}}</td>
        <td>{{localidade.LongitudeStr}}</td>
        <td>{{localidade.LongitudeH}}</td>
        <td>
          <input type="number" name="altitude" min="0" step="0.1" [(ngModel)]="localidade.AltitudePressao">
        </td>
        <td>
          <input type="number" name="resistencia" min="0" step="0.1" [(ngModel)]="localidade.ResistenciaDoPiso">
        </td>
        <td>
          <input type="number" name="altura" min="0" step="0.1" [(ngModel)]="localidade.AlturaDoHeliponto">
        </td>
        <td>
          <input type="number" name="classe" min="0" step="0.1" [(ngModel)]="localidade.Classe">
        </td>
        <td>{{localidade.Atualizacao | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
          <input type="number" name="frequencia" min="0" step="0.1" [(ngModel)]="localidade.FrequenciaNavegacao">
        </td>
        <td>
          <input type="number" name="diametro" min="0" step="0.1" [(ngModel)]="localidade.DiametroAreaDePouso">
        </td>
        <td>
          <input type="number" name="declinacao" min="0" step="0.1" [(ngModel)]="localidade.DeclinacaoMagnetica">
        </td>
        <td>
          <input type="checkbox" name="favorito" style="display: inherit;" [(ngModel)]="localidade.Favorita">
        </td>
        <td>
          <input type="checkbox" name="revisado" style="display: inherit;" [(ngModel)]="localidade.Revisado">
        </td>
      </tr>
    </tbody>
  </table>
</div>
