<app-loading *ngIf="loading"></app-loading>
<div class="content">
  <svg id="salvar" width="32px" height="32px" viewBox="0 0 512 512" (click)="onSendLocalidade()">
    <g>
      <rect x="248" y="352" width="16" height="96"></rect>
      <path d="M399.3,183.6c0-1.2,0.2-2.4,0.2-3.6c0-64.3-52.8-116.4-116.8-116.4c-46.1,0-85.8,27.1-104.4,66.3
        c-8.1-4.1-17.1-6.4-26.8-6.4c-29.6,0-54.1,23.6-58.9,52C57.4,187.6,32,222.2,32,261.8c0,49.7,40.1,90.2,89.6,90.2H182h31h35V205.8
        l-54.7,54.5l-11.6-11.6l74.5-74.3l74.5,74.3l-11.8,11.6L264,205.8V352h134c45,0,82-37.3,82-82.8C480,223.7,444.5,183.7,399.3,183.6
        z"></path>
    </g>
  </svg>

  <div class="search">
    <label class="radio" for="grau">
      <input type="radio" id="grau" name="tipoSearch" [(ngModel)]="tipoLocalidade" (change)="onChangeFormato()"
        value="GMS">
      Graus, Minutos e Segundos
    </label>

    <label class="radio" for="decimalMinuto">
      <input type="radio" id="decimalMinuto" name="tipoSearch" [(ngModel)]="tipoLocalidade" (change)="onChangeFormato()"
        value="DM">
      Decimal de Minutos
    </label>

    <label class="radio" for="decimalGrau">
      <input type="radio" id="decimalGrau" name="tipoSearch" [(ngModel)]="tipoLocalidade" (change)="onChangeFormato()"
        value="DG">
      Decimal de Graus
    </label>
  </div>

  <div class="search">
    <label for="nome">
      Nome:
      <input type="text" name="nome" id="nome" [(ngModel)]="search.Nome">
    </label>

    <label for="icao">
      ICAO:
      <input type="text" name="icao" id="icao" [(ngModel)]="search.ICAO">
    </label>

    <label for="tipo">
      Tipo:
      <select name="tipo" id="tipo" [(ngModel)]="search.Tipo">
        <option value="">---</option>
        <option *ngFor="let tipolocal of listaLocalidade" value="{{tipolocal.Id}}">{{tipolocal.Nome}}</option>
      </select>
    </label>

    <button class="btn btn-search" (click)="onSearchLocalidade()">
      <img alt="Search" src="assets/icons/search.svg">
    </button>

    <button class="btn btn-new">
      +
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Excluir</th>
        <th>Nome</th>
        <th>NomeICAO</th>
        <th>Tipo de Localidade</th>
        <th>Latitude</th>
        <th>-</th>
        <th>Longitude</th>
        <th>-</th>
        <th>Altitude Pressão</th>
        <th>Resistência</th>
        <th>Altura</th>
        <th>Classe</th>
        <th>Atualização</th>
        <th>Frequencia Rádio</th>
        <th>Max ACFT</th>
        <th>Declinação Magnetica</th>
        <th>Favoritar</th>
        <th>Revisado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let localidade of localidades" [ngClass]="{'excluir': !localidade.Ativo}">
        <td>
          <input type="checkbox" name="excluir" (change)="onRemoveLocalidade(localidade)">
        </td>
        <td>
          <input type="text" name="nome" [(ngModel)]="localidade.Nome">
        </td>
        <td>
          <input type="text" name="nomeICAO" [(ngModel)]="localidade.NomeICAO">
        </td>
        <td>
          <select name="tipoLocalidade" [(ngModel)]="localidade.TipoDeLocalidade.Id">
            <option value="">---</option>
            <option *ngFor="let tipolocal of listaLocalidade" value="{{tipolocal.Id}}">{{tipolocal.Nome}}</option>
          </select>
        </td>
        <td>
          <input type="text" name="latitude" maxlength="10" [(ngModel)]="localidade.LatitudeStr"
            [textMask]="{mask: longitudeMask}">
        </td>
        <td>{{localidade.LatitudeH}}</td>
        <td>
          <input type="text" name="longitude" maxlength="10" [(ngModel)]="localidade.LongitudeStr"
            [textMask]="{mask: longitudeMask}">
        </td>
        <td>{{localidade.LongitudeH}}</td>
        <td>
          <input type="number" (change)="onChangeLocalidade(localidade)" name="altitude" min="0" step="0.100"
            [(ngModel)]="localidade.AltitudePressao">
        </td>
        <td>
          <input type="number" (change)="onChangeLocalidade(localidade)" name="resistencia" min="0" step="0.100"
            [(ngModel)]="localidade.ResistenciaDoPiso">
        </td>
        <td>
          <input type="number" (change)="onChangeLocalidade(localidade)" name="altura" min="0" step="0.100"
            [(ngModel)]="localidade.AlturaDoHeliponto">
        </td>
        <td>
          <input type="number" (change)="onChangeLocalidade(localidade)" name="classe" min="0" step="0.100"
            [(ngModel)]="localidade.Classe">
        </td>
        <td>{{localidade.Atualizacao | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>
          <input type="number" (change)="onChangeLocalidade(localidade)" name="frequencia" min="0" step="0.100"
            [(ngModel)]="localidade.FrequenciaNavegacao">
        </td>
        <td>
          <input type="number" (change)="onChangeLocalidade(localidade)" name="diametro" min="0" step="0.100"
            [(ngModel)]="localidade.DiametroAreaDePouso">
        </td>
        <td>
          <input type="number" (change)="onChangeLocalidade(localidade)" name="declinacao" min="0" step="0.100"
            [(ngModel)]="localidade.DeclinacaoMagnetica">
        </td>
        <td>
          <input type="checkbox" (change)="onChangeLocalidade(localidade)" name="favorito" style="display: inherit;"
            [(ngModel)]="localidade.Favorita">
        </td>
        <td>
          <input type="checkbox" (change)="onChangeLocalidade(localidade)" name="revisado" style="display: inherit;"
            [(ngModel)]="localidade.Revisado">
        </td>
      </tr>
    </tbody>
  </table>

  <app-paginacao [perPage]="perPage" [currentPage]="currentPage" [total]="total" (changePage)="onChangePage($event)">
  </app-paginacao>
</div>
