.content {
  display: flex;
  margin-top: 55px;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 25px;
}

.search {
  display: flex;
  width: 90%;
  margin: 15px 0;
  justify-content: space-around;
  align-items: end;
}

#salvar {
  position: fixed;
  top: 5px;
  right: 25px;
  cursor: pointer;
  fill: #157dfb;
  z-index: 2;
}

.excluir {
  background-color: #e5bfb9;
  /* width: 40px;
  height: 35px;
  line-height: 0; */
}

.btn-search {
  background-color: #84c4ff;
  line-height: initial;
}

.btn-search>img {
  width: 70%;
}

.btn-new {
  background-color: #1fce45;
  font-weight: bold;
  width: 40px;
  height: 35px;
}

.radio {
  display: flex;
  align-items: center;
}

.radio>input {
  margin-right: 10px;
}

td>input[type='text'],
td>input[type='number'] {
  width: 75px;
}
