.content {
  display: flex;
  margin-top: 55px;
  align-items: center;
  flex-flow: column wrap;
  padding: 0 25px;
}

#salvar {
  position: fixed;
  top: 5px;
  right: 25px;
  cursor: pointer;
  fill: #157dfb;
  z-index: 2;
}

.acesso {
  width: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.acesso>label {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.label {
  margin: 10px 0;
}

.label>input,
.label>select {
  width: 300px;
}
