<app-loading *ngIf="loading"></app-loading>
<div class="page">

  <svg id="salvar" width="32px" height="32px" viewBox="0 0 512 512" (click)="salvarDario()">
    <g>
      <rect x="248" y="352" width="16" height="96"></rect>
      <path d="M399.3,183.6c0-1.2,0.2-2.4,0.2-3.6c0-64.3-52.8-116.4-116.8-116.4c-46.1,0-85.8,27.1-104.4,66.3
		c-8.1-4.1-17.1-6.4-26.8-6.4c-29.6,0-54.1,23.6-58.9,52C57.4,187.6,32,222.2,32,261.8c0,49.7,40.1,90.2,89.6,90.2H182h31h35V205.8
		l-54.7,54.5l-11.6-11.6l74.5-74.3l74.5,74.3l-11.8,11.6L264,205.8V352h134c45,0,82-37.3,82-82.8C480,223.7,444.5,183.7,399.3,183.6
		z"></path>
    </g>
  </svg>

  <h3>
    Primeira Página
  </h3>
  <div class="form">
    <label for="data">Data</label>
    <input type="date" name="data" id="data" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null" [(ngModel)]="dataDiario.DataDoDiario">
  </div>
  <div class="form">
    <label for="prefixo">Prefixo</label>
    <select id="prefixo" name="prefixo" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null" [(ngModel)]="dataDiario.Prefixo.Id"
      (change)="getBlocos()">
      <option value="">Prefixo</option>
      <option *ngFor="let prefixo of prefixos" value="{{prefixo.Id}}">{{prefixo.PrefixoCompleto}}</option>
    </select>
  </div>
  <div class="form">
    <label for="nDiario">Nº Diário</label>
    <select id="nDiario" name="nDiario" [(ngModel)]="dataDiario.NumeroDoDiario" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
      <option value="">Nº Diário</option>
      <option *ngFor="let bloco of blocos" value="{{bloco.Numero}}">{{bloco.Numero}}</option>
    </select>
  </div>
  <div class="form">
    <label for="nFolhaDiario">Folha Diário</label>
    <select id="nFolhaDiario" name="nFolhaDiario" [(ngModel)]="dataDiario.NumeroDaFolha" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
      <option value="">Folha Diário</option>
      <option *ngFor="let folha of folhaDiario()" value="{{folha}}">{{folha}}</option>
    </select>
  </div>
  <div class="form" style="justify-content: center;line-height: 25px;">
    <label for="fechar">Fechar</label>
    <input type="checkbox" name="fechar" id="fechar" [(ngModel)]="dataDiario.Fechado" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>
  <div class="form" style="justify-content: center;line-height: 25px;">
    <label for="cancelar">Cancelar</label>
    <input type="checkbox" name="cancelar" id="cancelar" [(ngModel)]="dataDiario.Cancelada" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>
</div>

<div class="page">
  <h3>Base</h3>
  <div class="form form-3">
    <label for="base">Base</label>
    <input type="text" name="base" id="base" [(ngModel)]="dataDiario.BaseDeOperacao" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>
</div>

<div class="page">
  <h3>Procedimento</h3>
  <div id="procedimento">
    <table>
      <tr>
        <td rowspan="2"></td>
        <td colspan="2">
          <label for="tripulante1">Tripulante 1</label>
          <select name="tripulante1" id="tripulante1" style="width: 100%" [(ngModel)]="dataDiario.Trip1.Id"
            [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
            <option value="">Tripulante</option>
            <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">{{tripulante.Trato}}</option>
          </select>
        </td>
        <td colspan="2">
          <label for="tripulante2">Tripulante 2</label>
          <select name="tripulante2" id="tripulante2" style="width: 100%" [(ngModel)]="dataDiario.Trip2.Id"
            [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
            <option value="">Tripulante</option>
            <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">{{tripulante.Trato}}</option>
          </select>
        </td>
        <td colspan="2">
          <label for="tripulante3">Tripulante 3</label>
          <select name="tripulante3" id="tripulante3" style="width: 100%" [(ngModel)]="dataDiario.Trip3.Id"
            [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
            <option value="">Tripulante</option>
            <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">{{tripulante.Trato}}</option>
          </select>
        </td>
        <td colspan="2">
          <label for="tripulante4">Tripulante 4</label>
          <select name="tripulante4" id="tripulante4" style="width: 100%" [(ngModel)]="dataDiario.Trip4.Id"
            [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
            <option value="">Tripulante</option>
            <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">{{tripulante.Trato}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>D</td>
        <td>N</td>
        <td>D</td>
        <td>N</td>
        <td>D</td>
        <td>N</td>
        <td>D</td>
        <td>N</td>
      </tr>
      <tr *ngFor="let procedimento of dataDiario.Procedimentos; index as i">
        <td *ngIf="i === 0">Deco. Offshore</td>
        <td *ngIf="i === 1">Pouso Offshore</td>
        <td *ngIf="i === 2">Deco. Onshore</td>
        <td *ngIf="i === 3">Pouso Onshore</td>
        <td>
          <input id="decoffp1d" [(ngModel)]="procedimento.Diurno1p" min="0" max="100" type="tel" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
        </td>
        <td>
          <input id="decoffp1n" [(ngModel)]="procedimento.Noturno1p" min="0" max="100" type="tel" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
        </td>
        <td>
          <input id="decoffp2d" [(ngModel)]="procedimento.Diurno2p" min="0" max="100" type="tel" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
        </td>
        <td>
          <input id="decoffp2n" [(ngModel)]="procedimento.Noturno2p" min="0" max="100" type="tel" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
        </td>
        <td>
          <input id="decoffp3d" [(ngModel)]="procedimento.Diurno3p" min="0" max="100" type="tel" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
        </td>
        <td>
          <input id="decoffp3n" [(ngModel)]="procedimento.Noturno3p" min="0" max="100" type="tel" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
        </td>
        <td>
          <input id="decoffp4d" [(ngModel)]="procedimento.Diurno4p" min="0" max="100" type="tel" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
        </td>
        <td>
          <input id="decoffp4n" [(ngModel)]="procedimento.Noturno4p" min="0" max="100" type="tel" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="page">
  <h3>Performance</h3>

  <p class="text-center text-error" style="width: 100%">
    Os valores de N1 devem ser digitados com
    todos os dígitos incluindo a casa decimal.
    <br>
    Exemplos:
    <br>
    Para entrar 100,5 digite 1005
    <br>
    Para entrar 101 digite 1010
    OAT
  </p>

  <div class="form">
    <label for="oat">OAT</label>
    <input type="tel" minlength="4" maxlength="4" name="oat" id="oat" [(ngModel)]="dataDiario.OAT" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>

  <div class="form">
    <label for="q">Q (%)</label>
    <input type="tel" minlength="4" maxlength="4" name="q" id="q" [(ngModel)]="dataDiario.Q" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>

  <div class="form">
    <label for="n11">N1 #1</label>
    <input type="tel" minlength="4" maxlength="4" name="n11" id="n11" [(ngModel)]="dataDiario.N1_1" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>

  <div class="form">
    <label for="n12">N1 #2</label>
    <input type="tel" minlength="4" maxlength="4" name="n12" id="n12" [(ngModel)]="dataDiario.N1_2" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>

  <div class="form">
    <label for="t51">T5 #1</label>
    <input type="tel" minlength="4" maxlength="4" name="t51" id="t51" [(ngModel)]="dataDiario.T5_1" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>

  <div class="form">
    <label for="t52">T5 #2</label>
    <input type="tel" minlength="4" maxlength="4" name="t52" id="t52" [(ngModel)]="dataDiario.T5_2" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>

  <div class="form">
    <label for="rpm">RPM</label>
    <input type="tel" minlength="4" maxlength="4" name="rpm" id="rpm" [(ngModel)]="dataDiario.RPM" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>

  <div class="form">
    <label for="tgt">TGT</label>
    <input type="tel" minlength="4" maxlength="4" name="tgt" id="tgt" [(ngModel)]="dataDiario.TGT" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
  </div>
</div>

<div class="page">
  <h3>Linhas</h3>

  <div style="overflow-x:auto;">
    <table class="table-linha">
      <thead>
        <tr>
          <td>#</td>
          <td>De</td>
          <td>Para</td>
          <td>Partida</td>
          <td>Decolagem</td>
          <td>Pouso</td>
          <td>Corte</td>
          <td>Diurno</td>
          <td>Noturno</td>
          <td>IFR Capota</td>
          <td>IFR Real</td>
          <td>VFR</td>
          <td>Total</td>
          <td>Pousos</td>
          <td>Ciclos</td>
          <td>Pax (Número)</td>
          <td>Carga (Kg)</td>
          <td>Tripulante 1</td>
          <td>Função 1</td>
          <td>Tripulante 2</td>
          <td>Função 2</td>
          <td>Natureza</td>
          <td>Cliente</td>
          <td>Tipo de Operação</td>
          <td>Comb. na Decolagem(Lb)</td>
          <td>Comb. no Pouso(Lb)</td>
          <td>Consumo de Combustível</td>
          <td>Comb. Abastecido (Litros)</td>
          <td>Nota de Abastecimento</td>
          <td>Abastecedora</td>
        </tr>
      </thead>
      <tbody *ngIf="dataDiario.Linhas && dataDiario.Linhas.length">
        <tr *ngFor="let linha of dataDiario.Linhas; index as i">
          <td>{{i+1}}</td>
          <td>
            <input type="text" [(ngModel)]="linha.OrigemDeclarada" name="de" id="de" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="text" [(ngModel)]="linha.DestinoDeclarado" name="para" id="para" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="Partida" id="Partida" [(ngModel)]="linha.Partida" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="Decolagem" id="Decolagem" [(ngModel)]="linha.Decolagem" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="Pouso" id="Pouso" [(ngModel)]="linha.Pouso" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="Corte" id="Corte" [(ngModel)]="linha.Corte" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="Diurno" id="Diurno" value="{{Diurno(i)}}" readonly [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="Noturno" id="Noturno" [(ngModel)]="linha.Noturno" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="IFRC" id="IFRC" [(ngModel)]="linha.IFRC" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="IFRR" id="IFRR" [(ngModel)]="linha.IFRR" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="vfr" id="vfr" value="{{VFR(i)}}" readonly [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="time" name="total" id="total" value="{{totalLinha(i)}}" readonly [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="number" min="0" name="Pousos" id="Pousos" [(ngModel)]="linha.Pousos" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="number" min="0" name="Ciclos" id="Ciclos" [(ngModel)]="linha.Ciclos" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="number" min="0" name="Pax" id="Pax" [(ngModel)]="linha.Pax" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <input type="number" min="0" name="Carga" id="Carga" [(ngModel)]="linha.Carga" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
          </td>
          <td>
            <select name="tripulante1" id="tripulante1" [(ngModel)]="linha.Comandante.Id" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
              <option value="">Tripulante 1</option>
              <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">{{tripulante.Trato}}</option>
            </select>
          </td>
          <td>
            <select name="funcao1" id="funcao1" [(ngModel)]="linha.FuncaoTrip1.Id" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
              <option value="">Função 1</option>
              <option *ngFor="let funcao of funcaoBordos" value="{{funcao.Id}}">{{funcao.Nome}}</option>
            </select>
          </td>
          <td>
            <select name="tripulante2" id="tripulante2" [(ngModel)]="linha.PrimeiroOficial.Id" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
              <option value="">Tripulante 2</option>
              <option *ngFor="let tripulante of tripulantes" value="{{tripulante.Id}}">{{tripulante.Trato}}</option>
            </select>
          </td>
          <td>
            <select name="funcao2" id="funcao2" [(ngModel)]="linha.FuncaoTrip2.Id" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
              <option value="">Função 2</option>
              <option *ngFor="let funcao of funcaoBordos" value="{{funcao.Id}}">{{funcao.Nome}}</option>
            </select>
          </td>
          <td>
            <select name="natureza" id="natureza" [(ngModel)]="linha.Natureza" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
              <option value="">Natureza</option>
              <option *ngFor="let natureza of naturezas" value="{{natureza.Id}}">{{natureza.Nome}}</option>
            </select>
          </td>
          <td>
            <select name="cliente" id="cliente" [(ngModel)]="linha.Cliente.Id" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
              <option value="">Cliente</option>
              <option *ngFor="let cliente of clientes" value="{{cliente.Id}}">{{cliente.Nome}}</option>
            </select>
          </td>
          <td>
            <select name="tipoOperacao" id="tipoOperacao" [(ngModel)]="linha.TipoDeOperacao.Id" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null">
              <option value="">Tipo de Operação</option>
              <option *ngFor="let tipoDeOperacao of tipoDeOperacoes" value="{{tipoDeOperacao.Id}}">{{tipoDeOperacao.Nome}}</option>
            </select>
          </td>
          <td>{{linha.FuelDec}}</td>
          <td>{{linha.FuelPou}}</td>
          <td>{{linha.ConsumoDeCombustivel}}</td>
          <td>{{linha.QuantidadeAbastecida}}</td>
          <td>{{linha.NotaDeAbastecimento}}</td>
          <td>
            <select name="abastecedora" id="abastecedora" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null"
              [(ngModel)]="linha.Abastecedora.Id">
              <option value="">Abastecedora</option>
              <option *ngFor="let abastecedora of abastecedoras" value="{{abastecedora.Id}}">{{abastecedora.Nome}}</option>
            </select>
          </td>
        </tr>
        <tr style="background: #c6c6c6;height: 30px;font-weight: bold;">
          <td>TOTAL</td>
          <td colspan="2"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{totalColunaHora('Diurno')}}</td>
          <td>{{totalColunaHora('Noturno')}}</td>
          <td>{{totalColunaHora('IFRC')}}</td>
          <td>{{totalColunaHora('IFRR')}}</td>
          <td>{{totalColunaHora('vfr')}}</td>
          <td>{{totalTotal()}}</td>
          <td>{{totalColunaNumber('Pousos')}}</td>
          <td>{{totalColunaNumber('Ciclos')}}</td>
          <td>{{totalColunaNumber('Pax')}}</td>
          <td>{{totalColunaNumber('Carga')}}</td>
          <td colspan="7"></td>
          <td></td>
          <td></td>
          <td>{{totalColunaNumber('ConsumoDeCombustivel')}}</td>
          <td>{{totalColunaNumber('QuantidadeAbastecida')}}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form" style="margin: 15px 0">
    <label for="Ocorrencias">Ocorrências</label>
    <textarea [(ngModel)]="dataDiario.Ocorrencias" name="Ocorrencias" cols="100" rows="35" [attr.disabled]="!dataDiario.PermiteAlteracao ? '' : null"></textarea>
  </div>
</div>
