<app-titulo titulo="BI" [carregando]="!tudoPronto"></app-titulo>


<p-toast position="center"></p-toast>

<p-toolbar class="m-4 align-items-start">

    <div class="p-toolbar-group-left">
        <button type="button" pButton pRipple label="Inicial"></button>
        <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true" class="mr-2"></p-calendar>
    
        <button type="button" pButton pRipple label="Final" class="p-ml-2"></button>
        <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true" class="mr-2"></p-calendar>
        <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
            class="p-ml-2"></button>
    </div>
    
</p-toolbar>

<p-toolbar class="m-4">
    Selecione o período e clique em PESQUISAR.
</p-toolbar>