.paginacao {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
}

.paginacao input[name="currentPage"] {
  display: inline;
  padding: 7px 0px;
  font-size: 14px;
  line-height: 25px;
  border-radius: 5px;
  text-align: center;
  margin: 0 30px;
}

.paginacao div {
  border: solid 1px #cbcbcb;
  padding: 8px;
  border-radius: 5px;
  margin-left: 30px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
