<app-titulo></app-titulo>

<p-card class=" p-text-center">
    <div class="p-mb-4">
        <button type="button" pButton pRipple label="Inicio"></button>
        <p-calendar [(ngModel)]="dataIni" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
            [inputStyle]="{'width':'150px'}"></p-calendar>
        <button type="button" pButton pRipple label="Fim" class="p-ml-2"></button>
        <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
            [inputStyle]="{'width':'150px'}"></p-calendar>
    </div>

    <p-pickList [source]="tripulantes" [target]="selectedValues" sourceHeader="Disponível" targetHeader="Selecionado"
        [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}"
        filterBy="Trato" sourceFilterPlaceholder="Buscar por nome" targetFilterPlaceholder="Buscar por nome">
        <ng-template let-trip pTemplate="item">
            <div class="product-item">
                <div class="product-list-detail">
                    {{trip.Trato}}
                </div>
            </div>
        </ng-template>
    </p-pickList>

    <p-message *ngIf="selectedValues.length == 0" severity="warn" text="*Obrigatório selecionar ao menos um tripulante"
        class="p-d-block p-mb-2 p-mt-4"></p-message>
    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
        class="p-mt-2" [disabled]="selectedValues.length == 0"></button>
</p-card>

<p-chart *ngIf="data" type="line" [data]="data" (onDataSelect)="selectData($event)" width="98vw" height="80vh">
</p-chart>

<div *ngFor="let trip of resultado">

    <p-table [value]="trip.Analises">
        <ng-template pTemplate="caption">
            {{trip.Trato}}
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Data</th>
                <th>FadigaInicial</th>
                <th>FadigaFinal</th>
                <th>AnaliseDaPontuacao</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.Data | date:'dd/MM/yyyy'}}</td>
                <td>{{product.FadigaInicial}}</td>
                <td>{{product.FadigaFinal}}<span *ngIf="product.Simulado">*</span></td>
                <td>{{product.AnaliseDaPontuacao}}</td>
            </tr>
        </ng-template>
    </p-table>

</div>