<div class="content">
  <div class="questao">
    <p>Oportunidade de sono?</p>
    <div class="resposta">
      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="3.75" id="1">
      <label for="1">1h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="7.50" id="2">
      <label for="2">2h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="11.25" id="3">
      <label for="3">3h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="15" id="4">
      <label for="4">4h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="18.75" id="5">
      <label for="5">5h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="22.50" id="6">
      <label for="6">6h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="26.25" id="7">
      <label for="7">7h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="30.0" id="8">
      <label for="8">8h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="30.00" id="9">
      <label for="9">9h</label>

      <input type="radio" name="hora" [(ngModel)]="oportunidadeSono" value="30.000" id="10">
      <label for="10">10h</label>
    </div>
  </div>

  <div class="questao">
    <p>Qualidade do sono?</p>
    <div class="resposta">
      <input type="radio" name="sono" [(ngModel)]="qualidadeSono" value="1" id="bom">
      <label for="bom">Bom</label>

      <input type="radio" name="sono" [(ngModel)]="qualidadeSono" value="0.75" id="moderado">
      <label for="moderado">Moderado</label>

      <input type="radio" name="sono" [(ngModel)]="qualidadeSono" value="0.5" id="ruim">
      <label for="ruim">Ruim</label>
    </div>
  </div>

  <div class="navegacao">
    <a routerLink="/" class="btn">Anterior</a>
    <a routerLink="/questionario" class="btn">Próximo</a>
  </div>

</div>