.content{
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 15px;
    width: 80%;
}

.resposta {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.resposta > input {
    display: none;
}

.resposta > input + label {
    padding: 15px;
    border-radius: 5%;
}

.resposta > input:checked + label {
    background-color: #cfcfcf;
}

.resposta > label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    justify-content: space-evenly;
}

p{
    font-size: 1.5em;
}

.navegacao > a:last-child{
    background-color: #00ce89;
}