<div>
  <p>Oportunidade de sono?</p>
  <label for="1">
    <input type="radio" name="hora" value="1" id="1"> 1h
  </label>
  <label for="2">
    <input type="radio" name="hora" value="2" id="2"> 2h
  </label>
  <label for="3">
    <input type="radio" name="hora" value="3" id="3"> 3h
  </label>
  <label for="4">
    <input type="radio" name="hora" value="4" id="4"> 4h
  </label>
  <label for="5">
    <input type="radio" name="hora" value="5" id="5"> 5h
  </label>
  <label for="6">
    <input type="radio" name="hora" value="6" id="6"> 6h
  </label>
  <label for="7">
    <input type="radio" name="hora" value="7" id="7"> 7h
  </label>
  <label for="8">
    <input type="radio" name="hora" value="8" id="8"> 8h
  </label>
  <label for="9">
    <input type="radio" name="hora" value="9" id="9"> 9h
  </label>
  <label for="10">
    <input type="radio" name="hora" value="10" id="10"> 10h
  </label>
</div>
<div>
  <p>Qualidade do sono?</p>
  <label for="bom">
    <input type="radio" name="sono" value="bom" id="bom"> Bom
  </label>
  <label for="moderado">
    <input type="radio" name="sono" value="moderado" id="moderado"> Moderado
  </label>
  <label for="ruim">
    <input type="radio" name="sono" value="ruim" id="ruim"> Ruim
  </label>
</div>
<div class="navegacao">
  <button>Anterior</button>
  <button>Próximo</button>
</div>