<div class="content">
  <div class="questao">
    <label for="oportunidadeSono">Oportunidade de sono?</label>
    <div class="resposta">
      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="1" id="oportunidadeSono1">
      <label for="oportunidadeSono1">1h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="2" id="oportunidadeSono2">
      <label for="oportunidadeSono2">2h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="3" id="oportunidadeSono3">
      <label for="oportunidadeSono3">3h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="4" id="oportunidadeSono4">
      <label for="oportunidadeSono4">4h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="5" id="oportunidadeSono5">
      <label for="oportunidadeSono5">5h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="6" id="oportunidadeSono6">
      <label for="oportunidadeSono6">6h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="7" id="oportunidadeSono7">
      <label for="oportunidadeSono7">7h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="8" id="oportunidadeSono8">
      <label for="oportunidadeSono8">8h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="9" id="oportunidadeSono9">
      <label for="oportunidadeSono9">9h</label>

      <input type="radio" name="oportunidadeSono" [(ngModel)]="oportunidadeSono" value="10" id="oportunidadeSono10">
      <label for="oportunidadeSono10">10h</label>
    </div>
  </div>

  <div class="questao">
    <label for="">Quantidade de sono?</label>
    <div class="resposta">
      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="1" id="quantidadeSono1">
      <label for="quantidadeSono1">1h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="2" id="quantidadeSono2">
      <label for="quantidadeSono2">2h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="3" id="quantidadeSono3">
      <label for="quantidadeSono3">3h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="4" id="quantidadeSono4">
      <label for="quantidadeSono4">4h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="5" id="quantidadeSono5">
      <label for="quantidadeSono5">5h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="6" id="quantidadeSono6">
      <label for="quantidadeSono6">6h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="7" id="quantidadeSono7">
      <label for="quantidadeSono7">7h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="8" id="quantidadeSono8">
      <label for="quantidadeSono8">8h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="9" id="quantidadeSono9">
      <label for="quantidadeSono9">9h</label>

      <input type="radio" name="quantidadeSono" [(ngModel)]="quantidadeSono" value="10" id="quantidadeSono10">
      <label for="quantidadeSono10">10h</label>
    </div>
  </div>

  <div class="questao">
    <label for="qualidadeSono">Qualidade do sono?</label>
    <div class="resposta">
      <input type="radio" name="qualidadeSono" [(ngModel)]="qualidadeSono" value="1" id="bom">
      <label for="bom">Bom</label>

      <input type="radio" name="qualidadeSono" [(ngModel)]="qualidadeSono" value="2" id="moderado">
      <label for="moderado">Moderado</label>

      <input type="radio" name="qualidadeSono" [(ngModel)]="qualidadeSono" value="3" id="ruim">
      <label for="ruim">Ruim</label>
    </div>
  </div>

  <div class="navegacao">
    <a routerLink="/" class="btn">Anterior</a>
    <button (click)="onClickProximo()" [ngClass]="{'btn': true, 'disable': !(this.user && this.oportunidadeSono && this.qualidadeSono)}">Próximo</button>
  </div>

</div>