<app-titulo titulo="DAILY FLIGHT TIME CONTROL" [carregando]="(!consulta_ok)"></app-titulo>

<div class="container d-print-none">

    <div class="row ml-1">
        <div class="col-sm-6 col-lg-4">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">Data</span>
                </div>
                <p-calendar [(ngModel)]="data" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                    showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
            </div>
        </div>

        <div class="col-sm-6 col-lg-2">
            <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar"
                (click)="rodarRelatorio()"></button>
        </div>



    </div>


</div>