.content .questoes div:nth-child(2n+1){
  background-color: #f1f1f1;
}

.content .questoes div:nth-child(2n) {
  background-color: #fcfcfc;
}

.content > .navegacao > button:last-child{
  background-color: #00ce89;
}

@media (max-height: 740px){
  .content {
    margin-top: 50px;
  }
}
