<app-titulo [titulo]="titulo" [carregando]="(!consulta_ok)"></app-titulo>

<p-toolbar>
    <div class="p-toolbar-group-start mt-2">
        <span class="p-float-label mr-2">
            <p-calendar [(ngModel)]="dataReferencia" dateFormat="dd/mm/yy" id="data" [disabled]="!consulta_ok"></p-calendar>
            <label htmlFor="data">Data de Referência</label>
        </span>
        <span class="p-float-label mr-2">
            <input pInputText id="meses" [(ngModel)]="limiteEmMeses" />
            <label htmlFor="meses">Limite em meses</label>
        </span>
        <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
            [disabled]="!consulta_ok"></button>
    </div>
</p-toolbar>


<!-- <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr *ngFor="let item of dados">
            <td>{{item.Certificado.Nome}}</td>
            <td>{{item.Tripulante.Trato}}</td>
            <td>{{item.ValorExibido}}</td>
        </tr>
</table> -->



<p-table [value]="dados" (sortFunction)="customSort($event)" [customSort]="true" styleClass="p-datatable-striped">

    <ng-template pTemplate="caption">
        {{titulo}}
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="Certificado.Nome"><p-sortIcon field="Certificado.Nome"></p-sortIcon>
                Curso
            </th>
            <th pSortableColumn="Tripulante.Trato"><p-sortIcon field="Tripulante.Trato"></p-sortIcon>
                Tripulante
            </th>
            <th pSortableColumn="DataDeVencimento"><p-sortIcon field="DataDeVencimento"></p-sortIcon>
                Vencimento
            </th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="Certificado.Nome">Curso</p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="Tripulante.Trato">Tripulante</p-columnFilter>
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td (click)="editarVencimento(rowData)">
                {{rowData.Certificado.Nome}}
            </td>
            <td (click)="editarVencimento(rowData)">
                {{rowData.Tripulante.Trato}}
            </td>
            <td (click)="editarVencimento(rowData)">
                {{rowData.ValorExibido}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <b>SOL SISTEMAS</b>
    </ng-template>
</p-table>

<div *ngIf="valorEditado && exibirModal">
    <p-dialog [header]="valorEditado.Tripulante.Trato + ' - ' + valorEditado.Certificado.Nome.toUpperCase()"
        [(visible)]="exibirModal" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <app-editar-vencimento [dados]="valorEditado" (retorno)="retornoCarteira($event)">
        </app-editar-vencimento>
    </p-dialog>
</div>

<p-toast position="top-center" key="tc"></p-toast>