<app-titulo [titulo]="titulo" [carregando]="(!consulta_ok)"></app-titulo>


<p-card>
    <span class="p-float-label">
        <p-calendar [(ngModel)]="dataReferencia" dateFormat="dd/mm/yy" id="data" [disabled]="!consulta_ok"></p-calendar>
        <label htmlFor="data">Data de Referência</label>
        <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
            [disabled]="!consulta_ok"></button>
    </span>
</p-card>




<p-dialog [(visible)]="vencimentoEditado" [style]="{width: '450px'}" header="Vencimento" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <h4>{{vencimentoEditado.Trato}}</h4>
        <h4>{{vencimentoEditado.Nome}}</h4>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">Vencimento</span>
            </div>
            <p-inputMask [mask]="vencimentoEditado.Mascara" [(ngModel)]="vencimentoEditado.ValorExibido"
                [disabled]="vencimentoEditado.NaoControlado"></p-inputMask>

        </div>


        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">N/A</span>
                <p-inputSwitch [(ngModel)]="vencimentoEditado.NaoControlado"></p-inputSwitch>
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hide()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
<p-table [value]="dados" (sortFunction)="customSort($event)" [customSort]="true" styleClass="p-datatable-striped">

    <ng-template pTemplate="caption">
        {{titulo}}
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <!-- <th style="width:50px"></th> -->
            <th pSortableColumn="Nome"><p-sortIcon field="code"></p-sortIcon>
                Curso
            </th>
            <th pSortableColumn="Trato"><p-sortIcon field="code"></p-sortIcon>
                Tripulante
            </th>
            <th pSortableColumn="DataDeVencimento"><p-sortIcon field="code"></p-sortIcon>
                Vencimento
            </th>

        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="Nome">Curso</p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="Trato">Tripulante</p-columnFilter>
            </th>
            <th>

            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <!-- <td>
                <p-checkbox [value]="rowData.Id" [(ngModel)]="valoresSelecionados" class="d-print-none"
                    (click)="verBotoes()"></p-checkbox>
            </td> -->

            <td (click)="editarVencimento(rowData)">
                {{rowData["Nome"]}}
            </td>


            <td (click)="editarVencimento(rowData)">
                {{rowData["Trato"]}}
            </td>


            <td (click)="editarVencimento(rowData)">
                {{rowData["ValorExibido"]}}
            </td>



        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <b>SOL SISTEMAS</b>
    </ng-template>
</p-table>