.input-group-append {
    text-align: center;
}

.input-group-text {
    width: 60px;
}

/* td{
    text-align: center;
    font-size: 12px;
} */

td {
    /* max-width: 100px; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
}

th {
    /* max-width: 100px; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
}

@media print {
    @page {
        size: landscape
    }
    td {
        /* max-width: 100px; */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
        white-space: nowrap;
        text-align: center;
        font-size: 8px;
    }
    th {
        /* max-width: 100px; */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
        white-space: nowrap;
        text-align: center;
        font-size: 8px;
    }
}