label{
    padding: 10px;
    font-size: 1.2rem;
    width: 70%;
    background-color: #d4d4d4;
    margin: 15px 0;
}

input {
    display: none;
}

input:checked+label{
    background: #dbdbdb;
    padding: 5px;
    border: 5px solid #b9b9b9;
}

.navegacao > button{
    background-color: #00ce89;
}

.navegacao > button:disabled{
    background-color: #466359;
}