<app-titulo titulo="GERENCIAR TRIPULANTES" [carregando]="carregando"></app-titulo>
<br>
<div class="grid">    
    <div class="col-3">        
        <button type="button" pButton pRipple label="Filtrar"></button>
        <input pInputText type="text" [(ngModel)]="filtro" (input)="filtrar($event)" placeholder="Trato, ANAC ou Matrícula">
    </div>
    <div class="col-3 div-checkbox">
        <input type="checkbox" [(ngModel)]="bolinhaCinza" (change)="filtrarBolinhas()">
        <div class="bolinha" ngClass="cinza"></div>

        <input type="checkbox" [(ngModel)]="bolinhaVermelha" (change)="filtrarBolinhas()">
        <div class="bolinha" ngClass="vermelha"></div>

        <input type="checkbox" [(ngModel)]="bolinhaAmarela" (change)="filtrarBolinhas()">
        <div class="bolinha" ngClass="amarela"></div>

        <input type="checkbox" [(ngModel)]="bolinhaVerde" (change)="filtrarBolinhas()">
        <div class="bolinha" ngClass="verde"></div>
    </div>
    <div class="col-4">
        <button class="novo-tripulante" pButton type="button" icon="pi pi-plus" label="Novo Tripulante" (click)="exibirDialogoNovo()"></button>
        <button class="p-button-danger" pButton type="button" icon="pi pi-trash" label="Excluir Selecionados" (click)="exibirDialogoExclusao()" *ngIf="botaoExcluir"></button>
    </div>
</div>

<div class="tabela" *ngIf="tripulantes">

    <p-table [columns]="colunas" [value]="tripulantes" [scrollable]="true"
        scrollHeight="70vh" id="" frozenHeight="200px" class="tabela">        
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns; let i = index" class="coluna">
                    {{col}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td><input type="checkbox" (change)="marcarCheckboxTripulante($event,rowData)"></td>
                <td (click)="exibirDialogoEdicao(rowData)">{{rowData.Trato}}</td>
                <td (click)="exibirDialogoEdicao(rowData)">{{rowData.CodigoANAC}}</td>
                <td (click)="exibirDialogoEdicao(rowData)">{{rowData.Matricula}}</td>                
                <td (click)="exibirDialogoEdicao(rowData)"><div class="bolinha" ngClass="{{rowData.Cor}}"></div></td>
                <!--<td>
                    <button pButton type="button" icon="pi pi-arrow-right" label="Editar" (click)="exibirDialogoEdicao(rowData)"></button>
                    <button pButton type="button" icon="pi pi-trash" label="Excluir" class="p-button-danger" (click)="exibirDialogoExclusao(rowData)"></button>
                </td>-->
            </tr>
        </ng-template>
    </p-table>

</div>

<p-dialog header="Excluir Tripulante" [(visible)]="exibirDialogo" [modal]="true" [baseZIndex]="10000" (onHide)="ocultarDialogoExclusao()">    
    <h5>
        Realmente deseja excluir os Tripulante selecionados?
    </h5>
    <div class="botoes">
        <button pButton type="button" icon="pi pi-arrow-left" label="Não Excluir" class="p-button-light" (click)="ocultarDialogoExclusao()"></button>
        <button pButton type="button" icon="pi pi-trash" label="Excluir" class="p-button-danger" (click)="excluirTripulante()"></button>
    </div>
</p-dialog>

<p-dialog [style]="{'width':'95%', 'height':'95%'}" *ngIf="exibirEdicao" header="EDITAR TRIPULANTES" [(visible)]="exibirEdicao" [modal]="true" [baseZIndex]="10000" (onHide)="ocultarDialogoEdicao()">
    <app-editar-gerenciar-tripulantes [tripulanteSelecionado]="tripulanteSelecionado" (retorno)="ocultarDialogoEdicao()">
    </app-editar-gerenciar-tripulantes>
</p-dialog>