/* .vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body{  
  font-family: helvetica;
} */

@media print {
  .nao-imprimir {
    display: none;
  }
  app-titulo {
    display: none;
  }
}

@media screen {
  .somente-impressora {
    display: none;
  }
}