/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  height: calc(100vh - 45px);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

input,
select,
textarea {
  display: block;
  height: 25px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  height: 35px;
}

.btn {
  border-radius: 3px;
  border-width: 0px;
  box-sizing: border-box;
  color: #444444 !important;
  font-size: inherit;
  height: 2.28571em;
  line-height: 2.28571em;
  max-width: 100%;
  padding: 0px 8px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

input:focus {
  border: 1px solid #82bbfc;
}

app-login,
app-loading {
  align-items: center;
  display: flex;
  width: 100%;
}

app-diario-bordo,
app-diario-editar,
app-biblioteca,
app-papeleta,
app-pagamento {
  width: 100%;
}

app-loading {
  z-index: 9999;
  background-color: #50505080;
  position: fixed;
  top: 0;
  height: 100%;
}

.menu {
  height: 45px;
  background-color: #f7f7f9;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#voltar {
  margin-left: 10px;
}

.home {
  margin-top: 45px;
}

.noShow {
  display: none;
}

.flatpickr-calendar .cancelar {
  background-color: #aa3f3f;
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  text-transform: uppercase;
  color: #f1f1f1;
  font-weight: bold;
}

.flatpickr-calendar {
  position: fixed !important;
}

@media print {
  .no-print {
    display: none;
  }
}
