<app-titulo [titulo]="titulo"></app-titulo>

<div class="container" *ngIf="tratamento">

    <div *ngIf="tratamento.Encerrada">
        <h3>{{tratamento.Liberado ? 'Liberado para escala' : 'Fora da Escala'}}</h3>
      </div>
  
  
      <div *ngIf="tratamento.SomenteLeitura">
        {{tratamento.Status}}
      </div>
  


  <div *ngIf="exibirPesquisa">
    <div *ngIf="tratamento.Pesquisa.ReporteVoluntario">
      <h4>Reporte Voluntário</h4>

      <div *ngIf=encerrado>
          <h3>{{liberado ? 'Liberado para escala' : 'Fora da Escala'}}</h3>
        </div>

      <div *ngFor="let info of tratamento.Resultado" class="mb-4">
        <h6>{{info.Pergunta}}</h6>
        <span>{{info.Resposta}}</span>
      </div>

    </div>

    <div *ngIf="!tratamento.Pesquisa.ReporteVoluntario">

      <div *ngFor="let info of tratamento.Resultado">
        <h5>{{info.Titulo}}</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Pergunta</th>
              <th>Resposta</th>
              <th *ngIf="info.Perguntas[0].Pergunta.indexOf('/') > 0"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let perg of info.Perguntas">
              <td>{{perg.Pergunta}}</td>
              <td>{{perg.Resposta}}</td>
              <td *ngIf="info.Pagina === 2">
                <img *ngIf="perg.Pergunta.indexOf('/') > 0" style="width: 30px"
                  src="/assets/img/emoticon{{perg.Resposta}}.png" alt="emoticon">
              </td>
              <td *ngIf="info.Pagina === 3">
                <img style="width: 30px" src="/assets/img/sono{{perg.Resposta}}.png" alt="emoticon">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <button class="btn btn-error" style="width: 100%" (click)="closeTratamentoFadiga()">Cancelar / Fechar</button> -->
  </div>


  <div *ngIf="!exibirPesquisa && tratamento.Nivel != 1">




    <div *ngIf="!tratamento.Encerrada && !tratamento.SomenteLeitura">

    <form [formGroup]="fg">

      <div *ngIf="faseChefe || faseGerente">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Ação:</span>
          </div>
          <textarea formControlName="Acao" class="form-control" aria-label="Ação:"></textarea>
        </div>



        <div class="input-group mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Continua na Escala</span>
          </div>
          <label for="sim">SIM</label><input id="sim" type="radio" value="true" formControlName="Liberado">
          <label for="nao">NÃO</label><input id="nao" type="radio" value="false" formControlName="Liberado">
        </div>


      </div>

      <div class="input-group mt-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Comentário:</span>
        </div>
        <textarea formControlName="Comentario" class="form-control" aria-label="Comentário:"></textarea>
      </div>

      <div *ngIf="resposta && faseCoord">
        <div *ngFor="let resp of resposta.ResponsavelEscala; let i = index">
          <input type="radio" [id]="i" formControlName="ResponsavelEscala" [value]="resp.Email" />
          <label [for]="i"> {{ resp.Trato}} - {{ resp.Email }} </label>
        </div>
      </div>

    </form>

  </div>

    <hr>

    <div *ngFor="let historico of tratamento.Avaliacoes; index as i" [ngClass]="{'back-alternative': i % 2 === 0}">
      <h6><b>{{historico.Usuario}}</b> em {{historico.Data | date: 'dd/MM/yyyy hh:mm:ss'}}</h6>


      <h5 *ngIf="historico.Acao">
        <h6>Ação tomada:</h6>{{ historico.Acao}}
      </h5>
      <h6>Comentário:</h6>{{historico.Comentario}}
      <hr>
    </div>

    <!-- <button class="btn btn-info" [ngClass]="{'btn-select' : exibirPesquisa}"
    (click)="exibirPesquisa = true" *ngIf="!exibirPesquisa">Pesquisa</button>
  <button class="btn btn-info" [ngClass]="{'btn-select' : !exibirPesquisa}"
    (click)="exibirPesquisa = false" *ngIf="exibirPesquisa">Tratamento</button> -->


  </div>


  <!-- <pre> {{ fg.value | json }}</pre>

  <pre> {{ fg.valid }}</pre> -->

</div>


<nav class="navbar fixed-bottom navbar-light bg-light justify-content-end" *ngIf="!loading" >
  <button [routerLink]="dataString" class="btn btn-info">Voltar</button>
  <button (click)="exibirPesquisa = !exibirPesquisa" class=" ml-1 btn btn-info" *ngIf="!exibirPesquisa">Pesquisa</button>
  <button (click)="exibirPesquisa = !exibirPesquisa" class=" ml-1 btn btn-info" *ngIf="exibirPesquisa && tratamento.Nivel != 1">Tratamento</button>
  <button (click)="postTratamento()" class="btn btn-success ml-1" [disabled]="!fg.valid" *ngIf="!tratamento.SomenteLeitura" >Salvar</button>
</nav>