
<!-- <app-loading *ngIf="loading"></app-loading> -->
<!-- <app-message></app-message> -->

<div class="content" *ngIf="tratamento">

  <div id="menu-tratamento" class="menu">
    <button class="btn btn-info" [ngClass]="{'btn-select' : exibirPesquisa}" (click)="exibirPesquisa = true">Pesquisa</button>
    <button class="btn btn-info" [ngClass]="{'btn-select' : !exibirPesquisa}" (click)="exibirPesquisa = false">Tratamento</button>
  </div>


  <div class="pesquisa" *ngIf="exibirPesquisa">
    <div *ngIf="tratamento.Pesquisa.ReporteVoluntario">        
      <h3>Reporte Voluntário</h3>

      <div *ngFor="let info of tratamento.Resultado">
          <h4>{{info.Titulo}}</h4>
          <ul>
          <li *ngFor="let opcao of info.Perguntas[0].Opcoes">{{opcao}}</li>
          </ul>
          <h5>{{info.Perguntas[0].Texto}}</h5>
      </div>

          
          
    </div>
    <!-- <div *ngFor="let resposta of tratamento.Pesquisa.Respostas">
        <h3>{{resposta.Titulo}}</h3> -->

    <div *ngIf="!tratamento.Pesquisa.ReporteVoluntario">
      
      <div *ngFor="let info of tratamento.Resultado">
        <h3>{{info.Titulo}}</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Pergunta</th>
              <th>Resposta</th>
              <th *ngIf="info.Perguntas[0].Pergunta.indexOf('/') > 0"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let perg of info.Perguntas">
              <td>{{perg.Pergunta}}</td>
              <td>{{perg.Resposta}}</td>
              <td *ngIf="info.Pagina === 2">
                <img *ngIf="perg.Pergunta.indexOf('/') > 0" style="width: 30px"
                  src="/assets/img/emoticon{{perg.Resposta}}.png" alt="emoticon">
              </td>
              <td *ngIf="info.Pagina === 3">
                  <img style="width: 30px" src="/assets/img/sono{{perg.Resposta}}.png"
                  alt="emoticon">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <button class="btn btn-error" style="width: 100%" (click)="closeTratamentoFadiga()">Cancelar / Fechar</button> -->
  </div>
  
  
  <div class="pesquisa" *ngIf="!exibirPesquisa">

    <div *ngIf=encerrado>
        <h3>{{liberado ? 'Liberado para escala' : 'Fora da Escala'}}</h3>
    </div>


<div *ngIf=tratamento.SomenteLeitura>
  {{tratamento.Status}}
</div>

    <form action="" class="form" style="margin-top: 50px" *ngIf="!tratamento.Evento.Encerrada && !tratamento.SomenteLeitura" >
      
       <div *ngIf="faseChefe || faseGerente"> 

        <label for="txtAcao">Ação:</label>
        <textarea name="Acao" id="txtAcao" [(ngModel)]="resposta.Acao"></textarea>


        <span>
          Continua na escala:<br/>

          <label for="liberado">
            Sim: <input type="radio" id="liberado" name="Liberado" value="true" [(ngModel)]="resposta.Liberado">
          </label>

          <label for="liberado">
            Não: <input type="radio" id="liberado" name="Liberado" value="false" [(ngModel)]="resposta.Liberado">
          </label>

        </span>
    
       </div> 

       

       <div *ngIf="faseCoord"> 

        <div *ngFor="let resp of resposta.ResponsavelEscala" style="display: block;">
          <input type="checkbox" name="resp" [(ngModel)]="resp.Selected" style="display: inline; vertical-align: middle">
          <label for="resp" style="display: inline;" >{{resp.Trato}} ({{resp.Email}}) </label>         
        </div>
          
       </div>

       

      <label for="txtComentario">Comentário:</label>
      <textarea name="Comentario" id="txtComentario" [(ngModel)]="resposta.Comentario"></textarea>

       <button class="btn btn-send" (click)="postTratamento()">Enviar</button>
        
    </form>



    <hr>

    <div *ngFor="let historico of tratamento.Avaliacoes; index as i" [ngClass]="{'back-alternative': i % 2 === 0}">
      <h6>{{historico.Usuario}} em {{historico.Data | date: 'dd/MM/yyyy hh:mm:ss'}}</h6>

      
      <h5 *ngIf="historico.Acao"> 
        <h6>Ação tomada:</h6>{{ historico.Acao}}
      </h5>
      <h6>Comentário:</h6>{{historico.Comentario}}
      <hr>
    </div>
  </div>

</div>

