<app-loading *ngIf="loading"></app-loading>
<div class="home">
  <a routerLink="/publicacao">
    Gerenciar Publicações
  </a>
  <div>
    Minhas Publicações
  </div>
  <a routerLink="/relatorio-voo">
    Relatório de Voo
  </a>
  <a routerLink="/vencimento-carteira">
    Vencimento de Carteiras
  </a>
  <a routerLink="/papeleta">
    Papeleta
  </a>
  <a routerLink="/relatorio-pagamento">
    Relatório de Pagamento
  </a>
  <div>
    Relatório de Experiencia
  </div>
  <div>
    Escala Diária
  </div>
  <a routerLink="/escala-prevista">
    Escala Prevista Diária
  </a>
  <hr style="width: 95%;border: 1px solid #bfbfbf;">
  <div>
    Trocar Senha
  </div>
  <div (click)="logoff()">
    Logoff
  </div>
</div>
