<!-- <app-loading *ngIf="loading"></app-loading> -->
<div class="home" *ngIf="exibir">
  <img [src]="urlLogo" [alt]="clienteLogado" style="max-height: 100px;">
</div>

<p-accordion [multiple]="true">
  <p-accordionTab header="Relatórios" [selected]="true">
    <ul>
      <li>
        <a *ngIf="isEnable('fadiga')" routerLink="/fadiga">
          Fadiga
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('analise-de-risco')" routerLink="/analise-de-risco">
          Avaliação de Risco
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('quadro-de-tripulantes')" routerLink="/quadro-de-tripulantes">
          Quadro de Tripulantes
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('pax-transportados')" routerLink="/pax-transportados">
          Pax Transportados
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('tipo-pergunta')" routerLink="/tipo-pergunta">
          Tipo de Pergunta
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('pergunta')" routerLink="/pergunta">
          Pergunta
        </a>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="Coordenação" [selected]="true">
    <ul>
      <li>
        <a *ngIf="isEnable('relatorio-voo')" routerLink="/relatorio-voo">
          Relatório de Voo
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('relatorio-voo-periodo')" routerLink="/relatorio-voo-periodo">
          Relatório de Voo por Período
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('bloco')" routerLink="/bloco">
          Bloco
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('papeleta')" routerLink="/papeleta">
          Papeleta
        </a>
      </li>
      <li>
        <a *ngIf="isEnable('relatorio-pagamento')" routerLink="/relatorio-pagamento">
          Relatório de Pagamento
        </a>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="Ferramentas" [selected]="true">
    <ul>
      <li>
        <a routerLink="/troca-senha">
          Trocar Senha
        </a>
      </li>
      <li><a href="#" (click)="logoff()">Logoff</a></li>
      <!-- mais links -->
    </ul>
  </p-accordionTab>
</p-accordion>