
<div class="home" *ngIf="exibir">
  <img [src]="urlLogo" [alt]="urlLogo" style="max-height: 100px;">
</div>



<p-accordion [multiple]="true" >


  <p-accordionTab *ngFor="let item of menu" [header]="item.Grupo" [selected]="true">
    <li *ngFor="let link of item.Lista" >
      <a *ngIf="isEnable(link.Rota) && !link.Novo" [routerLink]="['/'+ link.Rota]">
        {{link.Nome}}
      </a>
      <a *ngIf="isEnable(link.Rota) && link.Novo" [routerLink]="['/'+ link.Rota]">
        <b>{{link.Nome}}</b>
      </a>
    </li>
  </p-accordionTab>