ul {
  list-style-type: none;
  padding: 0;
  background: #fff;
}
#menu{
  background-color: #E7E7E7;

}

a {
  display: block;
  padding: 14px 10px 10px 10px;
  border-bottom: 1px solid #E7E7E7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
}
a:hover, a:active {
  color: #058cf5; 
}
a:after {
  content: "〉";
  float: right;
  color: #808080;
  font-size: 16px;
  text-shadow: 1px 0 1px #808080;
}
  a:hover:after, a:hover:after {
      color: #fff;
      text-shadow: 1px 0 1px #fff;
  }

/* IGNORE: CodePen only */
body {margin:0;}


.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0px;
}

.home div,
.home a {
  width: 350px;
  margin: 5px 0;
  padding: 5px;
  text-align: center;
  background: #e3e3e3;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}


.home div:nth-child(2n),
.home a:nth-child(2n) {
  background: #f3f3f3;
}



@media (max-width: 580px) {}
