.questao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
}

.questao > span:first-child{
    background-color: #75c118;
    margin-right: 5px;
}

.questao > span:last-child{
    background-color: #ff0001;
    margin-left: 5px;
}

.questao > span{
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 5px;
    min-width: 145px;
    width: 200px;
    text-align: center;
    color: #303030;
}

.questao > label{
    padding: 10px;
    border-radius: 25%;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.questao > input {
    display: none;
}

.questao > input:checked+label{
    background: #dbdbdb;
    padding: 5px;
    border: 5px solid #b9b9b9;
}

.questao > label > img{
    width: 50%;
    height: 50%;
}