<div class="questao">
  <span>
    {{questao.respostaBoa}}
  </span>

  <input type="radio" attr.name="{{questao.name}}" [checked]="(questao.value === '1')" (change)="onSelect($event)" value="1"
    id="{{questao.name}}1" required>
  <label for="{{questao.name}}1">
    <img src="../../assets/img/emoticon1.svg" alt=""> 1
  </label>

  <input type="radio" attr.name="{{questao.name}}" [checked]="(questao.value === '2')" (change)="onSelect($event)" value="2"
    id="{{questao.name}}2" required>
  <label for="{{questao.name}}2">
    <img src="../../assets/img/emoticon2.svg" alt=""> 2
  </label>

  <input type="radio" attr.name="{{questao.name}}" [checked]="(questao.value === '3')" (change)="onSelect($event)" value="3"
    id="{{questao.name}}3" required>
  <label for="{{questao.name}}3">
    <img src="../../assets/img/emoticon3.svg" alt=""> 3
  </label>

  <input type="radio" attr.name="{{questao.name}}" [checked]="(questao.value === '4')" (change)="onSelect($event)" value="4"
    id="{{questao.name}}4" required>
  <label for="{{questao.name}}4">
    <img src="../../assets/img/emoticon4.svg" alt=""> 4
  </label>

  <input type="radio" attr.name="{{questao.name}}" [checked]="(questao.value === '5')" (change)="onSelect($event)" value="5"
    id="{{questao.name}}5" required>
  <label for="{{questao.name}}5">
    <img src="../../assets/img/emoticon5.svg" alt=""> 5
  </label>

  <span>
    {{questao.respostaMa}}
  </span>
</div>