<app-titulo titulo="Registros de Acesso" [carregando]="carregando"></app-titulo>

<p-card class="nao-imprimir">
    <button type="button" pButton pRipple label="Data"></button>
    <p-calendar [(ngModel)]="dataSelecionada" selectionMode="single" dateFormat="dd/mm/yy" showIcon="true"
        [inputStyle]="{'width':'150px'}"></p-calendar>
    
    <button type="button" pButton pRipple label="Funcionalidade" class="ml-2"></button>
    <p-dropdown [options]="funcionalidades" [(ngModel)]="funcionalidadeSelecionada" [filter]="true" [style]="{'width':'250px'}"></p-dropdown>
    
    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar" (click)="rodarRelatorio()"
        class="ml-2"></button>    
</p-card>


<p-toolbar *ngIf="!registros && !nenhumRegistroEncontrado" class="m-4 nao-imprimir">
    Selecione a data e clique em PESQUISAR.
</p-toolbar>

<p-toolbar *ngIf="!registros && nenhumRegistroEncontrado" class="m-4 nao-imprimir">
    Nenhum registro encontrado!
</p-toolbar>

<div class="tabela" *ngIf="registros && !nenhumRegistroEncontrado">

    <p-table [value]="registros">
        <ng-template pTemplate="header">
            <tr>
                <th>Usuário</th>
                <th>IP</th>
                <th>Data</th>
                <th>URL</th>
                <th>Funcionalidade</th>
                <!--<th>Tempo</th>-->
            </tr>
        </ng-template>        
        <ng-template pTemplate="body" let-registro>
            <tr>
                <td>{{registro.UsuarioLogado}}</td>
                <td>
                    <span *ngIf="registro.IpRequest == '::1'">127.0.0.1</span>
                    <span *ngIf="registro.IpRequest != '::1'">{{registro.IpRequest}}</span>                    
                </td>
                <td>{{registro.HoraRequest | date:'dd/MM/yyyy HH:mm'}}</td>                                
                <td>{{registro.UrlRequest}}</td>
                <td>{{registro.Funcionalidade}}</td>                
            </tr>
        </ng-template>        
    </p-table>

</div>