<div class="content pagebreak">

  <div class="grid">
    <div class="col-md-2">
      <img src="assets/img/aeroleo.svg" alt="Logo Aéroleo"> <br>
    </div>
    <div class="col-md-2 offset-md-8">
      Revisão: 04 <br>
      Data: 20/03/2020 <br>
    </div>
  </div>

  <div class="grid" style="margin-top: 15px;">
    <div class="col-md-12">
      <h4>
        Manual de Procedimentos da Garantia da Qualidade
      </h4>
      <hr class="hr-line">
    </div>
  </div>

  <div class="grid">
      <div class="col-md-12">
          <h2 class="text-center">
              Conteúdo Currícular Apresentado
          </h2>
      </div>
  </div>

  <div class="grid">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
            <tr>
                <th>Data</th>
                <th>Título</th>
                <th>Carga Horária</th>
                <th>Visto</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conteudo of mostrarConteudo(); index as i">
            <td>{{ diasTurma[iPeriodo] | date:'dd/MM/yyyy' }}</td>
            <td>{{ conteudo.nome }}</td>
            <td>{{ conteudo.cargaHoraria | date:'HH:mm' }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid" style="display: block;">
    <div class="col-md-12">
      <h3>Observações do INSTRUTOR:</h3>
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>Nome: {{turma.Instrutor.nomeCompleto}}</td>
            <td>Assinatura: </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
