<app-titulo titulo="Consumo de combustível" [carregando]="!tudoPronto"></app-titulo>

<div class="container d-print-none">

    <div class="row ml-1">
        <div class="col-sm-6 col-lg-2">

            <p-listbox [options]="clientes" [(ngModel)]="clientesSelecionados" multiple="multiple" checkbox="checkbox"
                filter="filter" [listStyle]="{'max-height':'110px'}" optionLabel="Nome">
                <p-header>
                    Clientes
                </p-header>
            </p-listbox>

        </div>
        <div class="col-sm-6 col-lg-2">

            <p-listbox [options]="prefixos" [(ngModel)]="prefixosSelecionados" multiple="multiple" checkbox="checkbox"
                filter="filter" [listStyle]="{'max-height':'110px'}" optionLabel="Nome">
                <p-header>
                    Prefixos
                </p-header>
            </p-listbox>

        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">Inicial</span>
                </div>
                <p-calendar [(ngModel)]="dataInicio" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                    showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">Final</span>
                    </div>
                    <p-calendar [(ngModel)]="dataFim" selectionMode="single" dateFormat="dd/mm/yy" [locale]="locale_pt"
                        showIcon="true" [inputStyle]="{'width':'100px'}"></p-calendar>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">Nº do CE</span>
                    </div>
                    <input type="text" [(ngModel)]="CE">
                </div>


            </div>
        </div>


        <div class="col-sm-6 col-lg-2">
            <button pButton type="button" icon="pi pi-search" iconPos="right" label="Perquisar"
                (click)="rodarRelatorio()"></button>
        </div>



    </div>


</div>

<div *ngIf="tudoPronto">

    <div *ngIf="filtroRetorno">
        <p-table>
            <ng-template pTemplate="caption">
                Periodo de: {{filtroRetorno.dataInicio | date:'dd/MM/yyyy'}} até
                {{filtroRetorno.dataFim | date:'dd/MM/yyyy'}}
            </ng-template>
        </p-table>
    </div>

    <div *ngFor="let cliente of dados">


        			

        <p-table styleClass="p-datatable-gridlines">
            <!-- <ng-template pTemplate="caption">
                {{cliente.Cliente}}
            </ng-template> -->
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="3">Cliente</th>
                    <th>Hr. Voo</th>
                    <th>Abastecido (Lts)</th>
                    <th>Consumido (Lbs)</th>
                </tr>
                <tr>
                    <th colspan="3">{{cliente.Cliente}}</th>
                    <th>{{cliente.HrVoo}}</th>
                    <th>{{cliente.Abastecido | number}}</th>
                    <th>{{cliente.Consumo | number}}</th>
                </tr>
            </ng-template>
        </p-table>

        <div *ngFor="let prefixo of cliente.Filhos">

            <p-table [value]="prefixo.Filhos" styleClass="p-datatable-gridlines" [columns]="cols">
                <ng-template pTemplate="caption">
                    {{prefixo.Prefixo}}
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" [style.width]="col.width">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Data</th>
                        <th>Nº RDV</th>
                        <th>Abastecimento</th>
                        <th>Hr. Voo</th>
                        <th>Abastecido (Lts)</th>
                        <th>Consumido (Lbs)</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.Data | date:'dd/MM/yyyy'}}</td>
                        <td>{{product.RDV}}</td>
                        <td>{{product.Abastecimento}}</td>
                        <td>{{product.HrVoo}}</td>
                        <td>{{product.Abastecido | number}}</td>
                        <td>{{product.Consumo | number}}</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="footer" let-columns>
                    <tr>
                        <td colspan="3">
                            Total do {{prefixo.Prefixo}}
                        </td>
                        <td>
                            {{prefixo.HrVoo}}
                        </td>
                        <td>
                            {{prefixo.Abastecido | number}}
                        </td>
                        <td>
                            {{prefixo.Consumo | number}}
                        </td>
                    </tr>
                </ng-template>

            </p-table>

        </div>



    </div>

        
        <!-- <p-table [columns]="cols">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="3">
                        <span class="text-center">Cliente</span>
                    </th>
                    <th>
                        Hr. Voo
                    </th>
                    <th>
                        Abastecido (Lts)
                    </th>
                    <th>
                        Consumido (Lbs)
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td colspan="3">
                        <span class="text-center">{{cliente.Cliente}}</span>
                    </td>
                    <td>
                        {{cliente.HrVoo}}
                    </td>
                    <td>
                        {{cliente.Abastecido | number}}
                    </td>
                    <td>
                        {{cliente.Consumo | number}}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        

        <p-table [columns]="cols" [value]="prefixo.Filhos">
            <ng-template pTemplate="caption">
                Aeronave: {{prefixo.Prefixo}}
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-filho>


                <tr *ngFor="let rdv of prefixo.Filhos">
                    <td>
                        {{filho.Data | date:'dd/MM/yyyy' }}
                    </td>
                    <td>
                        {{filho.RDV}}
                    </td>
                    <td>
                        {{filho.Abastecimento}}
                    </td>
                    <td>
                        {{filho.HrVoo }}
                    </td>
                    <td>
                        {{filho.Abastecido | number}}
                    </td>
                    <td>
                        {{filho.Consumo | number}}
                    </td>
                </tr>

                
            </ng-template>

            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td colspan="3">
                        Total do {{prefixo.Prefixo}}
                    </td>
                    <td>
                        {{cliente.HrVoo}}
                    </td>
                    <td>
                        {{cliente.Abastecido | number}}
                    </td>
                    <td>
                        {{cliente.Consumo | number}}
                    </td>
                </tr>
            </ng-template>
            
        </p-table> -->

</div>